[2021-02-14 02:32] peterlimg opened #62 "[WIP] Persistencestore unit test error"
[code]

[2021-02-14 02:34] peterlimg opened #63 "Pay fee test error"
[code]

[2021-02-14 02:35] peterlimg opened #64 "Protocol round test error"
[code]

and many similar errors

[2021-02-14 02:37] peterlimg opened #65 "Test job hits limit 16mb"
Around 100K of the following line (a job hits limit 16mb of output)

[code]

[2021-02-14 02:38] peterlimg opened #66 "Magic Block hash is wrong"
[code]

[2021-02-14 02:39] peterlimg opened #67 "Test issue with redis"
Issues with Redis (couldn't connect during unit tests run)

[code]

[2021-02-14 03:55] peterlimg commented on #62
We see this error because the test code tries to connect to a real cassandra instance, which does not exist at all for unit tests. So we have to mock the cassandra instances.

Unfortunately, the gocql client package we are using does not use interfaces to communicate with cassandra, see details here https://github.com/gocql/gocql/issues/415#issuecomment-277530829. Hence, we will have to create int

[2021-02-15 18:08] kirillt commented on #65
I guess it should be fine when we fix `balance mismatch` itself, so maybe better to rename the issue. Output limit can be tuned in GitLab, of course, but I think 16mb should be more than enough for normal unit tests run.

[2021-02-15 18:10] kirillt commented on #67
Also here:
[code]

[2021-02-16 12:39] PatrickAlphaC opened #69 "Sharder not starting"
I am getting the following error when attempting to start the sharder.

[code]

I have followed the following steps:

1. Clone this repoi
2. `./docker.local/bin/init.setup.sh`
3. `./docker.local/bin/setup_network.sh`
4. `./docker.local/bin/build.base.sh`
5. `./docker.local/bin/build.miners.sh`
6. `./docker.local/bin/build.sharders.sh`
7. `./docker.local/bin/sync_clock.sh`
8. `cd docker.local/shard

[2021-02-25 04:39] Sriep opened #74 "node not found"
Unexpeted `node not found` errors apperaing

Peter reported investigtion in this [slack thread](https://0chain.slack.com/archives/G01FYNN6DK4/p1613282114002900)
`
The 'node not found' issue looks like benign, it would not stuck the BC at least. Even though, it would be great if we can resolve it. All of the errors that contain the 'node not found' are actually the same problem, they are all caused

[2021-02-25 06:03] shravanshetty1 opened #75 "Challenge does not fail/pass and stays open in some cases"
But something wierd is happening on two.devnet-0chain.net although it could be on all networks, where challenges are neither failed nor passed when the “challenge completion time” elapsed.
1. Take https://prod-node-201.fra.jbod.zeroservices.eu/blobber52/_stats for example
2. I have Challenge completion_time	2m0s
3. I have Open Challenges	12
4. There have more than >2min passed
5. Challenge is neit

[2021-02-25 15:06] shravanshetty1 commented on #75
https://github.com/0chain/0chain/pull/73

[2021-02-25 15:13] shravanshetty1 commented on #75
since two.devnet is using branch 'https_changes' - https://github.com/0chain/0chain/pull/76

[2021-02-26 03:56] peterlimg opened #77 "BLS sign VRF share: error in getting prev."
[code]

[2021-02-26 04:41] peterlimg commented on #77
This error occurs when it founds that its previous round has no random seed, this is fine as the previous round could be restarted and its seed will be re-initialized to 0. While one situation we need to avoid, which is the previous round is actually not restarted, but its seed is 0, which has been fixed on commit: https://github.com/0chain/0chain/commit/efc21d7ba06bae21872f4326149883a240f5179b.

[2021-02-26 04:46] peterlimg commented on #77
The remaining situation should be fine, as we can not stop the restarting of previous round due to the round's timeout.

[2021-02-26 04:46] #77 closed

[2021-02-26 05:01] peterlimg opened #78 "BC stucks for about 5s"
BC sometimes stuck for about 5 seconds, then move on again.

[2021-02-26 05:02] peterlimg commented on #78
This occurs when miners generate block 5 rounds ahead of sharders, then miners will have to wait till not ahead, so should be fine.

[2021-02-26 05:02] #78 closed

[2021-02-26 05:43] peterlimg opened #79 "BC gets stuck when VC:true"

[2021-02-26 05:47] peterlimg commented on #79
@guruhubb reported on slack:

[2021-02-26 05:48] peterlimg commented on #79
Perhaps the block is not available  error is not the reason why the BC get stuck, it an error caused by the BC stuck. I find logs that a miner keeps request a block of specific round for a long time, every request got the response with error of ‘block is not available’.  When a miner receives the block request, it would check the requested round and get the heaviest notarized block in that round,

[2021-02-26 14:25] shravanshetty1 opened #80 "Blobbers seem to be able to register twice"
Doing `zbox ls-blobbers` on three.devnet at the time of creating this issue shows that the same blobber has been registered twice with different ids.

[2021-02-26 14:32] shravanshetty1 opened #81 "Challenges should fail after some time if they have not been processed"

[2021-03-02 05:19] peterlimg opened #85 "viewChangePoolsWork run on VC:false cause BC stuck"
Check the changes here, https://github.com/0chain/0chain/commit/52b92356ffda66911b49e2ed2f35cdb0a5335e64#diff-6723731c1e90a62a21704463528[…]d7cfb4b2c30d5822aa5359fL419-R446.

The msc.viewChangePoolsWork would only run when block.Round == gn.ViewChange, while in this commit, it could also run when VC:false and do round reward. It is now repeatedly failed with the error of missing miner node: node n

[2021-03-02 09:23] Sriep opened #86 "Non converging VRF due to different round timeouts"
1. Start 4 miners, 1 sharder.
2. Bring miner2 down. BC should keep moving.
3. 15 seconds later bring miner3 down. BC stops.
4. Bring miner2 up (not miner3). BC gets stuck with no VRF changes with round timeouts. Generally a new round timeout should have new generators assigned with new VRF because you're using the counter increment to generate a new VRF.

[2021-03-02 09:25] Sriep commented on #86
On Jun 13, 2020, at 8:32 AM, Saswata Basu <saswata@0chain.net> wrote:
Hey Siva,
I think the round timeout still has an issue in the case where half the miners are on one round, and the other half on another. I think we need to revise the algorithm to have the miners stay in the last or most popular timeout round and not increment it by one, otherwise its a race condition which will never get resol

[2021-03-02 09:39] Sriep commented on #86
Saswata Basu [6:54 PM] Max  [2:12 AM]
Here the file main.go, to demo converging timeout by using my method. 100 nodes start with random timeout [0; 100] and randome delay in the range of 3 sec. This is emulation of restartRound, because for each node it happen for itself timing.
And here Ken’s And Siva’s solution (ken.go). In that case ony 5 nodes converging from 100.
That mean that math method do

[2021-03-02 09:40] Sriep commented on #86
[Ken's method](https://0chain.slack.com/files/U012NSXAYH3/F018554LMLG/ken.go?origin_team=T9C1E9JEB&origin_channel=D01NYCVANLC)
[Max's main.go](https://0chain.slack.com/files/U012NSXAYH3/F017MF9TD6Y/main.go)
:01
There two implentations that we had regarding the timeout logic - ken’s code and Max’s code (current). I’m not sure if Ken’s code had a problem but I think Max’s code doesnt work either.

[2021-03-02 11:24] shravanshetty1 commented on #81
Current flow:
1) Blobber gets challenge from smart contract
2) Blobber process challenge and validates it through validators
3) Challenge is sent back to smart contract. If the challenge has valid verification tickets .etc. the funds are released.

Currently smart contract tracks the time, if blobber takes longer than the challenge_completion_time to process the challenge the smart contract treats

[2021-03-02 12:37] shravanshetty1 commented on #75
Current flow:

1. Blobber gets challenge from smart contract
2. Blobber process challenge and validates it through validators
3. Challenge is sent back to smart contract. If the challenge has valid verification tickets .etc. the funds are released.

This issue seems to be caused by multiple other issues:
After reviewing the blobber stats page - https://one.devnet-0chain.net/blobber03/_stats

1. Mo

[2021-03-02 20:11] guruhubb commented on #75
Re 1, its likely that the chain is stuck or there are network issues. Check that.
Re 2, Yes agree, but if blobber has no data, then it should not even send the response to the validator. This way validator doesn't get paid and the rewards go back to the user. Follow the payment flow as well.
Re 3, This is a bigger problem in the sense that the validators are chosen randomly from the network. First

[2021-03-03 04:52] peterlimg commented on #85
A new situation is that even the viewChangePoolsWork works well or it's not being called, the BC could still get stuck, as the block generation process repeatedly failed due to the error of `node not found`. After checking the miners state, find that only miner01 has the full MPT state db on LFB,  miner02 and miner03 have vary degree of missing nodes. Though, sharders all have full MPT dbs.

[2021-03-03 17:54] guruhubb commented on #85
Perhaps miner should talk to sharders first to sync up state instead of other miners.

[2021-03-03 18:10] guruhubb commented on #81
Yes SC should fail challenge if they don't receive from blobber. This can be triggered via any crud action, which is the same process for generating challenge.

[2021-03-03 18:14] guruhubb commented on #80
The best way to handle this is heath check which keeps only one id alive. Check the SC and see why the old blobber is still there.

[2021-03-03 18:16] guruhubb commented on #79
It seems the same issue that you reported in your second comment for #85 where the state is not in sync in some of the miners. So sync with sharders first and then miners as a last resort.

[2021-03-03 18:17] guruhubb commented on #74
This bug is likely related to #79

[2021-03-03 18:23] guruhubb commented on #69
The steps should work. Were you able to resolved this?

If new code,
git pull
docker.local/bin/build.base.sh && docker.local/bin/build.sharders.sh && docker.local/bin/build.miners.sh

For existing code and if you have tried running once, make sure there are no previous files and processes.

docker stop $(docker ps -a -q)
docker.local/bin/clean.sh
docker.local/bin/init.setup.sh
docker.local/bin/syn

[2021-03-03 19:56] PatrickAlphaC commented on #69
I wasn't but I'm a little tied up to triage. Apologies!

[2021-03-04 15:47] shravanshetty1 opened #88 "Setting up chain fails on windows systems"
Shell scripts dont work as expected on windows system due to lf being converted to crlf.
Must add .gitattribute file enforcing lf as end of line charector.

[2021-03-05 01:05] peterlimg commented on #85
Yes, I'll check how they sync up state.

Also, I find the network two was stuck yesterday again. After checking the dumped mpt state of their last finalized block, I found the same situation: two miners have missing node err in db, one miner and two sharders have full state db.

[2021-03-05 05:37] peterlimg commented on #74
Found a problem about the `Missing State Sync process`, though it will sync state from network, but only the round about 100 (configurable) rounds prior to the current round will be synced. If the state prune process run after the current round encounters the ‘node not found’ issue, then the current round should be able to find the missing mpt nodes by traversing back the mpt dbs.

Apparently, the

[2021-03-05 13:08] #88 closed

[2021-03-06 08:16] shravanshetty1 opened #92 "Smart contract return 400 for every possible error"
Should return appropriate status code

[2021-03-09 05:15] peterlimg opened #95 "Problem about the chain.HandleRoundTimeout()"
https://github.com/0chain/0chain/blob/e82aa8db48f3642074bb08ee32ffa91f29085881/code/go/0chain.net/miner/protocol_round.go#L1142-L1146

This function will be called by RoundWorker when it detects round timeout, see code below. However, the round it gets could be a new round instead the timeout round that was found before. And if the current round is a new round, the code in the `HandleRoundTimeout`

[2021-03-09 21:06] Sriep commented on #86
Added a cap to the value returned by IncrementTimeoutCount configured in 0chain.yanl. Capping the maximum number of timeout forces convergence.

Fixed in https://github.com/0chain/0chain/pull/90/files and https://github.com/0chain/0chain/pull/91

[2021-03-09 21:35] Sriep opened #96 "Stopping and starting different miners results in stuck chain."
With `view_change = true`. 3 sharders 6 miners. master merged with fix-bc-stuck-two branch.

The first miner stopped usually behaves as expected. The chain does not get stuck either when the miner is stopped or when restarted.

If subsequently a different miner gets stopped then the chain stops. When the miner is restarted there is a high chance the chain will get stuck. Example error messages for

[2021-03-09 21:56] Sriep opened #97 "Stopping all miners and restarting results in stuck chain a few hundred round later"
With view_change = true. 3 sharders 6 miners. master merged with fix-bc-stuck-two branch.

Stop all miners.
Restart all miners

The chain starts up and looks ok, except a few hundred rounds later it get stuck permantly.
Typical errors
[code]
debug
[code]

[2021-03-10 06:43] #95 closed

[2021-03-11 01:15] #85 closed

[2021-03-11 05:50] peterlimg opened #99 "Add golang lint tool in CI (github actions)"
Golang lint tools are required to improve the code quality, we need to run the lint tool in CI(github actions). The recommended tool is `golangci-lint`.

[2021-03-11 05:52] peterlimg commented on #99
Also, we'd better run unit tests and integration tests in github actions so that we can see the result directly.

[2021-03-11 12:27] Sriep commented on #97
https://github.com/0chain/0chain/pull/94 seems to have eased the issues. However I am still seeing an issue with long running chain.
b0magicBlock_4_miners_1_sharder.json runing 3 sharders and 6 miners, view_change=true,
Start chain arnd run for upwards of 2500 rounds. Stop all miners, wait, restart all miners.
Chain stuck for 20+ and 40+ minues.
Errors
[code]

[2021-03-11 15:14] Sriep commented on #96
Tested agin after https://github.com/0chain/0chain/pull/94 Still not fixed. Stopping and restarting each miner in turn eventaully leves the chain stuck for 15+ mins.

Typical errors
[code]

[2021-03-12 05:23] peterlimg opened #102 "MagicBlock generate tool does not work"
The magic block tool refactoring #70 breaks the tool, there are mainly three issues:
- Yaml file is loaded but not used
- Nodes are not set up, which cause the generated magic block json file losts the miners and sharders data.
- New added `yaml.go` file in the main package will not be compiled by default, therefore, we will see 'structure not defined' error when build it.

[2021-03-12 05:42] #102 closed

[2021-03-12 09:24] Sriep opened #104 "Optimise storagesc smart contract."
# storagesc

Make sure interest rate, and earnings are correct for a delegate and stakers based on write and read price, slash rate, and they get rewarded min_demand even if client does not put any storage. Also try to optimize the smart contract code for faster execution, especially when there is invalid data such as bad ID (allocation, wallet, etc)

1. Does blobber delegate receive all the stora

[2021-03-12 09:31] Sriep commented on #104
Benchmark tests with 1000 miners and 1000 sharders done by a previous developer - in GitHub (find link)

#### Notes from the developer:
Just tested how fast the transactions for 1000 blobbers. It was 141ms. The databases were empty. If we load them with something transactions will take even more time. And those tests were on a synthetic system, not the real one so the real one could even longer on

[2021-03-12 16:35] shravanshetty1 opened #106 "Should easily be able to debug, miners and sharder in local environment"
Currently, if you need to debug - you will need to install all dependencies locally and run the miner and sharder outside docker.

However, the delve debugger allows us to attach the debugger to a remote process. The exact process will vary based on your editor. Here are articles for intllij and vscode.

https://blog.jetbrains.com/go/2019/02/06/debugging-with-goland-getting-started/#debugging-a-ru

[2021-03-12 17:37] guruhubb commented on #74
@peterlimg isn't this issue sorted out already? If so, please close it with reference to the commit.

[2021-03-12 19:30] shravanshetty1 opened #108 "Blockchain should timeout requests that have not been responded to in over 10 seconds"

[2021-03-13 03:12] peterlimg commented on #97
When we use 4 miners 1 sharder magic block, and start two sharders, the second sharder does not have the mpt state, although the blocks are synced, but seems like it does not have states.

[2021-03-13 03:58] #106 closed

[2021-03-14 00:30] guruhubb commented on #108
Check allocation smart contract. It needs to execute it within 50ms or so ...thats the stretch goal. Then on the client end, it should timeout the request after 10s.

[2021-03-14 05:23] peterlimg commented on #99
Fixed by #110

[2021-03-14 05:23] #99 closed

[2021-03-14 05:33] peterlimg opened #111 "Fix lint errors reported by golangci-lint"
https://github.com/0chain/0chain/runs/2105194893

[2021-03-16 03:00] peterlimg opened #113 "Sharder does not check the existence of its previous block when init state"
Ken found that while testing the initial state it seems the sharder doesn’t check that it has the previous block of the current one.

[2021-03-16 09:46] kirillt opened #114 "DecodeDelegatePools"
We potentially have a bug in `minersc/models.go: func DecodeDelegatePools`. Methods `getMinersList` and `getShardersList` return structure `MinersList` which is a wrapper around `SimpleNode` and also have fields with Pending/Active/Deleting pools. Those pools are not initialized when we are calling `getMinersList`, so we need to query smart contract again.

We also might not need these fields in t

[2021-03-18 17:36] Sriep commented on #104
Unit test for payments/fees.

[blobber_test.go](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/smartcontract/storagesc/blobber_test.go) seems to check the various fee/payment values. However, it does it for just one example for each case. The example's parameters hidden by liberal use of magic numbers.

I am creating a new test, effectively reusing much of blobber_main_test.go:
*

[2021-03-19 02:06] peterlimg opened #120 "Node status update issue"
When
- BC works good when have 5 miners, 1 sharders
- Close one miner
- BC got stuck

One of the reasons is that if the latest round has not been notarized, nodes try to get the block of that round from others, then we will see n2n error of `node not found`. This is an error from application level, which means the miner or sharder does not have the requested block. But code in `SendEntityHandler`

[2021-03-19 02:19] peterlimg opened #121 "Triggered restartRound may not work properly"
When BC gets stuck, we can see logs of `round timeout` and `restartRound`, so if the round could restart correctly, we should see BC moves on.

Apparently, we don't see it. I find miners are waiting for the VRF to meet the threshold. However, it never met. I can not see any miner sends VerifiedTickets to others. Sending VerifiedTickets only happens in `GenerateBlock` function, which may be called

[2021-03-19 03:27] guruhubb commented on #121
The round_timeout generates a new VRF with timeout counter after hard reset. So it restarts round with same VRF  round_restart_mult times to make sure the VRF was received, and then increases the round timeout counter to send a new VRF share to everyone, and this process repeats until the timeout_cap is met, when the  VRF does not increment is sent over and over.  The reason to choose a new VRF is

[2021-03-19 15:10] kirillt commented on #63
Fixed in https://github.com/0chain/0chain/pull/117

[2021-03-19 15:10] #63 closed

[2021-03-25 05:54] mallochine opened #126 "This doesn't actually copy from dev environment `./docker.local/bin/build.miners.sh --dev`"
@kirillt Sorry not sure what happened but doesn't look like this is working.

Steps to repro:
1. git reset --hard 6412185c3ca1981367aaa82ca8dd722da19fc3e0
2. ./docker.local/bin/build.miners.sh --dev
3. The docker script starts compiling the golang code instead of copying from the host filesystem.

You know the script starts building when you see this. What's happening here is the script is compili

[2021-03-25 12:23] kirillt commented on #126
`6412185` is "Using the same script for both dev and prod build" commit which isn't last commit of that PR (#82)
https://github.com/0chain/0chain/pull/82/commits

`git checkout feat/faster-docker-miner-build` is better.
Also, in order to test properly we should take Docker caches into account.

[2021-03-27 09:51] Sriep opened #130 "Failing unit tests."
The following unit tests fail and need fixing. They were deactivated in PR https://github.com/0chain/0chain/pull/124 so that the master branch would pass unit test checks.
[code]

The following unit tests use `fmt.print` to display output. This is bad style, slows down scripts and makes it difficult to follow the screen and help with [unit test checks](https://github.com/0chain/0chain/pull/124) .

[2021-03-27 10:11] Sriep opened #131 "Investigate race conditions in 0chain"
Interstate for race conditions and raise issues for problems found.

0chain makes much use of different goroutine, this can easily lead to race conditions; where to goroutines are accessing the same resource at the same time. All those times where an action mysterious fails, only to work when you retry, many of those are likely due to race issues.

0chain is hypersensitive to the values of various

[2021-03-27 10:22] Sriep commented on #131
[Three ways to solve a race issue.](https://www.sohamkamani.com/golang/data-races/)
1. Use mutexes to guard against multiple access. Risk of deadlock contions.
2. Use channels to force all access to a vulnerable resource to occur in a single goroutine.
3. Use wait groups to allow only one goroutine to run at a time.

[2021-03-27 10:37] Sriep commented on #130
Three ways to [prevent race conditions.](https://www.sohamkamani.com/golang/data-races/)
1. Use mutexes to prevent multiple access to objects. Risk of deadlock conditions.
2. Use channels to force all access down a single thread.
3. Use waitgroups to force goroutines to run one at a time.

[2021-03-27 10:47] Sriep opened #132 "Add golangci-ling check to pull requests"
Add golangci-lint reported lint check to pull request. There was an initial effort that never worked and was removed in PR https://github.com/0chain/0chain/pull/124 . This code should be reactivated and made to work.

Work out how many lint issues are in master and fail checks if the number of lint issues exceeds that. Then as lint issues in master are fixed, the number of issues allowed in PRs ca

[2021-03-27 12:30] Sriep opened #133 "Test formulae for smart contracts."
# Formulae for all the different smart contracts

Tests needed for the following formulae

## Interestpoolsc

Interest = amount * APR * (duration/year).

## Minersc

1. Each generator ( a role that miner plays every round if chosen by VRF) makes a transaction to reward itself and all sharders of the previous block (allShardersOfPreviousBlock).
2. totalEarnings = all fees for the block + block rewa

[2021-03-27 12:32] Sriep commented on #133
For mainnet simplicity, we will launch with
* interest_rate =
    * 5% for interestpoolsc,
    * 0% for minersc, and
    * 10% for storagesc.
* blobber_slash = 0.

Test with these parameters first.

[2021-03-28 04:30] kirillt commented on #126
Indeed, we are lacking `ARG DEV` before usage of `DEV` in `Dockerfile.template`

[2021-04-02 05:47] TheTeaParty opened #141 "Single `go.mod` For Project"
Single go.mod file to avoid `replace`s in nested go.mod projects

[2021-04-02 17:44] Sriep commented on #133
Also, need a unit test fro `validator earnings and staking on it`

[2021-04-04 13:32] bbist opened #145 "Bug: Miner crash caused by concurrent map read/write in 0chain.net/chaincore/node/node.go"
Miner crashed with following panic.
[code]
Issue was that the maps **TimersByURI** and **SizeByURI** were not properly locked while accessing. Problems were in following methods:
1. **updateSendMessageTimings()**: called in **updateMessageTimings()** called in worker.go's **statusUpdate()** and **statusMonitor()** methods without explicit locks.
2. **updateRequestMessageTimings()**: same as above.

[2021-04-04 13:39] mallochine commented on #145
Hm, usually concurrency problems in Golang are solved using channels to a goroutine who will be the sole reader/writer of those two maps...these are usually a lot easier to work/reason with than mutexes.

[2021-04-04 13:55] bbist opened #146 "Incorrect hash: sharderKeys used in place of mpkKeys while calculating magic block hash"
In file **0chain.net/chaincore/block/magic_block_entity.go**, method **GetHashBytes** uses value **sharderKeys** instead of **mpkKeys** in line 85, to iterate over and append to data variable. It seems like a bug.
[code]

[2021-04-04 15:49] bbist commented on #145
@mallochine
I agree, in general. It was just a quick fix for existing code base. Here are the changes: https://github.com/0chain/0chain/commit/246c3f2368a38b3f4e8dd78c4d59d08a7dd54d62.

[2021-04-04 15:51] bbist commented on #146
Here's the reference to the change: https://github.com/0chain/0chain/commit/27199b9bcbd1071139d061628ab12032119924ab

[2021-04-05 12:13] bbist opened #149 "build.miners.sh: --dev flag leads to standard_init_linux.go:219: exec user process caused "no such file or directory""
While running the image build using build.miners.sh with --dev flag enabled, on ubuntu 20.10 container crashes with following error.
[code]
The build script seems to build the image on local system and copy it to alpine based image.

This issue could be addressed by moving the go build step inside docker build stage.

[2021-04-06 15:13] mallochine commented on #126
[code]

[2021-04-07 10:24] Sriep commented on #130
`home/piers/GolandProjects/0chain/code/go/0chain.net/sharder/blockstore/fs_store_test.go` sometimes fails with concurrent writes, indicating race issues. Run with test with -race to see data race issues.

[2021-04-07 12:19] Sriep opened #161 "Push-to-gitlab needs fixing"
The [push-to-github](https://github.com/0chain/0chain/blob/master/.github/workflows/push-to-gitlab.yml) pull request check is broken and needs fixing.

At the moment it seems to be erroring with
[code]

The check was disabled in PR https://github.com/0chain/0chain/pull/160

[2021-04-07 23:33] TheTeaParty opened #164 "Avoid Miner Panics"
Avoid miner panics instead enhance error handling to top layer.

[2021-04-08 23:03] andrenerd opened #168 "How about to add a setup_network.sh call to restart_from_scratch.sh"
Experiencing an issue running restart_from_scratch.sh:
https://github.com/0chain/0chain/blob/master/quickstart/1s_2m_4b/reliable/restart_from_scratch.sh

As pointed in the readme, this script should all the instances (blobbers/miners/sharders/...). Meanwhile there is an issue, see the attached screenshot. I guess it appears as a result of not calling setup_network.sh from restart_from_scratch.sh o

[2021-04-08 23:04] andrenerd commented on #168
Hi @andriykutsevol
please, check

[2021-04-09 11:49] Sriep opened #170 "Unit test mocks"
https://github.com/0chain/0chain/pull/115, https://github.com/0chain/0chain/pull/87, https://github.com/0chain/0chain/pull/72, https://github.com/0chain/0chain/pull/61 and possibly https://github.com/0chain/0chain/pull/112 make use of unit test mocks.

Currently, the code is mixed in with unit test in the above PRs, difficult to find and undocumented.

This issue is to discuss this potential new f

[2021-04-09 11:56] Sriep commented on #170
My first impressions. I might add as I study the code.

1. Code for `mocks` should not be mixed up with production code.
2. A new package, maybe called `mocks`, should be created to hold common mock code.
3. If necessary, structs in production can be turned into interfaces, and mock implementations put in the new mocks package.
4. If there is any generated code - not sure if there is - it should b

[2021-04-09 14:52] Sriep commented on #170
[Here is an example from PR72 where mock code is being mixed with production code. ](https://github.com/0chain/0chain/pull/72/files?file-filters%5B%5D=.go#diff-b791befd3c5f2dbe8739faa8ae855e66c9bc40023e48d04574a60bde0f3ad20eR41). If we really need to be doing this, then I would suggest that global functions like `InitSession` be added to an interface object which can be implemented separately in t

[2021-04-09 17:15] TheTeaParty commented on #170
So to not run around, the best practice suggests to have `mocks/` folder in the root of the project with all `mocks`. Some mocks are auto generated with tools like `mockery` some mocks we are forced to hand write. So in my experience it is good to have mocks/ folder for all mocks generated or not so testing code will be as simple as running `go test ./...` without requiring any additional .sh file

[2021-04-09 18:48] Sriep commented on #170
So my suggested solution is to work on PR https://github.com/0chain/0chain/pull/61. I suggest splitting it up into PRs as follows:
1. go,mod changes https://github.com/0chain/0chain/pull/162
2. Any other production refactoring needed for `mocks`.
3. New `mocks` package
4. Any `miner` bugs that need fixing.
5.  `miner` unit tests
6. The remaining PRs https://github.com/0chain/0chain/pull/72, https:

[2021-04-09 21:13] stewartie4 commented on #170
Just to add my own thoughts to this:
A lot of the code is quite procedural and tightly coupled which makes mocking and unit testing in general quite difficult.
Going forward we could consider moving to small, distinct interface types which would be easily tested in isolation and trivial to replace with a mock during a unit test

[2021-04-10 00:00] TheTeaParty commented on #170
That one is for sure, but will need some time to reach that point.

[2021-04-10 02:23] andrenerd opened #172 "Probable fix for 0dns building script"
There is an issue i experience building 0dns. Please check the attached screenshot.

Seems the building script works well for other users, but not for me. So i see no other way to complete the build except making a minor tweak in docker files:
https://github.com/0chain/0chain/blob/ee5704d2617f42dcf857270cf73be44a9e5c523b/quickstart/1s_2m_4b/config/reference/0dns/docker.local/Dockerfile
https://git

[2021-04-10 02:23] andrenerd commented on #172
Hi @andriykutsevol,
please, check.

[2021-04-10 10:27] Sriep commented on #170
Difficult but entirely possible.

The advantage of a common mocks package is that they `speed up the writing of unit test` by crating common mocks that the developer does not need to re-write for each test.

Unsurprising, the main advantage is also the main disadvantage. The danger is that unit tests will `use code it does not need`, just because they are part of the mocks, or it's easier to start

[2021-04-10 14:59] andriykutsevol commented on #168
Yes, it was a flaw.

[2021-04-10 14:59] #168 closed

[2021-04-10 19:01] guruhubb commented on #172
You can't use MCL yet as we use bls from herumi, but possible in future for clients.

[2021-04-10 19:11] guruhubb commented on #146
@peterlimg is this closed?

[2021-04-10 19:12] guruhubb commented on #161
Is this issue closed @satchinjoshi ?

[2021-04-10 19:12] mallochine commented on #172
actually bls uses mcl underneath. That's why Shigeo talks about the mcl implementation so much.

[2021-04-10 19:15] mallochine commented on #172
dunno seems like a network error, you can see in that screenshot there is a `wget -O - https://github.com/herumi/mcl/archive/master.tar.gz | tar xz` that should've created the mcl directory

Actually looks like @andrenerd  is already pretty much there with the fix so I'm gonna reassign this to him. I don't think I would know this any better than he does.

[2021-04-10 19:26] guruhubb commented on #126
Is this issue taken care of @mallochine ?

[2021-04-10 20:25] guruhubb commented on #111
Is this same as #132 @Sriep ?

[2021-04-10 20:29] guruhubb commented on #97
I don't think this happens anymore @Sriep ?  We have [integration](https://github.com/0chain/0chain/tree/feature/conductor-docs/code/go/0chain.net/conductor) tests where you can put in a test profile such as above.

[2021-04-10 20:31] guruhubb commented on #96
I think this is fixed @Sriep ? We have [integration](https://github.com/0chain/0chain/tree/feature/conductor-docs/code/go/0chain.net/conductor) tests where you can put in a test profile such as above.

[2021-04-10 20:33] guruhubb commented on #86
With changes made subsequently by @peterlimg, this problem may have been fixed. Please test this again @Sriep ?

[2021-04-10 20:35] guruhubb commented on #69
Please close this @Sriep if this is not an issue anymore

[2021-04-11 10:26] satchinjoshi commented on #161
@guruhubb we can close this

[2021-04-11 15:02] Sriep commented on #170
One effect of this is that it makes `magic number` tests of limited use.
For instance inputs of `(2, 0.35, 2, {7,11,13})` give a result of `248.387096774` is not very informative. You would rather know the result equals something like `2 * 1000 * 0.35 * 11/(7+11+13)` and never know the actual value.

Hence I recommend the following format for unit tests, which I have been using.
[code]
* Input Par

[2021-04-11 16:14] #161 closed

[2021-04-12 09:07] Sriep opened #176 "unit_test.sh usng [[ in sh"
unit_test.sh uses sh `#!/bin/sh` but uses the `[[` construct. When run only showing errors you get
[code]
[[ is only valid in bash not sh. Either use `#!/bin/bash` or change `[[` to `[`.
Also check `start.b0sharder.sh` and `start.b0miner.sh`.
`build.miner.sh` should be ok as it uses `bash`.

[2021-04-12 19:12] andriykutsevol commented on #172
Did you follow the /quickstart/1s_2m_4b/readme.txt
base / git_pull_all.sh
config / compare_wdirs.sh
config / patch.sh
reliable / restart_from_scratch.sh

[2021-04-12 19:21] andriykutsevol commented on #172
I have already commited the setup_nwetwork.sh and added it to the reliable/restart_from_stratch.sh

[2021-04-12 19:49] andriykutsevol commented on #172
I just tried those steps on my localhost, it works.
But I did not clear a docker cache.

So try these steps again.

If this does not work, then most likely some external libraries (C / C ++), or scripts were changed.

Because the script /config/compare_wdirs.sh eliminates the difference in the docker.local directories for:
0Chain, 0dns and blobber.

[2021-04-13 02:01] mallochine commented on #149
in codereview

[2021-04-13 02:02] mallochine commented on #126
closing this issue as it is duplicated by #149

[2021-04-13 02:02] #126 closed

[2021-04-13 08:25] Sriep opened #180 "Blober challange, validators not getting there service charge"
[blobberReward in chaallenge.go](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/smartcontract/storagesc/challenge.go#L76) is not paying the service charge to validators. [moveToValidator](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/smartcontract/storagesc/challengepool.go#L192) only pays out to delegates.

[2021-04-13 09:25] guruhubb commented on #69
this is working, closing issue

[2021-04-13 09:25] #69 closed

[2021-04-14 12:04] mallochine commented on #149
merged.

[2021-04-14 12:04] #149 closed

[2021-04-14 15:00] MurashovVen commented on #111
In this case, the problem is that the linter preparation process crashes because of `c` dependences. I fixed it in [PR](https://github.com/0chain/0chain/pull/184), but the linter checks still fail because the project code currently does not corresponds to the linter requirements.

I think we need to solve all the problems the linter is messaging, and then enable checks.

[2021-04-14 18:32] #133 closed

[2021-04-15 07:24] bbist commented on #131
I'll be adding any issues I find.

https://github.com/0chain/0chain/commit/8e222671e658ae86823ccabe84d3823536624d87

[2021-04-15 11:33] #62 closed

[2021-04-15 11:53] #172 closed

[2021-04-15 12:03] Sriep commented on #130
code/go/0chain.net/chaincore/chain/protocol_round_test.go fixed in PR https://github.com/0chain/0chain/pull/185

[2021-04-16 05:41] bbist opened #189 "Avoid lock copy in 0chain.net/chaincore/node.SetInfo/GetInfo"
There's lock copy in SetInfo/GetInfo that's been there for a while.
Using a reference to the Info object and calling it's Copy() method wherever necessary will allow us to avoid it.
[code]

[2021-04-16 06:14] bbist opened #190 "View Change process gets stuck at Share phase and restarts whenever one of the MPK miners goes down (or intentionally rejects share) during Share phase"
In the DKGProcess() method in 0chain.net/miner/protocol_view_change.go,
a new phase event is allowed to execute on following conditions:
1. It's a `share` phase
2. It's a `start` phase
3. It's one phase after current phase

But this logic breaks the view-change process because in the current implementation when a `share` phase function keeps returning error, the current phase doesn't move. Re-exec

[2021-04-16 13:59] Sriep commented on #81
Currently on reading the code, what it appears to do is:
1. Blobber polls smart contract for challenges.
2. Blobber never gets around to completing a challenge.
3. At some time after allocation expiration + challenge completion time:
4. [The allocation is finalised](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/smartcontract/storagesc/allocation.go#L1253). (I think this is ./zwal

[2021-04-16 14:04] Sriep commented on #81
Suggested changes.

1. Challenges that have exceeded the `challenge_completion_time` to be removed from challenges sent to the blobber.
2. Currently, financial changes are done on `challenge response` or on `allocation finalisation`. This could be changed.
3. Unit test written to ensure the calculations are correct.

[2021-04-16 16:46] Sriep commented on #81
Purposed solution:
1. Unit test for `finalizeAllocation` to check it distributes payments correctly.
2. Update blobber to filter the list of challenges returned by `/openchallenges` for timed out challenges.
3. Unit test for blobber changes.

Going forward consider having a smart contract that performs housekeeping tasks like keeping challenge information and payments as up to date as possible.

[2021-04-17 03:00] peterlimg commented on #190
May I know where's the code that related to this, thank you.

[2021-04-17 05:58] bbist commented on #190
The logs that helped identify this were from https://two.devnet-0chain.net/miner*. Following sequence of logs seems to repeat continuously.
[code]

[2021-04-17 06:00] bbist commented on #190
Following is the full log file.
[0chain-2021-04-14T16-53-03.179.zip](https://github.com/0chain/0chain/files/6328690/0chain-2021-04-14T16-53-03.179.zip)

[2021-04-18 16:09] Sriep commented on #64
TestChain_GetLatestFinalizedMagicBlockRound now passes

[2021-04-18 16:09] #64 closed

[2021-04-18 16:11] Sriep commented on #65
Moved to https://github.com/0chain/0chain/issues/130

[2021-04-18 16:11] #65 closed

[2021-04-18 16:12] Sriep commented on #66
protocol_round_test.go no passes.

[2021-04-18 16:12] #66 closed

[2021-04-18 16:13] Sriep commented on #67
Moved to issue https://github.com/0chain/0chain/issues/130

[2021-04-18 16:13] #67 closed

[2021-04-18 16:55] Sriep commented on #75
The challenge staying open when the blobber does not send a response is being handled by https://github.com/0chain/0chain/issues/81.

Keep the issue open for the issue with validators Re3 above.

[2021-04-18 18:30] Sriep commented on #97
Cannot reproduce anymore, closing.

[2021-04-18 18:30] #97 closed

[2021-04-18 18:47] Sriep commented on #96
Retested and could not reproduce, closing

[2021-04-18 18:47] #96 closed

[2021-04-18 20:55] guruhubb opened #192 "View change conductor test"
There are view change test cases that have errors that need to be looked at -

view-change-1.yaml

start set Outside miner comes up in phase X
[Err] Test case 0: Outside miner comes up in phase 'start'
[OK]  Test case 1: Outside miner comes up in phase 'contribute'
[OK]  Test case 2: Outside miner comes up in phase 'share'
[OK]  Test case 3: Outside miner comes up in phase 'publish'
[OK]  Test cas

[2021-04-19 03:07] peterlimg commented on #74
Fixed in b081b71a.

[2021-04-19 03:07] #74 closed

[2021-04-19 03:09] peterlimg commented on #79
Close this and work on #192

[2021-04-19 03:09] #79 closed

[2021-04-19 03:12] peterlimg commented on #120
Fixed

[2021-04-19 03:12] #120 closed

[2021-04-19 03:14] peterlimg commented on #145
Fixed by #148

[2021-04-19 03:14] #145 closed

[2021-04-19 03:15] peterlimg commented on #146
yes, this is closed by #147

[2021-04-19 03:15] #146 closed

[2021-04-19 10:19] Sriep commented on #111
This is the same issue as https://github.com/0chain/0chain/issues/132

[2021-04-19 10:19] Sriep commented on #132
This is the same issue as https://github.com/0chain/0chain/issues/111

[2021-04-20 11:59] Sriep opened #195 "github.com/spf13/viper is not thread safe"
We use [viper](https://pkg.go.dev/github.com/spf13/viper) to control project configuration settings. Unfortunately, the viper package is not inherently threadsafe, so we have to implement our own race protection.

The unit test [fs_store_test.go](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/sharder/blockstore/fs_store_test.go) gives illistration of viper data race issues. For ex

[2021-04-20 12:04] Sriep commented on #195
Suggestions:
Control all access to the `spf13/viper` package through our own threadsafe viper object.

Write a unit test for `0chain.net/miner/miner/handler.go`.

[2021-04-20 16:06] Sriep opened #197 "Protect entityMetadataMap from concurrent access"
[entityMetadataMap](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/core/datastore/entity_metadata.go#L5) is a global map accessed from numerous files across the project. It should be protected from concurrent access.

Adding a RWMutex to `RegisterEntityMetadata` and `GetEntityMetadata`  should be sufficient.

This causes a race issue when running `go test -race` on the  `/0chain/c

[2021-04-21 10:12] Sriep commented on #176
https://github.com/0chain/0chain/pull/194

[2021-04-21 10:12] #176 closed

[2021-04-25 08:54] Sriep opened #198 "finalizeAllocation and cancelAllocation, incorrect payment to blobbers"
`finalizeAllocation` can be called  `challenge_completion_time` after the allocation has been expired. It handles any open challenges and completes any required payments:
1. Payments to the blobber based on challenges pass rate and allocation space used.
2. Payments to the blobber based on `min_lock_demeand`, if unfulfilled.
3. `cacnelAllocationRequest` reuses the same code as `finalizeAllocation`

[2021-04-25 09:05] Sriep commented on #198
Suggested fixes.

#### StorageAllocation.UsedSize
The [json tag is missing](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/smartcontract/storagesc/models.go#L543). To fix replace `json:"-"` with `json:"used_size`. This sets allocation space used to zero so payments paid due to space used is skipped.

#### Pass rate calculation
[adjustChallenges](https://github.com/0chain/0chain/bl

[2021-04-25 09:16] Sriep commented on #198
This issue is related to issues https://github.com/0chain/0chain/issues/75 and https://github.com/0chain/0chain/issues/81.

[2021-04-25 10:38] Sriep commented on #81
Closing. Replaced by 0chian issue https://github.com/0chain/0chain/issues/198 and blobber issue https://github.com/0chain/blobber/issues/93

[2021-04-25 10:38] #81 closed

[2021-04-25 10:41] Sriep commented on #75
Issue 81 now replaced by 0chian issue https://github.com/0chain/0chain/issues/198 and blobber issue  https://github.com/0chain/blobber/issues/93.

[2021-04-25 11:35] Sriep opened #200 "Investigate ToMsgpack for race issues."
Someone write an ineffective unit test, [codec_test.go](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/core/common/codec_test.go#L10), to test race issues in [ToMaspack](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/core/common/codec.go#L33). Investigate where they missed any race issues.

ToMsgpack is designed to receive objects that can have an interface that l

[2021-04-26 11:25] Sriep commented on #180
Fixed in https://github.com/0chain/0chain/pull/182

[2021-04-26 11:25] #180 closed

[2021-04-26 11:33] Sriep opened #202 "Fix lint issues"
PR https://github.com/0chain/0chain/pull/184 gives us a pull request check to ensure that a PR does not increase the total number of lint issues.

To support this functionality we should address all the easy to fix lint issues in [0chain](https://github.com/0chain/0chain). Similar to https://github.com/0chain/blobber/pull/37

I would suggest doing one directory or package at a time rather than all

[2021-04-27 11:19] hexa00 opened #203 "Missing dot here makes whatever0box.io valid..."
https://github.com/0chain/0chain/blob/62636ca8b8055d67fdbec13a8db61dda445cbe4a/code/go/0chain.net/core/common/handler.go#L84

This would make domains like whatever0box.io be valid...

[2021-04-27 11:26] hexa00 opened #204 "Make save paths configurable in magicBlock main"
https://github.com/0chain/0chain/blob/e6146863bba5c4d6b19f7d627ba3e6f000426b33/code/go/0chain.net/chaincore/block/magicBlock/main.go#L152
https://github.com/0chain/0chain/blob/e6146863bba5c4d6b19f7d627ba3e6f000426b33/code/go/0chain.net/chaincore/block/magicBlock/main.go#L138
https://github.com/0chain/0chain/blob/e6146863bba5c4d6b19f7d627ba3e6f000426b33/code/go/0chain.net/chaincore/block/magicBlock

[2021-04-27 12:34] Sriep commented on #189
Fixed by 193

[2021-04-27 12:34] #189 closed

[2021-04-27 18:11] #141 closed

[2021-04-28 17:09] TheTeaParty opened #208 "Get rid of globals from entities"
Get rid of global variables for cor entities. Globals are at risk of be collected by garbage collector anytime, also there is risk of invalid entity initialization which lead to fatal exceptions.

[2021-04-28 19:15] Sriep opened #209 "addChallenge: Modify validator selection procedure"
Add a new smart contract config entry to sc.yaml, `minimum number of validators`.

Modify the [validator selection procedure](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/smartcontract/storagesc/challenge.go#L727).

Set the number of validators to the maximum of the new `minimum number of validator` entry and the `allocation.DataShards`. Unless that is more than the total number

[2021-04-28 20:57] hexa00 commented on #203
Fixed in #205

[2021-04-28 20:57] #203 closed

[2021-04-29 00:15] TheTeaParty opened #210 "Mock Submodule"
`mocks` are useful for users of your library as well, so we need to create `mocks`, sub package in `mocks` directory, which will contain both generated and hand made mocks.

[2021-04-29 00:44] TheTeaParty opened #211 "Get rid of generic package names"
There are `util` and `common` packages in the code, that leads to confusion and will make harder and harder to maintain code in those packages.
https://blog.golang.org/package-names

[2021-04-29 07:46] anish-squareops opened #213 "Non genesis sharders don't panic when description is missing in keys file."
I observed that miners panic when description is missing in keys file but sharders work fine without description. I think sharder is missing the check for description.

[2021-04-30 05:56] anish-squareops opened #216 "Error reading DKG file. ERROR: Error reading dkg file: path is blank"
@Kenwes13  can you explain how dkg files are being generated and what changes are needed in magicblock.json

[2021-04-30 06:40] Kenwes13 commented on #216
There is a script that should be able to generate the dkg files and the corresponding magic block. Run `docker.local/bin/build.magic_block.sh` then `docker.local/bin/create.magic_block.sh` to create a new magic block and dkg files.

The program takes in the yaml file that is on line 11 in 0chain/docker.local/build.magicBlock/docker-compose.yml. Each yaml file has the name of the magic block and dk

[2021-04-30 08:09] anish-squareops commented on #216
How can I change the filenames being generated ?

[2021-04-30 14:52] Sriep commented on #130
[code]

Pr https://github.com/0chain/0chain/pull/217 broke `Test_finalize_allocation` in `allocation_test.go` and `Test_flow_no_challenge_responses_finalize` and `blobber_test.go`.

[2021-04-30 20:22] Sriep opened #220 "Fix push to gitlab, pull request check."
Disabled in https://github.com/0chain/0chain/pull/219.

[2021-04-30 23:25] andrenerd opened #221 "Check if the readpool is assigned to a wallet"
We need to check if the readpool is assigned to a wallet and not dependent on the allocation, so that --rx_pay works for any allocation. Write pools are per allocation. A user can have multiple wallets, and each wallet can have multiple allocations

[2021-05-01 20:18] TheTeaParty opened #223 "Miner variables are colliding with imported packages"

[2021-05-01 20:40] TheTeaParty opened #224 "Fix .github/workflows/test.yml: No jobs were run"

[2021-05-01 21:24] TheTeaParty opened #225 "Add miner mocks"
We need mocks package for miner to make it possible to mock data from in and out side of miner package.

[2021-05-02 12:08] Sriep opened #227 "Correct go.mod and go.sum."
Running `go mod tidy` suggests changes to `go.mod` and `go.sum`.

[2021-05-02 13:41] #197 closed

[2021-05-02 20:13] guruhubb commented on #221
I think this is fine. We can keep the read pool assigned to an allocation for now.

[2021-05-02 20:13] #221 closed

[2021-05-02 20:21] guruhubb commented on #209
On second thought, doesn’t Select the validators randomly already exist ? I think you can close this issue because its unlikely anyone will have an allocation with a low number of datashards.

[2021-05-02 20:49] #213 closed

[2021-05-02 20:51] guruhubb commented on #220
We will not use Gitlab in the future. @satchinjoshi will incorporate this within Github and close this issue when done.

[2021-05-02 23:45] #223 closed

[2021-05-03 00:04] TheTeaParty opened #228 "Unit Test is failing after 3c1da95230feaa4819ec468cb6b3712a02ac1230"
Fix unit test 3c1da95230feaa4819ec468cb6b3712a02ac1230 commit

[2021-05-03 01:27] TheTeaParty opened #230 "`chaincore` variables are colliding with imported packages"
- variables are colliding with imported packages
- dot imports

[2021-05-03 06:19] #216 closed

[2021-05-03 06:19] anish-squareops commented on #216
Closed

[2021-05-03 09:03] #227 closed

[2021-05-03 09:15] Sriep opened #233 "Maintain go.mod and go.sum as part of continuous intergration."
go.mod and go.sum are essentially generated files, and as such maintaining them is best left up to the continuous integration process.

Suggestion: Add a Github pull request / merge action that automatically updates these files.
There is a [go-mod component to the makefile](https://github.com/0chain/0chain/blob/master/Makefile#L13) which might prove useful.

[2021-05-03 11:23] Sriep commented on #111
Fixed in https://github.com/0chain/0chain/pull/184. Will need to handle merge conflicts due to https://github.com/0chain/0chain/pull/162.
Recommend fixing issue https://github.com/0chain/0chain/issues/202 before activating this functionality.

[2021-05-03 11:25] Sriep commented on #202
When this is issue is resolved we should activate PR https://github.com/0chain/0chain/pull/184

[2021-05-03 11:30] Sriep commented on #111
Issue moved to https://github.com/0chain/0chain/issues/202. To be picked up when 202 resolved.

[2021-05-03 11:30] #111 closed

[2021-05-03 11:36] Sriep commented on #86
Retested and could not reproduce the issue.

[2021-05-03 11:36] #86 closed

[2021-05-03 11:53] Sriep opened #234 "Challenge creation: Select validators randomly"
[`addChallenge`](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/smartcontract/storagesc/challenge.go#L691) should create a random selection of validators to support a challenge.

[The code appears bugged](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/smartcontract/storagesc/challenge.go#L727), in that the same validators are always chosen then ordered randomly, r

[2021-05-03 11:53] Sriep commented on #209
Converted to a bug and reopend as https://github.com/0chain/0chain/issues/234

[2021-05-03 11:53] #209 closed

[2021-05-03 11:54] Sriep commented on #75
The validator issue now moved to https://github.com/0chain/0chain/issues/234

[2021-05-03 11:54] #75 closed

[2021-05-03 13:01] Sriep opened #235 "Improve error reporting in 0chain"
Error reporting can always be improved. How should we improve `0chain` error reporting?

[2021-05-03 13:02] #92 closed

[2021-05-04 13:47] bbist commented on #192
As view-change-1.yaml and view-change-3.yaml both deal with fault tolerance, they should be merged into view-change-fault-tolerance.yaml and more granular test cases should be added.
View-change-2.yaml deals with byzantine conditions, hence all byzantine test cases from view-change-1.yaml should be moved to view-change-2.yaml and more byzantine test cases should be added to increase coverage.

[2021-05-04 16:57] Sriep opened #238 "Filter blobbers by geolocation"
A new option added to `zbox newallocation` to amend blobber selection to increase geo-location diversity.

### blobber
Add latitude and longitude to `blobber.yaml`.

### 0chain
Add a new boolean to `StorageAllocation`.
allocation.go, newAllocationRequewst; Add new  code to [filterBlobbers](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/smartcontract/storagesc/allocation.go#L273) t

[2021-05-04 18:22] guruhubb opened #239 "generator parametrization"
We need to parametrize the generators to be a percentage instead of a hard-coded number with minimum= 2 in 0chain.yaml, so that the number of generators change during view change. Also have a mode 0 which would mean all miners are assigned to be generators.

[2021-05-05 11:48] #113 closed

[2021-05-05 11:49] #121 closed

[2021-05-05 12:14] peterlimg commented on #190
Round timeout would not move to publish phase. If the miner received `publish` phase, that means there are miners have moved to `publish` phase, so as the sharders. If the current miner was in `contribute` phase, then it will jump over a phase and set current phase to `unknown`. Setting to `unknown` is for safety reason I think. The current miner may have to wait for all others move to `start` pha

[2021-05-05 13:53] andrenerd commented on #80
@shravanshetty1
could you clarify, by what blobber's properties do you identify the duplicated blobbers?

@guruhubb
could we prevent duplicated registrations for blobbers, adding extra check right to the RegistrerBlobbers function:
https://github.com/0chain/blobber/blob/62b7249597dc44e9301880af083371ef4c7aed08/code/go/0chain.net/blobbercore/handler/protocol.go#L59
if so, what properties should be

[2021-05-05 15:02] bbist commented on #190
Hi @peterlimg,

My concern is not regarding whether a miner can participate again when the DKG process restarts.
As share phase is the phase that's most prone to byzantine attacks, we should avoid as many possibilities as possible that could lead to DKG restart. Even the protocol itself accounts for possibility of failures of some nodes (K). I don't understand why should a miner be forced to rejoi

[2021-05-05 15:23] guruhubb commented on #192
Ok sure go ahead @bbist

[2021-05-05 16:17] #130 closed

[2021-05-05 17:07] Sriep opened #242 "Protect memorystore.DefaultPool from concurrent access."
Protect [memorystore.DefaultPool](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/core/memorystore/connection.go#L23) from concurrent access.

This issue causes race conditions in `code/go/0chain.net/core/memorystore/store_test.go`.https://github.com/0chain/0chain/pull/218#issuecomment-832724888

[2021-05-05 17:30] #225 closed

[2021-05-05 19:47] mallochine opened #243 "update mcl package to the latest"
NOTE: might be low priority, maybe other things more important.

Shigeo:

Is the bug fixed if using the latest version? The version v0.98 of mcl is about two years ago.
If you can't update the package, could you try to use "CFLAGS_OPT=-O3" or modify https://github.com/herumi/mcl/blob/v0.98/common.mk#L74 from "-Ofast" to "-O3"?
The binary built by "-Ofast" option on a newer CPU may have a problem o

[2021-05-06 01:19] guruhubb commented on #80
@andrenerd Yes, use blobber IP address, port, and public key ( and blobber ID). If any one of them are identical then disallow registration. blobber can choose to **update** registration with new IP address and port.

[2021-05-06 10:46] Sriep commented on #198
Fixed with https://github.com/0chain/0chain/pull/217

[2021-05-06 10:46] #198 closed

[2021-05-06 11:07] platsko commented on #195
In progress

[2021-05-06 11:08] platsko commented on #242
In progress

[2021-05-06 11:17] Sriep commented on #202
Fixed by https://github.com/0chain/0chain/pull/184

[2021-05-06 12:19] #230 closed

[2021-05-06 12:44] Sriep commented on #132
Fixed in https://github.com/0chain/0chain/pull/184

[2021-05-06 12:44] #132 closed

[2021-05-07 01:09] andrenerd commented on #80
https://github.com/0chain/blobber/pull/109

[2021-05-07 05:24] peterlimg opened #247 "Eaiser the using of logging.Logger"
Define a `logger` variable in each package that refers to the `logging.Logger`, and use the `logger` instead of `logging.Logger` everywhere to make it easier to use.

[2021-05-07 09:00] #228 closed

[2021-05-07 09:07] Sriep commented on #220
If we are never going to use Push-to-GitLab, then we can delete `.github/workflows/push-to-gitlab.yml`. It current produces an error. For example https://github.com/0chain/0chain/actions/runs/819702971.

[2021-05-07 11:46] Sriep opened #249 "Race error: Protect blockdb.mapIndex."
[blockdb.mapIndex](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/sharder/blockdb/index.go#L21) generates race errors.

PR https://github.com/0chain/0chain/pull/250 will generate race errors in `code/go/0chain.net/sharder/blockdb/blockdb_test.go` which this issue should fix.

 <details>
    <summary>Race errors from running unit test</summary>

[code]

 </details>

[2021-05-07 13:37] TheTeaParty commented on #247
I think it is better to
1. first wrap the logger with custom logger interface
2. inject logger into corresponding structure it will be used

Both this steps are for decoupling the code and avoiding any global variables. Pros of decoupling is obvious, avoiding globals are for avoiding unnecessary unexpected behavior of logger  and chance of been picked up by garbage collector.

I can work on this,

[2021-05-09 11:38] Sriep opened #253 "Prevent duplicate registraton for blobber"
We can add a check in  [addBlobber](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/smartcontract/storagesc/blobber.go#L191) to prevent duplicate registration.

[2021-05-09 12:16] Sriep opened #254 "mdw_cover.go handler panic."
0chain should not panic as a result of receiving bad messages.

[core.common.Recover]
(https://github.com/0chain/0chain/blob/master/code/go/0chain.net/core/common/mdw_recover.go#L24) should be improved to give more information about messages that cause a panic.

[2021-05-11 01:58] andrenerd opened #256 "Filter out expired challenges"

[2021-05-11 02:45] #256 closed

[2021-05-11 13:00] Sriep opened #259 "Race issue: CollectionMemberField"
Ensure [`CollectionMemberField`](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/core/datastore/collection.go#L52) is threadsafe.

https://github.com/0chain/0chain/pull/258 gives race error in `code/go/0chain.net/core/memorystore/store_test.go`.
<details>
  <summary>TestStore_MultiWrite/Test_Store_MultiWrite_Size>256_OK</summary>

[code]

</details>

Also in `code/go/0chain.net/cor

[2021-05-11 14:13] Sriep opened #260 "Race issue: Smart contract id."
The [SmartContract](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/chaincore/smartcontractinterface/interface.go#L16) needs protection, in particular the ID field.

The [NewSC](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/chaincore/smartcontractinterface/interface.go#L22) results in race issues in https://github.com/0chain/0chain/pull/258, `code/go/0chain.net/ch

[2021-05-11 15:18] Sriep opened #263 "Race issue: Protect core.memorystore.pools"
Package wide global map [pools](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/core/memorystore/connection.go#L54) needs protection.

Race error detected in PR https://github.com/0chain/0chain/pull/258 `code/go/0chain.net/core/memorystore/connection_test.go`

<details>
  <summary>TestAddPool</summary>

[code]

</details>

<details>
  <summary>TestInitDefaultPool</summary>

[code]

[2021-05-11 15:57] Sriep opened #265 "Race Issue: Protect package global map connections"
Protect the package global map [connections](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/core/memorystore/connection.go#L143) from concurrent access. Update `code/go/0chain.net/core/memorystore/connection_test.go`.

Generated a race issue in PR https://github.com/0chain/0chain/pull/258 `code/go/0chain.net/core/memorystore/connection_test.go`

<details>
  <summary>TestClose/Test

[2021-05-11 17:05] Sriep opened #266 "Unit test closure issue: mpt_nodedb_test.go"
[`mpt_nodedb_test.go` TestLevelNodeDB_Current_Prev_Rebase](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/core/util/mpt_nodedb_test.go#L463) has a closure issue.

fixing the code as follows around line 463
[code]
causes the test to fail.

The test needs to pass with the closure bug fixed.

[2021-05-11 17:19] #254 closed

[2021-05-12 06:55] anish-squareops opened #267 "Block miners / sharders trying to join with localhost as hostname"

[2021-05-12 09:49] haule24hdev opened #269 "Cors issue in network four"
![Screenshot from 2021-05-12 16-43-02](https://user-images.githubusercontent.com/50743635/117955121-e61f7700-b341-11eb-9166-36f8a4b55098.png)

[2021-05-12 11:09] bbist commented on #267
This looks like a broader problem.
@guruhubb,
Do you think we should add an explicit host verification logic? Or should you only add check for "localhost"?
I suggest the former because otherwise miners can use anything for the hostname.

[2021-05-12 12:16] Sriep opened #270 "Race issue: ChangeCollector."
[ChangeCollector](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/core/util/mpt_node_change.go#L31) has two maps that are not protected against concurrent access.

<details>
  <summary>merkle_patricia_trie_test.go Test_MerklePatriciaTrie_MergeDB_OK</summary>

[code]

</details>

<details>
  <summary>mpt_node_change_test.go TestChangeCollector_Validate</summary>

[code]

</details>

[2021-05-12 15:09] platsko opened #271 "WARN Go compiler: conversion from int to string yields a string of one rune, not a string of digits"
petr@latsko:~/work/0chain/0chain/code/go/0chain.net/core/encryption$ go test -v -tags bn256 -cover ./...
# 0chain.net/core/encryption
./handler.go:19: conversion from int to string yields a string of one rune, not a string of digits (did you mean fmt.Sprint(x)?)
FAIL    0chain.net/core/encryption [build failed]
?       0chain.net/core/encryption/keys [no test files]
FAIL

[2021-05-12 15:55] #239 closed

[2021-05-12 15:58] andrenerd commented on #253
for more details, check the discussion for more details:
https://github.com/0chain/blobber/pull/109

long story short:
To replace duplicate blobbers in sc and leave a warning.

[2021-05-13 07:03] haule24hdev commented on #269
Also Cors issue in network four https://four.devnet-0chain.net/blobber
![Screenshot from 2021-05-13 13-58-47](https://user-images.githubusercontent.com/50743635/118090560-e8420e00-b3f3-11eb-9672-b39084a3d65a.png)

[2021-05-13 15:59] Sriep opened #273 "Race Issue: HashIDField"
[HashIDField.Key](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/core/datastore/key.go#L130) is a utility object in block.Block, bock.MagicBlock, transaction.Transaction and transaction.TransactionSummary. It is probably a good idea to make sure GetKey() and SetKey() don't get muddled up.

[2021-05-13 16:01] Sriep commented on #273
closed

[2021-05-13 16:01] #273 closed

[2021-05-14 01:21] peterlimg opened #275 "DO NOT merge PRs with 'Squash and merge' button"
This would squash all the commits history into one commit, it's ok to be used for your own PRs when the commits are trivial, but for others, squash their commits would lost all the origin commits.

Use the default 'Merge pull request' button.

[2021-05-14 06:09] TheTeaParty commented on #275
But squashing commits are good for main branches, it's easy to roll back, and it is easy to track changes specific to feature, otherwise we will have lots of unordered commits and lots of `Merge branch ... into ...` commits which are not informative at all.

[2021-05-14 06:39] guruhubb commented on #275
Is unordered commit and Merge branch a problem other than appearance?

I'd rather have an entire history of changes especially the important ones.  I agree with Peter that trivial commits should be squashed and decided by the person doing their own PRs, and one shouldn't squash other's PR commits.

[2021-05-14 08:48] Sriep commented on #275
Failure to squash leaves a large number of noise commits that make it difficult to look through the history. My preference is to squash by default.

One suggestion is to use [GitHub emoji](https://gist.github.com/parmentf/035de27d6ed1dce0b36a). You can use a GitHub emoji to indicate a commit you don't want to be squashed.

Letting everyone merge their own PRs is very dangerous. Many are shy about

[2021-05-14 10:13] platsko opened #276 "Add code/go/0chain.net/sharder/blockstore/tmp to .gitignore"
I assume that some existing tests create new temporary files in the path: code/go/0chain.net/sharder/blockstore/tmp

[2021-05-14 10:40] Sriep commented on #276
It might be a better idea to identify the unit test causing the problem, and fix it so it does not leave test directories lying around. Ideally, the test should be using mock databases that don't leave directories lying around. If there is some excuse for not using a mock database, then the test should at least make sure the directories are removed before and after the test.

[2021-05-14 12:01] mallochine commented on #271
I don't really know the intent of that code, where the git blame says it was last changed May 2018

[code]

at first glance looks like it's just trying to generate a hash, in which case you can just go with the compiler suggestion of `fmt.Sprint`

@Sriep  should confirm.

[2021-05-14 12:02] mallochine commented on #271
this is just a 1 line change, anybody on the team could do easily do it unless everybody is really that busy, in which case I can submit a PR

[2021-05-14 14:17] Sriep commented on #269
It seems to be an aspect of cybersecurity. [This blog post](https://medium.com/@dtkatz/3-ways-to-fix-the-cors-error-and-how-access-control-allow-origin-works-d97d55946d9) explains it.

The quick fix seems to be [install Moesif Origin and CORS changer](https://chrome.google.com/webstore/detail/moesif-origin-cors-change/digfbfaphojjndkpccljibejjbppifbc?hl=en-US) on your browser.

We could modify the

[2021-05-14 17:02] Sriep commented on #271
[code]
[buff, err := r.Body.Read(data)](https://pkg.go.dev/io#Reader)  returns the data read in `data`, and the number of bytes read to `buff`. It seems clear that the intention is to set `text = string(data)` not `buff`.

[2021-05-14 17:14] Sriep commented on #266
Should be fixed as part of PR https://github.com/0chain/0chain/pull/268.

[2021-05-14 17:18] mallochine commented on #271
ah. yeah. that makes more sense to me. Glad I didn't do the PR :) Thanks @Sriep Sriep

[2021-05-14 17:19] mallochine commented on #271
at the end of the day it doesn't really matter, it's just a Hash that's the ultimate return value. Doing Sprintf on the len(data) would've yielded equally random results anyway.

[2021-05-15 08:25] Sriep commented on #271
Its already being fixed as part of [PR264](https://github.com/0chain/0chain/pull/264/files#diff-9f950c8ba682d9e2b14b40e0a044a9c4a3948f558190fdb13ba8024ea3d2e17e)

[2021-05-15 10:05] Sriep opened #280 "Miner panic on startup"
Start sharder, start a miner. Delay starting a second miner. The miner panics.

This [bit of code](https://github.com/0chain/0chain/blob/b35817bcef614e6dd6932051add2f426356936f4/code/go/0chain.net/chaincore/chain/protocol_round.go#L149) from PR https://github.com/0chain/0chain/pull/245 seems to be the problem.
[code]
The panic happens when `c.NotarizedBlocksCounts` does not have `nbCount+1` member

[2021-05-15 12:11] Sriep commented on #265
Each `context.Context` has a `connections` map inside it. Suggestion wrap the `connections` map and move the type casting reovery of a `connections` from a `interface{]` inside.

[2021-05-16 04:53] guruhubb commented on #275
Ok makes sense.

[2021-05-16 05:04] guruhubb commented on #211
@Sriep any comment on this for future enhancement. We won't do this now.

[2021-05-16 05:05] guruhubb commented on #210
@Sriep please share your thoughts on this

[2021-05-16 05:53] bbist commented on #104
@peterlimg, @guruhubb,

We could overhaul current MPT implementation to optimize for all performance gains we could tap so that there's no overhead caused by MPT access. Some optimizations include:
1. Replace Serializable interface with { hash: []byte, value: []byte } data type, once a value is inserted into MPT. Right now there are multiple Encode(), GetHashBytes() operations that does repeated e

[2021-05-16 05:57] bbist commented on #108
This will be partly handled by https://github.com/0chain/0chain/issues/104.

[2021-05-16 05:57] bbist commented on #108
Regarding the smart contract REST API handlers as well as other endpoints, we could add a request timeout in context to for every endpoint as appropriate. Some endpoints inherently take longer than other. For example, state/get_nodes might take long time if too many state nodes are requested.
Anyway, it'll need further investigation.

[2021-05-16 05:58] bbist commented on #192
This will be addressed once PR #283 is merged.

[2021-05-16 06:39] bbist commented on #204
I think it was originally intended to be run using docker. There are scripts to build the magic block generator and create magic block at 0chain/docker.local/bin/build.magic_block.sh and 0chain/docker.local/bin/create.magic_block.sh. It will automatically generate and save the out files in 0chain/docker.local/config/ directory.
@hexa00 , @TheTeaParty, Please let me know if it's still necessary to

[2021-05-16 06:42] bbist commented on #208
@TheTeaParty,

Can you please elaborate on this? Or maybe point to some specific case. I'm not sure how global variables would be garbage collected while the application has references to those objects.

[2021-05-16 07:59] bbist commented on #269
@guruhubb, @haule24hdev, @Sriep,
I don't think this is an issue with our application. Most probably the external nodes have configured their Gateway to disable cross origin requests. This doesn't impact n2n requests because they don't include origin header and don't do explicit OPTIONS request. It would be better to inform all the node owner who want to be part of block explorer to allow cross-ori

[2021-05-16 12:15] Sriep commented on #210
@MurashovVen is working on mocks while writing unit tests, e.g.  https://github.com/0chain/0chain/pull/248, https://github.com/0chain/0chain/pull/262 and https://github.com/0chain/0chain/pull/264. Feel free to review.

[2021-05-16 12:42] Sriep commented on #208
Global variables that are logically constant are fine. Mutable global variables are best avoided.  Exported globals are even more of a problem as it can be difficult to track where they are changed from. leading to subtle bugs.
Globals are prime candidates for concurrency issues, as there is no control over their access.

It would seem a worthwhile refactoring exercise to list all the globals and

[2021-05-16 13:00] Sriep commented on #211
I cannot see any harm in taking note of the [bad package names](https://blog.golang.org/package-names#TOC_5.) advice. With modern IDE it's quite easy to rename and reorganise packages.

One glaring example is `core/util` which is mainly about merkle patrica trees, `core/mpt` would make more sense as a name; then files like `mpt_*` could be renamed `*`.

[2021-05-16 14:27] bbist commented on #208
@Sriep,
I agree. Thanks for the clarification.

[2021-05-16 18:17] guruhubb commented on #208
@Sriep can you take this on.

[2021-05-16 18:20] guruhubb commented on #204
Don't think this is an issue as all service providers will either use docker or our Kubernetes solution in production. For development the scripts are good and can be changed as needed easily.  We can close this issue @hexa00 unless you think its necessary to make it configurable.

[2021-05-16 18:50] guruhubb commented on #269
@anish-squareops can you enable this on 0miner/0prem and 0chain/blobber repo to allow for cors from explorer.

[2021-05-16 20:03] TheTeaParty commented on #208
@guruhubb @Sriep I can take over this as already have done some researches towards this, will describe my plan bellow and will start working.

[2021-05-16 22:10] hexa00 commented on #204
I'm just a dev passing by so feel free to ignore this advice, but hard-coded paths are not a good thing in general, they tie the implementation to a certain deployment configuration when this is not necessary making the software less versatile.

Especially in open-source it's hard to tell how the software will be used, making things configurable is a good way to allow the software to be used by an

[2021-05-17 03:29] shravanshetty1 commented on #108
We will just add a timeout middleware with configurable timeouts on both miner and sharder, also on the client in gosdk.

[2021-05-17 03:30] shravanshetty1 opened #285 "Should check timeout before making a db call"
If the context has been timedout return an error instead of making a db call

[2021-05-17 03:31] shravanshetty1 commented on #108
https://github.com/0chain/0chain/issues/285 - sub issue

[2021-05-17 05:36] TheTeaParty commented on #204
@guruhubb Those hardcoded paths need to be fixed, I have assigned myself as I have changed this for miner, as a part of my changes for unit tests, so at least for miner it is done, soon I will create PR for that.

[2021-05-17 09:08] #270 closed

[2021-05-17 10:55] #259 closed

[2021-05-17 12:52] peterlimg commented on #275
Yes, good suggestion. We can left a emoji or message to indicate if we need to do a `squash and merge`. Even though, I agree with @guruhubb that we should keep the entire history of changes. We may have comments that describe the reason of the commits. Squashing may lose info, and contribute records. Though, the origin commits will not be shown in the history, but we can find them in the PR. The p

[2021-05-17 14:37] cnlangzi opened #287 "Add 0chain developer guide"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [x] Feature or performance improvement

___
### Question

___
### Bug

___
### Requirement or improvement
For now, the documentation and scripts are scattered in different repos. It is difficult to setup a local 0chain development environment for t

[2021-05-17 14:50] cnlangzi commented on #287
There are many useful scripts on https://github.com/0chain/0chain/tree/master/quickstart/1s_2m_4b

[2021-05-17 15:42] #249 closed

[2021-05-18 05:06] anish-squareops commented on #269
@haule24hdev @guruhubb check https://0box.io/

[2021-05-18 05:15] anish-squareops commented on #269
@guruhubb  Its enabled for 0miner, will fix it for 0chain and blobber

[2021-05-18 07:45] moldis opened #290 "I was able to update allocation, but got an error"
Reducing size with zbox CLI

`zbox updateallocation --allocation 143747f9cf6942edcacad5f57373c93ef582079daf0179ee3d044bffa96c4af9 --size -6442450956 --expiry 1h --lock 0.1 --verbose`

Got an error:

`[ERROR]  2021/05/18 14:35:02.055802 sdk.go:951: Error verifying the transactiontransaction_not_found: Transaction was not found on any of the shardersa1eea41f40ecb002160c7cbe983d822e21241af5d688cb99b3

[2021-05-18 07:46] moldis commented on #290
@Sriep

[2021-05-18 19:26] #271 closed

[2021-05-19 01:05] guruhubb commented on #290
@moldis it seems the transaction execution took longer than the client was willing to ping the sharder. This will be fixed as @peterlimg is working on optimizing smart contract execution

[2021-05-19 03:19] guruhubb commented on #275
Ok. Lets do a message or emoji to squash, otherwise by default do NOT squash.

[2021-05-19 04:04] satchinjoshi commented on #224
@TheTeaParty are you still seeing the issue?

[2021-05-19 05:40] peterlimg commented on #280
The `newCounts` slice length should be `genNum+1`, will fix it in the fix/vc-true-stuck branch.

[2021-05-19 11:38] Sriep commented on #260
The problem seems to be associated with the global [`smartcontract.ContractMap`](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/chaincore/smartcontract/handler.go#L25)

[2021-05-20 12:23] Sriep opened #297 "Remove panic from getFileWithoutExtension"
FSBlockStore.getFileWithoutExtension panics if the hash size is lsee than 9
[code]
So the fix me needs to be fixed.

This panic turned up in production
[code]

The real problem that caused this error is somewhere else, but nevertheless, we should find a more controlled way of handling an empty hash.

[2021-05-21 08:44] #260 closed

[2021-05-21 09:45] TheTeaParty opened #298 "Add chaincore mocks"
As part of mocks submodule

[2021-05-21 10:02] TheTeaParty opened #299 "Invalid bls type conversion"
[code]

[2021-05-21 10:08] TheTeaParty commented on #224
@satchinjoshi, yes still here.
![image](https://user-images.githubusercontent.com/4704635/119121032-fe784b80-ba3d-11eb-8992-9366929a0594.png)

[2021-05-21 10:26] TheTeaParty opened #302 "Move miner and chaincore mocks in mocks submodule"
Move the same way @MurashovVen have done for core.

[2021-05-21 11:35] #224 closed

[2021-05-21 11:44] TheTeaParty opened #304 "Add core mocks"

[2021-05-21 12:10] TheTeaParty opened #306 "Add conductor mocks"

[2021-05-21 12:21] TheTeaParty opened #308 "Add sharder mocks"

[2021-05-21 12:22] TheTeaParty opened #309 "Add smartcontract mocks"

[2021-05-21 17:16] #253 closed

[2021-05-22 15:37] #299 closed

[2021-05-22 19:26] guruhubb commented on #235
@bbist please present your idea regarding reporting smart contract error as it has been one of the problems for developers

[2021-05-23 10:07] #234 closed

[2021-05-23 15:11] Sriep opened #314 "Blobber block rewards."
Every block a fixed reward is distributed between, sharders, miners and blobbers. We need a new smart contract method to make the payments to the blobbers.

The unit tests in the PR use the mocks package that is still under development. The `mocks/StateContexti.go` file will likely need to be removed at some point.

1. The `blobber block rewards` smart contract method is run every round. Method to

[2021-05-27 13:57] Sriep opened #319 "Remove typecaset 'rounding' errors"
[code]
Result `0 9`.

Rounding errors are mostly insignificant while typecasting errors always give a noticeable error of `1`.

Internal monetary calculations should all be done using floating-point arithmetic. Typecasting to a `state.Balance` value should only be done once on the final assignment.

Internal functions with monetary parameters should all take `float64` parameters rather than `state

[2021-05-27 13:57] Sriep commented on #319
Here is some code from [stakepool.go](https://github.com/0chain/0chain/blob/3ce38f9875a4ba2681dfd9042a12f087fc9f5017/code/go/0chain.net/smartcontract/storagesc/stakepool.go#L470)
[code]

this is a particularly bad example. So if `interest_interval: 1m` and your unlucky to have your interest per minute be 0.9, then you will get `0` interest per day rather than `1296`. Obviously the typecast should

[2021-05-27 22:15] TheTeaParty opened #320 "Generating Mocks"
Per discussion

[2021-05-28 09:22] #195 closed

[2021-05-29 01:30] andrenerd opened #323 "Generic allocation pool"
As was figured out in the requirements:
"need a generic lock transaction to a read/write pool for anyone's allocation".

Solution:
(preword: Read/Write pool is just a set of Allocation pools linked to Client, ie user)
- To enable Allocation pools with a blank AllocationID field (could be called as "generic" allocation pool).
- To use funds from generic allocation pool(s), if no specific allocation

[2021-05-30 17:27] #320 closed

[2021-05-31 09:44] Sriep opened #324 "Standardise unit tests"
We should try to standardise our uint tests,

With the new 0chian mocks package make sure everyone knows how to use the mocks.

As a first effort in this direction, I wrote PR https://github.com/0chain/0chain/pull/325

[2021-05-31 11:34] mallochine opened #326 "MiraclToHerumiPK function is broken now"
Steps to repro:
1. `cd $TOP/code/go/0chain.net/core/encryption`
2. add `fmt.Println("pk1", pk1)` to test `TestMiraclToHerumiPK`
3. `go test -tags bn256 ./... -v -run TestMiraclToHerumiPK`

this prints out a long string of 0, like this "000000000000000"

this is not correct, it should return something looking like: `23d5f2e6cd7f2d4973fb165d0adca5792c4dfba44146ddb24a562e702653190945b5bd10f08d5af80d1

[2021-05-31 11:41] mallochine commented on #326
I will fix this. I think this is a 1-liner and I know where to put it, but I need to focus on some other more pressing issue right now

[2021-05-31 18:51] shravanshetty1 opened #328 "Create a store layer to speed up api testing"

[2021-05-31 20:41] mallochine commented on #326
fixed in the PR that was merged. Closing.

[2021-05-31 20:41] #326 closed

[2021-06-01 00:53] andrenerd commented on #114
The issues was reported prior significant changes in the code (was done by @Sriep on Mar26). It makes the description non relevant.

@kirillt Please, retest it. or close it.

[2021-06-01 10:48] anish-squareops opened #329 "Failed to verify genesis dkg: ERROR: failed to verify dkg summary"
Miners are crashing with below logs:
[code]

[2021-06-01 10:49] anish-squareops commented on #329
Working commit : https://github.com/0chain/0chain/commit/f84a3d897d33461ae708c3416424ad78d383a9ff

[2021-06-01 11:38] shravanshetty1 opened #330 "Adding GRPC equivalent of "/_nh/whoami""

[2021-06-01 14:25] Sriep opened #331 "Refactor storagesc pools"
The `storageesc` package has various pool objects that use cut and paste of the same code. We should stop this and use common objects to share common code.

PR https://github.com/0chain/0chain/pull/294 is adding a new `clientPool` with potentially more cut and paste code. I suggest stopping the rot and rationalising the Pool types.

&nbsp; | writePool | readpool | clientPool | stakePool | challeng

[2021-06-01 15:55] TheTeaParty commented on #309
Closed by #320

[2021-06-01 15:55] #309 closed

[2021-06-01 15:55] TheTeaParty commented on #308
Closed by #320

[2021-06-01 15:55] #308 closed

[2021-06-01 15:55] TheTeaParty commented on #306
Closed by #320

[2021-06-01 15:55] #306 closed

[2021-06-01 15:55] TheTeaParty commented on #304
Closed #320

[2021-06-01 15:55] #304 closed

[2021-06-01 15:55] TheTeaParty commented on #302
Closed by #320

[2021-06-01 15:55] #302 closed

[2021-06-01 15:56] TheTeaParty commented on #298
Closed by #320

[2021-06-01 15:56] #298 closed

[2021-06-01 22:37] andrenerd commented on #331
@Sriep
clientPool is postponed. It shouldn't be taken in account.
Even if it is implemented in the future, it will replace Read/Write pools. It's not just one more pool.

[2021-06-01 23:25] andrenerd opened #333 "Allocation and related stuff transfer to new owner method"
Allow to modify storage smart contract to:
- set new owner and probably payer, if it's equal to the current owner
- check the transfer initiated by current owner or auth token generated by current owner provided (to be discussed)
- transfer write pool (literally, write allocation pool) to the new owner too (to be discussed)

Also:
- add api endpoint to expose the method (to be discussed)

PS. furt

[2021-06-02 02:14] mallochine commented on #326
the wrong version was committed in fdf5d9eb2ec0467fee642d6d9e91fc41b6191446

[2021-06-02 04:47] bbist commented on #329
The magicblock generation code was using `SerializeToHexStr()` method instead of `GetHexString()`, which was causing the changes in https://github.com/0chain/0chain/commit/ff88415d84b9cac81c6cbbf0c56577ee2d071ff8 to work improperly.
Therefore,
1. `SerializeToHexStr()` was updated to `GetHexString()` in 0chian.net/chaincore/block/magicBlock/main.go.
2. New MagicBlock and DKG summaries are created w

[2021-06-02 06:12] shravanshetty1 opened #335 "Adding grpc equivalent of "/v1/block/get/latest_finalized""

[2021-06-02 09:12] Sriep commented on #331
clientPool does not need to be taken into account. There is still a large amount of copy and paste code in storagesc that needs to be refactored. For example, they lead to several bugs where someone changes one copy and paste method and not the others.

[2021-06-02 12:16] Dmdv opened #337 "RocksDB has outdated image from 2018. I suggest building new prebuild linux/amd64 and march image"
When I started working on the Apple M1 chip I stumbled on the build issues of the RocksDB image.
Refer to my issue here:
https://github.com/facebook/rocksdb/issues/8349
@Sriep

[2021-06-02 12:36] shravanshetty1 opened #338 "Create tool that auto generate proto definitions from golang objects"
Similar to https://github.com/vektra/mockery

Tool should also generate conversion functions that automatically allow to convert grpc objects -> golang objects and vice versa

[2021-06-02 15:01] #263 closed

[2021-06-02 16:15] Sriep commented on #266
Fixed in 268

[2021-06-02 16:15] #266 closed

[2021-06-02 20:24] shravanshetty1 opened #341 "Move go mod to parent directory"
Reasons:
* Difficulty importing 0chain in other repos
* Best practice

[2021-06-03 01:11] TheTeaParty opened #343 "Miner unit tests"

[2021-06-03 01:17] TheTeaParty commented on #170
@Sriep @guruhubb this is closed by #320

[2021-06-03 01:17] #170 closed

[2021-06-03 01:18] TheTeaParty commented on #210
closed by #320

[2021-06-03 01:18] #210 closed

[2021-06-03 01:29] TheTeaParty commented on #338
I think it is not good approach to generate protos from golang structures, it is better have transitional DTOs for that which are generated from protos, will be faster and safer, @Sriep @guruhubb .

[2021-06-03 01:32] TheTeaParty commented on #235
I am starting from miner on #164 .

[2021-06-03 05:33] shravanshetty1 commented on #338
Corrected the heading which was wrong

[2021-06-03 17:50] shravanshetty1 commented on #233
In case of go.mod, I dont think we should do this - we want to use dependencies at a specific commit however if we were to generate go.mod file it will always use dependencies from latest commit. This can introduce breaking changes.

[2021-06-04 16:58] #265 closed

[2021-06-05 08:27] Sriep commented on #341
GitHub expects the root directory of a Go repository to be Go source, so we should move the 0chian/code/go/0chain.net directory to the root with the root directory.  Removing the `code`, `go` and `0chain.net` directories.

The go.mod file will then end up in the parent directory as a side effect.

[2021-06-05 22:35] guruhubb commented on #331
I sort of agree as optimization and better structure, but this can be done later. What are your thoughts @platsko @bbist @peterlimg

[2021-06-05 22:38] guruhubb commented on #319
Sure go ahead @Sriep

[2021-06-05 22:40] guruhubb commented on #242
@Sriep can you take this up as @platsko  is busy with other items

[2021-06-05 22:41] guruhubb commented on #114
Since @kirillt is no longer here, can you @andrenerd  retest and close this issue

[2021-06-06 10:14] Sriep opened #346 "Free Storage"
Implement 0Chain changes for the free storage protocol as out in [ZeroStoreFree document.](https://0chain.slack.com/files/U9B3NRW69/F01QNPRB09L/zerostorfree_1_.pdf?origin_team=T9C1E9JEB&origin_channel=D01NYCVANLC) or try https://0chain.slack.com/archives/C01V6BX52BB/p1620243966000900

Three transactions for interacting with free storage allocations
1. Create a free storage marker.
2. Create a mark

[2021-06-07 01:24] TheTeaParty opened #348 "Improve unit_test.sh and unit_test_build.sh"
Do not rebuild whole container on source code change.

[2021-06-07 02:18] andrenerd commented on #114
Checked. Looks like the issue is gone after the update.

There is no the invalid fields in the returned structure anymore. Basically, as it was proposed by Kirill when he wrote: "We also might not need these fields in this structure at all."

PS.
attached the screenshots.
https://seven.devnet-0chain.net/sharder01/v1/screst/6dba10422e368813802877a85039d3985d96760ed844092319743fb3a76712d9/getMinerLi

[2021-06-07 02:18] #114 closed

[2021-06-07 08:03] Sriep commented on #233
Why do we want to use dependencies from a specific commit?

[2021-06-07 08:08] shravanshetty1 commented on #233
What if a dependency makes a breaking change? we will inherit the breaking change and our software will stop working. This is the reason why go.mod forces you to manually update dependencies. When you add a new dependency it adds the dependency from the last stable commit available at the time of adding the dependency. If new stable releases are available - you must manually update due to the abov

[2021-06-07 08:15] Sriep commented on #331
The best time to make this change is when adding a new pool. Time saved on making the new pool could be used for this refactor.

[2021-06-07 15:29] Sriep opened #350 "End to end test add to pull request checks"
I have fixed a lot of bugs in `0chain` smart contracts where the **numbers** produced were wrong. The fact that these bugs were allowed to happen in the first place is a problem. I suggest adding `end to end` tests to `pull requests check actions` as a solution.

By `end to end` test I mean a set of transaction that form a simple used case, with the enthesis is on confirming the correct numbers ar

[2021-06-07 16:31] andrenerd commented on #346
One of the recently added features, that is supposed to be used for free storage use cases:
https://github.com/0chain/blobber/pull/162

PS.
As was discussed with Saswata, free storage feature(s) are mostly handled by existing storage smart contract (storagesc) with minimal upgrades.

[2021-06-08 01:20] TheTeaParty commented on #348
@Sriep my approach is to remove COPY from Dockerfile, and use volumes, in this case it will not rebuild whole image again.

[2021-06-08 21:29] guruhubb commented on #346
We still need storage marker to be processed by storagesc to mint tokens and unused tokens to be used for renewing allocation. Also @moldis needs to generate this marker from 0Box.

[2021-06-10 10:30] platsko commented on #319
FYI. Floating-point arithmetic often gives unexpected results.
Examples: https://stackoverflow.com/questions/18056787/floating-point-operations-in-go

[2021-06-10 10:58] Sriep commented on #331
Combine with https://github.com/0chain/0chain/issues/319

[2021-06-10 16:54] guruhubb commented on #333
@andrenerd make sure that both current owner and curator are able to transfer ownership of owner's allocation to new owner/buyer. cc @Sriep

[2021-06-11 14:36] Sriep commented on #346
Updated sequence diagrams to take account of new transactions to create markers.

Redeem free storage marker transactions is different from the existing `create new allocation` transaction as it mints rather than transfers tokens, and there are restrictions on the subsequent movement of tokens locked in a free storage allocation.

[2021-06-12 22:45] guruhubb commented on #346
We want the SC to be a simple function.  So today we have write markers and read markers signed by user that we use for data writes and reads to give to blobbers for them to submit to blockchain to collect payments. Its the same concept.

In this scenario, the user goes to the corporation and the corp issues a signed marker which the user uses to lock tokens in his allocation or create new allocat

[2021-06-12 22:51] guruhubb commented on #350
@bbist I believe the conductor already does this. Can we have it in ci/cd as was discussed a while back.

[2021-06-12 22:58] guruhubb commented on #333
https://github.com/0chain/zboxcli/issues/29#issuecomment-860120687

[2021-06-12 23:01] guruhubb commented on #319
@platsko is this still an issue with the current Go

[2021-06-13 05:34] bbist commented on #350
Yes, conductor framework, as it is, can be used to spin up necessary nodes as well as test containers in a sequence necessary for the test.
But the this kind of test can just easily be implemented using docker-compose. In fact, it may be more preferable than using conductor framework.

[2021-06-13 08:41] Sriep commented on #350
If it is being run on each pull request, then it needs to be efficient. If it can be kept within 10 minutes then it will not increase time for checks as they are done in parallel and currently take 10 minutes.

Can conductor be fed a sequence of simple scripts and the return results checked without unnecessary baggage?

[2021-06-14 19:31] hm90121 opened #354 "Automatic unstaking of tokens"
In staking and unstaking of tokens using explorer
I just staked for example 0.5 zcn on sharder(see the attached screenshot)
but after that in last five minutes explorer has unstaked tokens multiple times automatically and increased the total wallet balance.
(explorer used  on nine network)

![explorer staking](https://user-images.githubusercontent.com/65766301/121948684-2cb72580-cd75-11eb-8aef-ef9

[2021-06-16 08:20] Sriep commented on #346
We need to consider all allocation related endpoints and list the ones that need to be changed for free allocations. Suggestions.

`cancelAllocation` and `finalizeAllocation`: The allocation is mothballed and free storage write-pools are kept with the allocation, not returned to the user.
`Transfer allocation`. Can't transfer free allocation.
`Lock more tokens`. Anyone can lock more tokens with a

[2021-06-16 09:23] Sriep opened #356 "Add shellcheck to CI."
As suggested in PR353 https://github.com/0chain/0chain/pull/353

[2021-06-18 00:54] guruhubb commented on #346
Yes keep it simple. After finalization of an allocation, any unused tokens go back to the payer for multi payer pool including freeStorage since it is from a network contract address. So a write pool may have freeStorage, payer1,and payer2, in the pool, etc.

[2021-06-18 03:30] cnlangzi opened #360 "rp_lock does not work"
`rp_lock` fails to lock token.

+ 0chain: df7fc12158382b2073c33fcba5da554653005bdc

- ./zbox rp-lock --duration 720h --tokens 1 --allocation $alloc --blobber f65af5d64000c7cd2883f4910eb69086f9d6e6635c744e62afcfab58b938ee25
[code]
 - ./zbox ls-blobbers
[code]
-  ./zbox get --allocation $alloc
[code]

[2021-06-18 06:27] guruhubb commented on #360
@cnlangz remove the --blobber to make it work.

@andrenerd there is an error. We should NOT have the blobber option since the lock is for a read pool for each of the blobbers associated with the allocation.

[2021-06-18 06:35] cnlangzi commented on #360
@guruhubb it still doesn't work

errors on blobber
[code]

error on zbox
[code]

[2021-06-18 06:41] guruhubb commented on #360
0Chains-MacBook-Pro:zboxcli saswatabasu$ ./zbox rp-lock --duration 720h --tokens 1 --allocation $ALLOC
0chain-core-sdk [INFO]   2021/06/17 23:41:33.658557 wallet.go:276: ******* Wallet SDK Version:v1.2.6 *******
0box-sdk [INFO]   2021/06/17 23:41:33.660017 sdk.go:69: ******* Storage SDK Version: v1.2.6 *******
0chain-core-sdk [INFO]   2021/06/17 23:41:34.153487 wallet.go:359: *******  Wallet SDK V

[2021-06-18 06:54] cnlangzi commented on #360
it is fixed
- ./zbox rp-create
- ./zbox rp-lock --duration 720h --tokens 1 --allocation $alloc

[2021-06-18 06:54] #360 closed

[2021-06-18 14:45] MurashovVen opened #362 "Transaction confirmation does not exist in sharder."
When working with the network, I ran into a problem:
1) Run clean 1 sharder and 4 miner.
2) During the start of consumer, provider, and magma, the smart contract function is launched, the transaction is successfully verified.
3) After some time, transactions are no longer verified and do not reach the sharder.

[Logs](https://drive.google.com/drive/folders/1uAfE4bDPQpl6ThBUGyhphl9fl2Fp2rs4?usp=sha

[2021-06-19 14:08] Sriep opened #363 "unit test for config.go"
Write a unit test for `0chain/code/go/0chain.net/smartcontract/storagesc/config.go`.

It's quite common to add or change config settings. We want an easy to check such changes.

[2021-06-19 19:17] NoSkillGuy opened #365 "Upgrade golang docker images"
Currently, we are heavily using docker images across our project to run microservices.

**_Issue_**:
I came across multiple docker files where the Golang version is different from each other. Since I want to run these applications directly from source, having multiple versions of golang would make things difficult for setup, and moreover, we need to track what's happening across multiple golang ve

[2021-06-22 06:07] andrenerd opened #368 "Challenges expiration"
Challenges are generated and passed well. Not found any issues.
The only prob is a very strict expiration condition and not fully defined actions for "expired" changes. As a result, all challenges taken as expired and not properly processed later.

- expiration time: should it be in config? how much it should be? currently it's set based on `challenge_response.frequency` param.

- post-expiration

[2021-06-22 07:51] guruhubb commented on #368
Yes expiration time is set by the blobber in 0chain_blobber.yaml (blobber repo).Its called `challenge_completion_time`.  It serves as a SLA (service level agreement) and the blobber gets paid for storage only when they pass challenges, and their stake test slashed when they fail. See @Sriep implementation for payment/slash based on challenges pass/fail.

Yes expired challenges are considered faile

[2021-06-22 08:29] Sriep opened #369 "Add curator for allocatin transfer"
Two new endpoints.

A new storagsc endpoint that adds an array of curators to an application. This is just a list of Ids.

A new storagsc endpoint that allows a curator to transfer ownership of an application. This should just transfer ownership without changing existing locked tokens. If the new owner does not have a write pool linked to the application creates a new empty one.

[2021-06-22 15:22] rrrooommmaaa commented on #297
yep, this crashed the sharder on Jun 19 again

[2021-06-22 15:40] rrrooommmaaa opened #371 "Fix _diagnostics/logs outputting empty placeholder lines when not full"
![image](https://user-images.githubusercontent.com/23335944/122955816-1f0f2a80-d389-11eb-9311-45b396a9c732.png)
Looks like this when `ring.Ring` has empty (not yet filled) entries

[2021-06-22 15:44] rrrooommmaaa opened #372 "Specify miner or sharder in n2n.log"
[code]
is a bit perplexing.

Can we make it like "from": "miner-0", "to": "sharder-0" or something like that?

[2021-06-23 13:17] Sriep opened #374 "Immutable allocation"
Add an immutable flag to an allocation.

An immutable allocation is then one where the data cannot be changed. Actions such as `upload`, `update`, `delete` `move` and `copy` return an error for immutable transactions?

[2021-06-23 16:11] andrenerd opened #376 "Duplicated tests in state_handler_test"
Please, clarify the code:
https://github.com/0chain/0chain/blob/master/code/go/0chain.net/chaincore/chain/state_handler_test.go

There are duplicated tests there. Probably all of them. For example, this one:
"Faucet_/pourAmount_Decoding_Global_Node_500"

If there is no reason behind it, please, clean it up.

[2021-06-23 23:26] andrenerd commented on #368
@guruhubb
If the "ChallengeCompletionTime" field should be used, it was already implemented:
https://github.com/0chain/0chain/blob/master/code/go/0chain.net/smartcontract/storagesc/challenge.go#L412

so barely any updates are needed.
going to close the issue.

[2021-06-23 23:55] andrenerd commented on #238
Transformed to #315

[2021-06-23 23:55] #238 closed

[2021-06-26 09:46] Sriep opened #379 "Add tokens to someone read and write pool"
Add endpoint(s) to add tokens to users read pool and write pool.

This follows the discussion in issue https://github.com/0chain/blobber/issues/161.

[2021-06-28 07:44] platsko commented on #242
I researched and debugged the source code. In fact memorystore.DefaultPool is an instance of redis.Pool of the module github.com/gomodule/redigo/redis which already thread-safe because implements the concurrent access mechanism.
And the race-detecting unit tests ran with the latest version of the branch master confirm that there is no race. So, I don't think we need to fix anything there.

[2021-06-28 08:10] #242 closed

[2021-06-28 08:50] #369 closed

[2021-06-28 08:50] rrrooommmaaa opened #381 "Two consequent magic blocks have the same number?"
At least that's what is shown by conductor test. Complete logs are attached
[code]
[VC_numbering.tar.gz](https://github.com/0chain/0chain/files/6724803/VC_numbering.tar.gz)

[2021-06-28 09:21] Sriep opened #382 "Go import on each Pr commit"
I noticed some files being committed that were not go formated. There is no reason to depend on developers for this. So I suggest a GitHub action to run `go import` on all `.go` commits.

[2021-06-28 09:54] #346 closed

[2021-06-28 12:02] #324 closed

[2021-06-28 15:02] #374 closed

[2021-06-28 15:33] andrenerd commented on #333
Closing, as the related branch was forcefully closed.

[2021-06-28 15:33] #333 closed

[2021-06-29 12:56] NoSkillGuy opened #384 "Sharder endpoint `latest_finalized_magic_block` always gives `magic_block_number: 1`"
0dns logs
[code]

I see chain is running with 1 sharder, 3 miners.
<img width="1226" alt="Screenshot 2021-06-29 at 6 26 03 PM" src="https://user-images.githubusercontent.com/3193824/123800995-7a03cd00-d907-11eb-97e2-2941aab11413.png">

Sharder response
[code]

[2021-06-30 01:28] #368 closed

[2021-06-30 01:29] andrenerd commented on #323
not to be implemented.

[2021-06-30 01:29] #323 closed

[2021-06-30 21:06] guruhubb commented on #384
This is correct because the viewchange:false. Once you set it to true, it will change every VC round

[2021-06-30 21:06] #384 closed

[2021-07-02 16:09] guruhubb commented on #376
@andrenerd please go ahead as @MurashovVen is busy with the other project

[2021-07-06 09:19] Sriep opened #385 "Allocation write pools and update allocation request"
StorageAllocation should keep a list linked of write pools. This is so that update allocation requests can source tokens from all its linked write pools.

[2021-07-06 09:20] Sriep commented on #385
copy of https://github.com/0chain/gosdk/issues/132

[2021-07-06 20:05] guruhubb commented on #290
https://github.com/0chain/0chain/issues/385 address same issue

[2021-07-06 20:05] #290 closed

[2021-07-07 01:57] #269 closed

[2021-07-07 06:05] #329 closed

[2021-07-09 10:31] Sriep opened #392 "Curator transafer allcocation should amend Allocations."
[curatorTransferAllocation ](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/smartcontract/storagesc/allocation.go#L1465) should update the [Allocations](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/smartcontract/storagesc/models.go#L58) for new and old owner.

[2021-07-11 04:41] peterlimg commented on #280
This has been fixed by https://github.com/0chain/0chain/commit/5a4e94ebf76e3fe35809db215b1a7a3c582cfdd0

[2021-07-11 04:41] #280 closed

[2021-07-12 09:23] Sriep opened #399 "Add cap to interest payments and blobber rewards."
Add max_mint_interest and max_mint_blobber to sc.yaml. These define a cap on interest payment mints and blobber reward mints.

Both these values should be less than max_mint.

[2021-07-12 18:53] guruhubb commented on #399
We should also have a limit per epoch on the interest to prevent front end run - epoch_mint_interest which declines at the same rate as everything per epoch.

[2021-07-13 11:36] Sriep commented on #379
From https://github.com/0chain/blobber/issues/161
[code]

[2021-07-15 14:59] Sriep opened #405 "Update allocation flag to use latest blobber terms"
Add a flag to update allocation endpoint to update the allocation to the latest blobber terms.
This will at a minimum refresh the [Terms](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/smartcontract/storagesc/models.go#L217) object for the allocation, plus any other changed necessary to make everything work. The blobber information should be self-consistent at all times.

Linke wi

[2021-07-16 08:37] #392 closed

[2021-07-16 09:06] #379 closed

[2021-07-16 17:50] Sriep commented on #233
We can write a script to merge the `go mod tidy` result with a manual set of exceptions. The key is to minimise developer envolvment.

[2021-07-17 09:53] Sriep commented on #350
[code]
`Conductor` would not be suitable as it uses a different code stream to 0chain, so it is not a true 0chain integration test.

[2021-07-19 10:55] Sriep opened #410 "Owner transfer allocatin ownership"
Currently, only a curator can transfer allocation ownership. Add the ability for the owner to transfer ownership.

[2021-07-19 13:45] Sriep opened #412 "Create a new allocation with someone else as owner"
Create a new allocation with someone else as the own.

[2021-07-19 13:55] Sriep opened #413 "New allocation, set prefered blobbers from input."
New allocation, set the prefered blobbers from input rather than the config file.

[2021-07-19 14:11] Sriep opened #414 "Free Storage funds both read and write pool."
New allocation funded with free storage will create both a read and write pool for the owner and fund both out of the free funds.

[2021-07-21 08:46] #376 closed

[2021-07-22 01:02] shaktals opened #415 "Bad stringified json format on transaction_output field from TransactionConfirmationHandler"
As per [this issue](https://github.com/0chain/js-client-sdk/issues/35) opened on `js-client-sdk`, the _transaction_output_ field received from 0chain's [TransactionConfirmationHandler](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/sharder/handler_main.go) has a stringified _json_ content, but it is badly formatted. Here is what is coming through to `go-sdk` now:

![Selection_038]

[2021-07-22 02:53] cnlangzi opened #416 "Added `MinerKeeper` to track add/drop/replace miner"
https://github.com/0chain/0chain/blob/786ea0f9636bb272314cd799b26056905b0d0231/code/go/0chain.net/chaincore/chain/protocol_view_change.go#L44

For now, `RegisterClient` only is invoked once on miner startup. The will not work if any miner is added/dropped/replaced. so It is better to add a `MinerKeeper` to track all miners

[2021-07-22 03:17] cnlangzi opened #417 "Add package/classes/category filter on logging"
There is only `LogLevel` filter on logging. It is difficult to debug zcn with logging. Because it is too much noise on logging even `LogLevel` is error.

It is better to set different loglevel for different packages/classes/category like log4j http://logging.apache.org/log4j/1.2/manual.html

[code]

And it should be easy to turn on/off `MyApp.class` filter on config file.

[2021-07-22 09:48] Sriep opened #418 "Block rewards taking too long"
[payBlobberBlockRewards](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/smartcontract/storagesc/block_reward.go#L9) is taking too long. Find a way of speeding it up.

[2021-07-23 10:52] Sriep opened #419 "integration testing: 0chain block control."
To support integration testing we need more visibility and control over the progression of the blockchain. Many of the values we will want to test against will dependant on how long the blockchain has been running. some suggestions.

1. Have an endpoint that returns the block number. Might be difficult to define exactly what that is.
2. Return a block number with all API calls to indicate when the

[2021-07-23 18:07] Sriep commented on #412
Only need `zboxcli` change https://github.com/0chain/zboxcli/issues/65

[2021-07-23 18:07] #412 closed

[2021-07-23 22:24] stewartie4 opened #421 "[Regression testing]: Integrate Postman/Newman API tests with pipeline"
For a given service pipeline (miner, sharder, blobber)
- Check out the regression tests (versioned via branch in workflow yaml)
- Run the regression tests via newman/postman against the deployed kubernetes stack (or devnet if deployments have not been implemented yet)

[2021-07-23 22:24] #421 closed

[2021-07-23 22:25] stewartie4 commented on #421
Integrated to blobber CI on https://github.com/0chain/blobber/tree/feature/EPIC-github-actions-ci
Can manually run via https://github.com/0chain/0chain/actions/workflows/manual-api-regressions.yml

[2021-07-23 22:27] stewartie4 opened #422 "Expand Postman API automated tests"
Today we have Postman API tests for the following flows:
- 0dns
- create wallet
- create allocation
- execute faucet
- confirm transaction
- retrieve allocation
- update allocation
- upload file
- download file
- share file

We need to expand these tests to cover features such as:
- download shared file
- network health/status metrics

Additionally, assertions are poor (mostly 2xx response only)
-

[2021-07-23 22:30] stewartie4 opened #423 "Block merge if code smells on new code is not resolved"
We currently have a code smell reporter in the form of lint.
However there are a few tweaks we could make.

- Smells should only be reported for the current code being changed (delta against develop)
- Smells do not currently block a PR from merging. This should be automated and enforced
- Only a few lints are enabled, we should increase the number of rules

[2021-07-23 22:32] stewartie4 opened #424 "Block merge if code coverage on NEW code is < 70%"
We currently have a code coverage reporter for our go code.
However there are a few tweaks we could make.

On all GO repos:
1. Code coverage is for all code, not a delta against develop. This means a PR could have zero coverage but overall levels could remain high giving false confidence.
2. Code coverage levels do not currently block a PR from merging. This should be automated and enforced

See h

[2021-07-23 22:34] stewartie4 opened #425 "For a given image built by the CI pipeline, auto-deploy it to kubernetes"
For a given pipeline that produces a docker image (miner, sharder blobber)
- Deploy the image produced to a kubernetes environment
- If an existing stack is already running, replace the pod with the new image
- fail the build if deployment fails

eg. if the pipeline is miner, deploy the newly build miner image

[2021-07-23 22:37] stewartie4 opened #426 "Point API tests to kubernetes cluster"
Assuming https://github.com/0chain/0chain/issues/421 and https://github.com/0chain/0chain/issues/425 has been finished, point the end to end API tests to the newly deployed instance on the cluster

[2021-07-23 22:39] stewartie4 opened #427 "Integrate shell script scanner and block merge if findings are found"
Shell checks can be added to CI to ensure our scripts are kept in good shape.
https://github.com/0chain/0chain/pull/353

Integrate shell checks with CI pipeline
Investigate whether we can get this to fail the build

[2021-07-23 22:40] stewartie4 opened #428 "[Teardown] At the end of the pipeline tear down the deployed chain OR have a scheduled job that runs on a daily basis to do this"
To save on resources the pipeline could tear down the deployed instance of the blockchain.

This has a few downsides:
- A subsequent run will need to spin up an entire blockchain again
- The developer may want the stack to remain for subsequent manual testing

Therefore another solution would be to create a daily cron job to clear down the kubernetes namespace based on age of deployment

merging o

[2021-07-23 22:50] stewartie4 opened #429 "Create CLI smoke tests/ integrate with pipeline"
While the API is tested via postman, the CLI should also have it's common use cases scripted and asserted
For example:
calling ./zbox register
./zbox newallocation
./zbox upload

These do not need to be exhaustive, just common use cases

Integrate these with actions and fail the build if they fail

[2021-07-24 08:40] Sriep commented on #410
The owner can make himself a curator as a workaround.

[2021-07-24 08:41] Sriep commented on #419
We might not need these changes as we can use block explorer.

[2021-07-26 11:28] Sriep opened #432 "Hard coded smatcontract owner"
This could be a security problem. Would it be better to set up these values as part of chain genesis?

[2021-07-26 12:54] #419 closed

[2021-07-27 14:57] #385 closed

[2021-07-27 19:16] guruhubb commented on #432
yes, these need to different along with chain ID for every network we deploy, so needs to be generated at the onset and then used in yaml to deploy the network. But this is more of a deployment issue, but I agree we need to parameterize this and have a yaml to generate these address at the time of deployment.

[2021-07-27 19:54] guruhubb commented on #416
Why you need this when you have 0dns?

[2021-07-28 05:48] anish-squareops commented on #432
@Sriep please add more details on "how to generate these".

[2021-07-28 13:51] Sriep opened #434 "Endpoint for list of blobber stake totals"
Add an endpoint to return a list of blobber total stakes. Needs changes from https://github.com/0chain/0chain/issues/418.

[2021-07-28 17:45] Sriep opened #435 "Update network magic_block_file"
Add a b0magicBlock_2_miners_1_sharders.json and check existing magic_block_file files work.

[2021-07-29 11:48] Sriep commented on #432
I assume the same way as any other (id, public key, private key) triplet the administrator of the chain presumable guards the private key. Check out `./zwallet register`.

[2021-08-02 15:51] Sriep opened #441 "Endpoints for mpt visablity"
Add debug endpoints to see and update the MPT directly.

[2021-08-02 21:04] #422 closed

[2021-08-02 21:17] stewartie4 commented on #422
I have added the following additional tests:
All blockchain block endpoints tested (will need help with assertions)
Wallet balance (pre and post faucet)
All metadata endpoints tested
Update file attributes (may be removed in future but here anyway)
Add collab, remove collab
Update file
Delete file
And generally improved/updated test assertions
There are still tests i'd like to add eg. download as

[2021-08-03 10:47] cnlangzi commented on #416
@guruhubb

It is an issue on local development. sometime miner might stuck , and it has to be restarted. It will lost other clients after a miner is restarted.

[2021-08-05 08:59] Sriep opened #448 "Someting is wrong with blobber staked and allocatied capacity"
[Something is wrong about the blobber staked and allocated capacity](https://beta.0chain.net/blobber).

Please verify the smart contract and API endpoint implementation.

Also, we probably need to have the [capacity staked](https://beta.0chain.net/miner03/v1/screst/6dba10422e368813802877a85039d3985d96760ed844092319743fb3a76712d7/getblobbers) and used on the smart contract (which also needs to be h

[2021-08-05 13:45] Sriep opened #449 "Benchmark smart contracts."
We need to automate benchmarking smart contracts and 0chain endpoints.

My suggestion

1. Arrange all endpoints to have the same signature.
[code]
2. Create a common `state.StateContextI` object.
  * Creating a new copy for each test might take too long.
  * We don't want different tests to interfere with each other.
  * Expect to run tests in parallel and sequence.
  * We want the access times to

[2021-08-05 14:54] cnlangzi opened #450 "The BC won’t create a challenge for an allocation is blank"
https://github.com/0chain/0chain/blob/782dcfc53fee1751080f94657314ee287e9b99f0/code/go/0chain.net/smartcontract/storagesc/challenge.go#L608

blobber will throw an error and mark it as failed if a challenge is opened for a blank allocation. so please check it before opening a challenge for a allocation

[2021-08-06 09:06] shaktals commented on #415
Bump :+1:

[2021-08-06 09:24] #441 closed

[2021-08-07 16:32] guruhubb commented on #416
I don’t quite understand it. The states are in the blockchain smartcontract and MPT persisted in rocksdb - there should not be an issue.  The miner simply recreates them. If thats not the case, then we have a problem.

[2021-08-08 12:44] cnlangzi opened #459 "Add codeql-analysis in github workflows to find potential security vulnerabilities in your dependencies."
linked to https://github.com/0chain/gosdk/issues/197

[2021-08-09 22:49] stewartie4 opened #462 "Miner: Integrate and run component level integration tests in the pipeline"
Miner: Integrate and run component level integration tests in the pipeline

[2021-08-09 22:49] stewartie4 opened #463 "Sharder: Integrate and run component level integration tests in the pipeline"

[2021-08-09 22:50] stewartie4 opened #464 "Blobber: Integrate and run component level integration tests in the pipeline"

[2021-08-09 22:50] stewartie4 opened #465 "PR/master pipeline: integrate and run conductor tests in the pipeline"

[2021-08-09 22:50] stewartie4 opened #466 "PR/master pipeline: Integrate an run load tests in the pipeline"

[2021-08-10 08:00] cnlangzi opened #467 "Add config for turn on/off debug/pprof"
debug pprof is a debugging tool.
- It will take more resources to collection information for debugging.
- it is a security issue leak sensitive information.

so it is better to turn off on production based on config file

[2021-08-10 08:03] cnlangzi opened #468 "add password and ip whitelist protection on _diagnostics, stats etc"
it is security issue for leak sensitive information

[2021-08-10 18:33] shaktals opened #471 "Can't get unlock token transaction confirmation from sharder"
After doing a successful `PUT` request to all miners, I get a `400` from sharders when trying to `GET` confirmation:

Successful PUT:

![Selection_061](https://user-images.githubusercontent.com/24679343/128915429-3c24686b-0eb3-4e4f-86d6-57a63673faf6.png)

Bad request response from sharder:

![Selection_062](https://user-images.githubusercontent.com/24679343/128915586-4c6b304f-d6d0-4562-83c6-d67c0a

[2021-08-10 18:34] shaktals commented on #471
Even minutes after the successful PUT, I can't get the confirmation.

[2021-08-12 07:28] #435 closed

[2021-08-12 11:02] Sriep opened #472 "Survay object stored in the MPT"
Prepare a list of all objects that can be stored in the MPT. Note why each field is needed and if we really need it.

An IDE should be able to give a list of objects that implemt the [util.Serializable](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/core/util/secure_value.go#L16) interface.

[2021-08-12 11:33] Sriep commented on #471
You did an `unlock` transaction and despite the transaction being successful and the tokens being unlocked you could not find the transaction listed?  Is this correct?

Is this a one-off or repeatable?

I tried the sharder get and it worked for me. Difficult to see why the `unlock` command would be singled out in any way. My guess is that it was an environmental problem.

[2021-08-12 17:20] shaktals commented on #471
That seems correct, the tokens are unlocked but the `transaction/get/confirmation` endpoint returns 'entity not found'.

Consistently repeatable.

The same `get/confirmation` endpoint works fine when locking tokens, staking them, etc.
I just tried the same operation on `zwallet-cli` and got a similar error, here is the [image](https://user-images.githubusercontent.com/24679343/129240242-faf1635a-d

[2021-08-12 18:22] shaktals commented on #471
Sorry, this was totally my misunderstanding of the locking process.
I was not waiting for the `locked` time to pass.
If we wait that time, works perfectly,

But so, I think the `[miner]/v1/transaction/put` endpoint should return an error if the user tries to unlock a token before it's locked time is complete. I'll open an issue there.

[2021-08-12 18:22] #471 closed

[2021-08-12 18:25] shaktals opened #478 "PUT Transaction endpoint should error if trying to unlock token before time"
Now the PUT `[miner]/v1/transaction/put` endpoint returns a 200 success when trying to unlock a token, even if it's locked time has not completed yet. I think it should error. Check #471 for context.

[2021-08-12 18:49] Sriep commented on #471
Ah, I understand. I am not sure an error is appropriate as the tokens have actually been unlocked, just the unlocking is delayed until it is possible. Better would be a warning as this is an easy gotcha to fall for.

[2021-08-12 18:51] shaktals commented on #471
Oh, the unlock request actually succeeds then, but the action is postponed to when the locked term is over. Got it. Linking #478 to this.

[2021-08-12 19:01] shaktals commented on #478
As Piers just explained in the above mentioned issue, the request actually succeeds, but the action is postponed. It'd be nice to let the user know about that.

We could even display that info on the frontend maybe. We'd have to update the `getUserPools` endpoint too? (I quickly tried to find the docs for it but couldn't)

[2021-08-13 07:19] moldis opened #479 "Sharder non-stop crashing"
Giving the log below:

`panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0xb5d506]
goroutine 16 [running]:
0chain.net/chaincore/node.(*Pool).RequestEntity(0xc00092c820, 0x1205a30, 0xc0004e86c0, 0x0, 0xc0005a40f8, 0xc000556140, 0x0)
	/0chain.net/chaincore/node/n2n_request.go:40 +0x46
0chain.net/chaincore/chain.(*Cha

[2021-08-13 09:58] cnlangzi opened #480 "A tcp performance issue for `too many open files`"
https://github.com/0chain/0chain/blob/cbb79371c53bb7f101165cf5664b53ed09f3a7df/code/go/0chain.net/chaincore/httpclientutil/http_client_util.go#L96

On client:
I remember it is a tcp issue. it can be fixed `req.Header.Set("Connection", "close")` or `req.Close =true`

On server:
It is a performance issue on tcp socket resource limit . https://github.com/golang/go/issues/28272

please ask QA to make

[2021-08-14 10:34] Sriep commented on #478
We could change `zbox` to return a friedly message about maybe having to wait, althogh I am not sure that would help your use case.

[2021-08-16 14:30] #462 closed

[2021-08-16 14:30] #464 closed

[2021-08-16 14:37] stewartie4 opened #486 "0box initial system tests setup"
This is the cornerstone story for the wider system tests project.
System tests are concerned with testing the entire running system as a whole, mostly as the end user although some exceptions should be taken with this approach eg. direct db assertions should be used to assert internal state after a feature has executed.

In this story the technology used for the 0box system tests will be decided (

[2021-08-16 15:32] shaktals commented on #478
Yeah, on `block-explorer` we are actually preventing the user from trying to unlock a token before the lock time is complete. However, for any other clients consuming the API, this could be a source of confusion. I guess it'd just be a small improvement to make the API a little friendlier.

[2021-08-17 10:47] stewartie4 opened #488 "0Box: Register wallet system tests"

[2021-08-18 21:20] shaktals opened #493 "Inform release round and txn amount on deleteFromDelegatePool txns"
@Sriep, I just asked @guruhubb about some transactions that are being called `Unstake Tokens` on explorer. Upon checking details we see that the transaction name is `deleteFromDelegatePool`. Two things Saswata mentioned:

- the txn output action prop should be `pool will be released in round xxx` and not `next VC`
- the txn amount should be informed (maybe in the output itself?)

Here is a txn exa

[2021-08-19 08:29] Sriep commented on #493
[deleteFromDelegatePool]((https://github.com/0chain/0chain/blob/master/code/go/0chain.net/smartcontract/minersc/delegate_pools.go#L106)

#### deleteFromDelegatePool

1. Gets user's pool from the blockhain. Finds the pool to be deleted.
2. Checks the pool's status.
3. If the pool is `DELETING` does nothing.
4. If the pool is `PENDING` it removes the pool from the miner and Transfer funds to the poo

[2021-08-19 15:00] shaktals commented on #493
As for the _frontend_, I think the most important part is to return the txn amount in the response. Is it feasible?

As for the release round info, I don't see it as high priority, but to clarify:

if `reward_round_frequency` > 0, we'd have to calculate the round where the pool would be released,
if `reward_round_frequency` == 0, it's just released in the next round?

As I understand, Saswata didn

[2021-08-19 15:17] Sriep commented on #493
[code]
By transaction amount do you mean the amount of money in the pool? Should be able to change.

ATM if the pool is pending and the money is actually deleted (status=pending) then the json of the transfer request is returned by 0chain. Otherwise, the hardcoded value `{"action": "pool will be released next VC"}`. Whatever tool is pointing to 0chain might have to be modified as well.

[code]
It

[2021-08-19 15:25] shaktals commented on #493
Yeap.

Do we have tools depending on that return message? It looks like generic info. But we could ask that around on slack to confirm.

Sounds excellent!

[2021-08-19 18:16] Sriep commented on #493
The main tools I am thinking of are zwallet and zbox. One of these will need updating.

[2021-08-19 20:10] shaktals commented on #493
Cool, if you need a hand let me know!

[2021-08-20 15:12] stewartie4 opened #495 "Github actions: create pipeline that runs system tests"
Github actions: create pipeline that runs system tests

[2021-08-20 16:06] Sriep opened #496 "0chain.yaml settings in mpt"
We want to be able to apply changes to `0chain.yaml` settings to a running chain.

This means saving the settings the 0chain.yaml.

We will need to develop a process where the chain reconfigures itself with any 0chain.yaml changes. This is probably best done at the start of each new round.

[2021-08-21 17:12] #429 closed

[2021-08-21 23:48] stewartie4 commented on #478
This is more of a consequence of our separation of concerns design right? - when you send a transaction, the processing is asynchronous so you've no idea whether the request succeeded or not. The 200 response is simply saying I have accepted the resource you have PUT, the processing happens later by another component.
That's why you have to confirm the transaction on the sharder after sending it

[2021-08-22 00:05] shaktals commented on #478
Agreed, I see no problem with the `200` response. Just thought we could maybe include a piece of info on the response, along the lines of: `Unlock scheduled to be processed after lock time is complete` or something.

A small improvement, not essential.
If it doesn't resonate with you guys, we can just close this :+1:

[2021-08-23 17:04] stewartie4 commented on #350
completely agree with this, this is what we want to have with the system tests initiative
For now we have API end to end tests that can be kicked off manually
https://github.com/0chain/0chain/actions/workflows/manual-api-regressions.yml

[2021-08-23 19:32] guruhubb commented on #479
This has been fixed by recent push from Peter - https://github.com/0chain/0chain/commit/89039275c2332ce64db2dec8c21f45e650fe7770. Is this still happening?

[2021-08-24 03:25] haule24hdev opened #498 "Handle error when create allocation"
![Screenshot from 2021-08-24 10-24-02](https://user-images.githubusercontent.com/50743635/130550846-6c8a7296-2fa5-499d-85d9-6ddac263fda3.png)
![Screenshot from 2021-08-24 10-25-18](https://user-images.githubusercontent.com/50743635/130550949-adf464fe-f6e1-4b83-825e-4e0e0f408e01.png)
This is curl:
curl 'https://prom.0chain.net/sharder02/v1/screst/6dba10422e368813802877a85039d3985d96760ed84409231974

[2021-08-24 08:21] Sriep opened #499 "Make delete miner or sharder permanent"
https://github.com/0chain/0chain/pull/481 give an endpoint that allows deleting a harder and miner node. The problem is that once a node is removed from 0chain, 0chian detects it and immediately adds it back in.

To prevent this we need some form of blacklist. So 0chain will not add back a node that has been deleted.

[2021-08-24 13:17] shaktals commented on #498
Maybe a better/more specific name for this issue title would be something like:
`Error trying to get blobber list to honor new advanced allocation`

Btw, I tried to find docs for the `allocation_min_lock` endpoint, but couldn't find any.

[2021-08-24 16:06] Sriep commented on #496
Suggested list of settings to add to MPT

<details>
  <summary>alloc-cancel</summary>

[code]

</details>

list of  55 settings.

1. 25 Settings are in the Chain.config object so are already set by solution:point_up:. :grinning:
2. 6 stored elsewhere in the chain but should be easy to merge with other settings.
3. 9 are kept as global objects, including the development settings. Work will need to

[2021-08-24 16:07] Sriep commented on #496
`0cahin.yaml` treats `time.Duration` entries badly. Suggest change to `sc.yaml` method.

[2021-08-26 13:59] mohsenno1 opened #502 "Failed opening the RDB file state.dump.rdb (in server root dir /0chain/data/redis/state)"
Running a chain of 3 miners and 1 sharder on local using dockers. After few minutes redis start to log this error on console.

[code]

this can be related to #74 issue. Since the redis documentaion emphasizing on storing to the disk.

this issue can be also related to #state hash mismatch on miners.

![redis error](https://user-images.githubusercontent.com/19901130/130971373-d1a50eda-2a71-4b42-9ed

[2021-08-28 07:47] guruhubb commented on #502
@mohsenno1 you can put this in the Debugging section of the readme.

[2021-08-28 08:29] Sriep commented on #449
Thinks to preload MPT with

1. Clients, clients write pools and clients read pools. (wallets)
2. Blobbers, all blobbers list, blobber stake pools
3. Allocations, all allocations list, allocation pools.
4. Miners, miner stake pools
5. Sharder, sharder stake pools
6. Magma providers.
7. Zcnsc authorizers

[2021-08-28 12:43] mohsenno1 commented on #502
@guruhubb it's not comfortable to run this bunch of commands every time someone wants to create the chain on dockers. So I added two lines to set this permission in `init.setup.sh`.

can you check this commit on staging branch: d6e6f8cb6d506e319a52fbdca35689301d463dae

[2021-08-30 10:23] Sriep opened #504 "ReadPool(Un)Lock and WritePool(Un)Lock"
ReadPoolLock, ReadPoolUnLock, WritePoolLock and WritePoolUnlocked seem to be bugged. In particularly the funded pools part. The code does not make sense, need to check.

[2021-08-30 20:52] shaktals commented on #498
This is also is hindering the resolution of [another issue](https://github.com/0chain/zboxcli/issues/94#issuecomment-904200281) in `zboxcli`.

[2021-09-03 20:44] Sriep commented on #414
Done with Pr420

[2021-09-03 20:44] #414 closed

[2021-09-03 20:45] Sriep commented on #337
Fixed with https://github.com/0chain/0chain/pull/411

[2021-09-03 20:45] #337 closed

[2021-09-04 15:43] stewartie4 opened #510 "Regression: Send ZCN with transaction data (note) is broken in testnet"
API regressions are failing on testnet. See:
https://0chain.github.io/0chain/test/2021-09-04_15.32.13/index.html#pills-requests/folder-338bed6e-fae9-44e3-b9f7-15db9377a1e4-iteration-0/requests-60c83dde-26d5-491f-86c7-de7b47a06548

When attempting to send ZCN with transaction data the following response is returned:
![image](https://user-images.githubusercontent.com/18306778/132100193-49778e8e-065c

[2021-09-07 10:10] Sriep commented on #498
The error means that there are not enough blobbers that satisfy the parameters of the allocation request.

Ether add more blobbers or reduce parameters like size, shards, expiration time etc.

[2021-09-08 17:57] shaktals commented on #498
@Sriep I played with it again. and I found out the bug happens only when we move the lower boundary of prices. When you move the upper boundary the error goes away. Now it looks like a _front end_ error indeed. @haule24hdev will you please confirm?

[2021-09-09 08:57] Sriep opened #516 "Seperate config settings into seperate package"
We want common code for handling settings that all our modules can access. So the setting code for global and smart contracts should be put into a separate package so that they can be accessed anywhere.

We also need to add some code for formating output for different data types.

[2021-09-13 10:47] Sriep opened #522 "Keep shared object in a seperate package."
Create a shared package for 0chain objects that are shared between modules. Hopefully, this will stop issues like https://github.com/0chain/0chain/pull/521 from occurring.

This is an extension of https://github.com/0chain/0chain/issues/516.

[2021-09-22 16:10] Sriep opened #533 "Remove interest"
We should remove interest for blobber, miner and sharder pools, only use interestpoolsc.

Remove from code to stop confusion.

[2021-09-22 18:58] Sriep opened #534 "Smart contract settings: restrict changes to set rounds."
For each smart contract, restrict setting changes to occur on particular rounds.
Add a `setting_change_round` to each smart contract entry in sc.yaml.
So setting changes are collected and changed all at once when the round is an even multiple of `setting_chane_round`.

[2021-09-23 16:02] Sriep opened #538 "Allow anyone to extend allocation"
~~Modify `zbox update allocation`, with a new `--update-positive-expiry` option. This will allow anyone to lock tokens in an allocation to extend it's expiry.~~

~~Add a --no-expiry flag for an allocation. If this is set, the expiry period cannot be reduced and the allocation cannot be cancelled or finalized.~~

[2021-09-25 11:51] Sriep opened #540 "Make the "Not enough blobbers to honor the allocation" error more informative"
Make the ["Not enough blobbers to honor the allocation" ](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/allocation.go#L433) more informative.

It often confuses people when they see this message and don't know what is the problem that is preventing enough blobbers being selected.

[2021-09-28 14:04] Sriep opened #541 "Possable problem with global settings."
@peterlimg point in https://github.com/0chain/0chain/pull/501 needs to be considered.

@Peter raised a point about updating global-settings. Prs501 and PR524.
Because global settings can be accessed at any time, not just while running a smart contract, its possible that things are not set up properly when queried. In particular the MPT might not be fully configure and the config settings are missi

[2021-10-01 17:27] Sriep commented on #510
The `invalid transaction data` comes from the [Transaction.ValidateFee](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/chaincore/transaction/entity.go#L110) method.
[code]

An attempt is made to unmarshal the transaction data into a [smartContractTransactionData](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/chaincore/transaction/entity.go#L86) object.
[code]

[2021-10-05 14:49] kushthedude opened #550 "Create boilerplate code for the grpc-gateway"
#### Description
The boilerplate code being used by blobber is too difficult to navigate through or to understand, utilise the standard grpc-gateway boilerplate code https://github.com/johanbrandhorst/grpc-gateway-boilerplate

[2021-10-05 15:04] kushthedude opened #551 "Migrate all the relevant miner HTTP handlers to gRPC"
#### Description
There are a lot of handlers in miner which are either writing to response-writer or just returning a simple html response, migrating such handlers to grpc wont give any significant performance improvements since they are already a lot simple.

### List of Endpoints to migrate
- [ ] #552
- [ ] #553
- [ ] #554
- [ ] #555
- [ ] #556
- [ ] #557
- [ ] #558
- [ ] #559
- [ ] #560
- [ ] #

[2021-10-05 15:04] kushthedude opened #552 "Migrate `/v1/_x2m/block/notarized_block/get` to grpc"

[2021-10-05 15:04] kushthedude opened #553 "Migrate `/v1/_x2m/block/state_change/get` to grpc"

[2021-10-05 15:05] kushthedude opened #554 "Migrate `/v1/_x2m/state/get` to grpc"

[2021-10-05 15:05] kushthedude opened #555 "Migrate `/v1/_m2m/dkg/share` to grpc"

[2021-10-05 15:05] kushthedude opened #556 "Migrate ` /v1/_m2m/chain/start` to grpc"

[2021-10-05 15:05] kushthedude opened #557 "Migrate ` /_sign` to grpc"

[2021-10-05 15:05] kushthedude opened #558 "Migrate ` /v1/config/update` to grpc"

[2021-10-05 15:05] kushthedude opened #559 "Migrate ` /v1/config/update_all` to grpc"

[2021-10-05 15:05] kushthedude opened #560 "Migrate ` /_sign` to grpc"

[2021-10-05 15:05] kushthedude opened #561 "Migrate ` /_hash` to grpc"

[2021-10-05 15:05] kushthedude opened #562 "Migrate ` /v1/_m2m/round/vrf_share` to grpc"

[2021-10-05 15:05] kushthedude opened #563 "Migrate ` /v1/_m2m/block/verify` to grpc"

[2021-10-05 15:05] kushthedude opened #564 "Migrate ` /v1/_m2m/block/verification_ticket` to grpc"

[2021-10-05 15:05] kushthedude opened #565 "Migrate ` /v1/_m2m/block/notarization` to grpc"

[2021-10-05 15:10] kushthedude opened #566 "Use buf for managing grpc protos"

[2021-10-05 21:03] Dmdv commented on #319
@Sriep Shouldn't we use decimals (https://github.com/shopspring/decimal) in case we are talking about numbers or big.Int we are talking about big integers. In smart contracts we are supposed to use integers as with Ethereum.
Am I correct?

[2021-10-05 22:51] Sriep commented on #319
In smart contracts, we currently use `state.Balance` object to hold fund amounts, which is `int64` or `1e0 * tokens`. As far as I know, that is sufficient, although we could use [big.Int](https://pkg.go.dev/math/big)` if it later runs out that int64 is not big enough.

[2021-10-06 01:27] guruhubb commented on #538
Also we should have by default prevent users from reducing the expired period since there is already a cancel allocation command.

[2021-10-06 12:56] Sriep opened #568 "Update allocation request - improve performance"
Update location request is linear in the number of shards. The benchmark suggests taking around 2-4ms per shard, so only takes around 15 shards before exceeding 50ms.

We could either aim at making updateAllocaiontRequest more efficient in general or look for ways to reduce the linear dependency.

[This block of code](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/s

[2021-10-06 13:06] Sriep opened #569 "New allocation request - improve performance"
The new allocation request is linear in the number of blobbers.

It also is linear on the number of shards in the same way as the update allocation request https://github.com/0chain/0chain/issues/568, but this is obscured by the blobber dependency.

The [filterBlobbers](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/allocation.go#L428) iterates over all bl

[2021-10-06 15:30] webPlayer7 opened #571 "Recover wallet returns random wallet for randomly invented mnemonic"
I tried to recover the wallet and enter the random secret phrase, and it returns with a random wallet with the input secret phrase.
I am not sure it is originally designed like this flow or it should show an error for the non-existing secret phrase.

[2021-10-06 15:37] shaktals commented on #571
I'd think it should return en error if a wallet with the provided mnemonic does not exist.

[2021-10-06 16:18] Sriep opened #572 "Cancel allocation request and BlobberChallenge object - improve performance"
https://github.com/0chain/0chain/issues/533 should improve cancelAllocationRequest benchmark performance. This should be enough for `finalize_allocation`, but `cancel_allocation` had another problem due to its need to handle open challenges.

The second problem is in [canceledPassRates](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/allocation.go#L1145). I

[2021-10-06 18:04] Sriep commented on #572
This looks like we should focus on improving the [BlobberChallenge](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/models.go#L93) object and its array of [StorageChallenger](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/models.go#L148) objects.
Test suggest each StorageChallenge is taking tens of microseconds to u

[2021-10-07 10:18] Sriep commented on #568
The time [updateStakePool](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/stakepool.go#L879) takes seems to be split between getting the stake pool from the MPt and saving to the MPT. The aim here is to update the stake pools with updated stake information.

Ideas for improving include.
1. Chacking we really need to update an offer before we get the stake

[2021-10-07 12:26] Sriep commented on #572
Fixing the BlobberChallenge issue we reveal the [extendOffer block](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/allocation.go#L1246).
[code]
This is taking around 50ms, too long, and is the same code as in updateallocation https://github.com/0chain/0chain/issues/568#issuecomment-937654641 and can be addressed the same way. I suggest using go routines an

[2021-10-07 15:06] Sriep opened #573 "Finalize allocation - improve performance"
The main difference between finalize and cancel allocation https://github.com/0chain/0chain/issues/572 is that the [finalizedPassRates](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/allocation.go#L1105) method in finalizeAlocation is less time-intensive than [canceledPassRates](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract

[2021-10-07 21:30] Dmdv commented on #533
@Sriep Working on it

[2021-10-08 16:58] Sriep opened #577 "StakePool, keep Offers in a seperate object - improve performance."
Split up the [stakePool](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/stakepool.go#L157) object, so the Offers are kept in a different object.

There are mainly treated independently so there is no reason to couple Offers with the Pools themselves. This has mainly been inspired by https://github.com/0chain/0chain/issues/568 where updateAllocationRequest

[2021-10-08 17:01] Sriep opened #578 "GenerateChallenges - improve performance"
[GenerateChallenges](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/challenge.go#L524) needs to be improved.

The biggest issue is the BlobberChallenge object https://github.com/0chain/0chain/issues/579, this takes too long to get from the MPT and needs refactoring. Fixing this should reveal several other issues below.

One obvious problem point is that it

[2021-10-09 08:25] Sriep commented on #578
An immediate problem is calling [getAllocation` 100 times](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/challenge.go#L609). Its taking almost a millisecond to get an allocation from the MPT. We need an easier way for GenerateChallenge to vet an allocation.

[2021-10-09 09:00] Sriep opened #579 "BlobberChallange object too big - improve performance"
The [BlobberChallenge](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/models.go#L93) object is too big and needs to be refactored. In benchmark testing it is taking hundreds of milliseconds to retrieve from the MPT.

It is used in cancelAllocation https://github.com/0chain/0chain/issues/572 and GenerateChallenges https://github.com/0chain/0chain/issues/578

[2021-10-09 09:06] Sriep commented on #577
How large is the number of allocations per blobber/stake pool likely to get? Say we have a hundred thousand blobbers and ten million allocations with 50 blobbers each, suggests 500 allocations per blobber if spread evenly; this might be manageable. However we want to prefer higher staked blobbers so some blobbers could have much higher number of allocations.

If possible we should look for ways to

[2021-10-09 10:56] Sriep opened #580 "Benchmark `challenge_response` and imporve performance"
`challenge_resopnse` -> verifyChallenge got left out of the benchmark tests in `storagesc/benchmark_tests.go`. As this uses BlobberChallenge it is likely a problem but will be fixed with https://github.com/0chain/0chain/issues/579.

[2021-10-09 23:12] Dmdv commented on #533
 @Sriep https://github.com/0chain/0chain/pull/581

[2021-10-10 12:47] Sriep commented on #569
The main issue here is looping over all blobbers to find a suitable list of blobbers. Just using a list of all blobbers in itself will take too much time. here list is an array of all 100,000 blobbers.
	for _, b := range list {
The suggested way of handling this is to partitions blobbers by staked free capacity . We  can then get a block of blobbers that are all good enough. This looks doable but

[2021-10-10 13:05] Sriep commented on #578
1. First it uses a list of validators and allocation both around or well over the 100,000 limit.
2. The allocations list is used to generate a random allocation. This is the only use of the all allocations list, it should be possible to replace with partitions of size 100. Pick a random partitions then use allocations in that.
3. The validator list is used to select a random sample of validators t

[2021-10-13 14:58] shaktals commented on #571
@Sriep @m-s-a-c can you indicate someone to help us here?

[2021-10-14 15:59] Sriep opened #587 "Validators - remove if stake is too low."
Have a minimum stake for validators. Remove validators that have too low a stake.

[2021-10-16 13:34] Dmdv opened #591 "gozstd needs updating"
Failing to build with an outdated gozstd version
<img width="569" alt="image" src="https://user-images.githubusercontent.com/805238/137589434-304d82fb-ad81-4f51-8122-9bb36d6923ad.png">

After update **gozstd v1.5.0 => v1.13.0**, the error didn't repeat

<img width="570" alt="image" src="https://user-images.githubusercontent.com/805238/137589462-0c709ded-3a3a-4e4f-8afb-2396dfe19b36.png">

[2021-10-16 23:49] stewartie4 commented on #510
@Sriep yeah as we've mentioned in slack, this is a change in behaviour from how things worked before and therefore the CLIs and block explorer is broken
if these repos are updated to send a json object then i see no issue

[2021-10-18 04:58] krishnemd commented on #498
Here the error reporting is fine as it says that given parameters do not match with any of the blobber specification. This error will occur even in Simple mode of creating allocation when unnatural size is entered in the form. Backend wise error reporting is fine so let's close the issue.

[2021-10-18 18:57] shaktals commented on #498
Just one thing though, it seems like when the parameters can not be honored by any blobber, the backend response code is `500 - internal server error`. That is not a semantically correct error code, imho it should be fixed.

My preference would be a `200` or `204` code with empty response, stating that the request was successfully made to a valid route, but there are no content.

A `404` always re

[2021-10-18 23:59] krishnemd commented on #498
Yes in that case its an issue. I can see it being raised in multiple repos.
https://github.com/0chain/zboxcli/issues/53

[2021-10-19 00:43] shaktals commented on #498
Cool, I'll close this and open a new specific issue regarding that.

[2021-10-19 00:47] shaktals opened #592 "If there are no blobbers to honor requested allocation params, server returns wrong status code (500)"
When the requested parameters can not be honored by any blobber, the backend response code is `500 - internal server error`. That is not a semantically correct error code.

The most appropriate code would be a 200 or 204 code with empty response, stating that the request was successfully made to a valid route, but there are no content.

[2021-10-19 07:45] Sriep opened #593 "0chain events"
0Chain's MPT currently holds a lot of data that is only used by REST API endpoints to return data to users. This data does not need to be in the MPT, It bloats the size of the MPT, and slows down endpoints that maintain the data.

We should create a row focused `stats database` to support data queries.

This database will be write-only for smart-contract endpoints, this will allow the `stats datab

[2021-10-19 07:47] Sriep commented on #593
We need to decide what database type to use. `MySQL`, `Postgres`, `SQLite` etc. Probably Postgres as Blobber uses it.

[2021-10-19 21:29] Dmdv commented on #593
@Sriep Postgres of any other DB such MySQL or SQLite

[2021-10-21 01:07] cnlangzi opened #594 "challenge stats is not thread-safe"
challenge is generated in concurrent request

[code]

But code seems is not designed for thread-safe.

https://github.com/0chain/0chain/blob/f644d47e778b9f61725bcde566e5cdda6d14116a/code/go/0chain.net/smartcontract/storagesc/challenge.go#L473

https://github.com/0chain/0chain/blob/f644d47e778b9f61725bcde566e5cdda6d14116a/code/go/0chain.net/smartcontract/storagesc/challenge.go#L761

[2021-10-25 02:35] peterlimg opened #600 "Sync missing blocks in `HandleNotarizationMessage()`"
We used to start the missing blocks sync up process in  `restartRound`, which means if a miner have blocks missing, it will have to wait the hard round timeout to trigger the sync up process. And during the waiting period, more blocks will  be missed. The solution that may help is to do the missing blocks sync up in `HandleNotarizationMessage()` function.

Check details here: Check details here ht

[2021-10-25 02:42] peterlimg opened #601 "Do not verify block if the VRF shares have not reached threshold"
A miner should not verify a block if it does not have enough VRFShares consensus for the RRS of the block.

Check details here: https://0chain.slack.com/archives/C01V27E2Z9N/p1634872520004600

[2021-10-25 12:49] Sriep commented on #164
Not needed.

[2021-10-25 12:51] Sriep commented on #131
Race issues propted by this issues have been fixed in subsequent PRs. Any new race issues found can be handled by a new issues.

[2021-10-25 12:52] Sriep commented on #192
Closed as PR283 has been merged.

[2021-10-25 12:56] Sriep commented on #204
Closing as per @guruhubb 's comment above.

[2021-10-25 12:57] Sriep commented on #208
Several globals have been removed. This is more programming advice than a specific issue. Closing.

[2021-10-25 13:00] Sriep commented on #211
This is more programming advice than a specific issue. Close and replace with specific recommendations.

[2021-10-25 13:01] Sriep commented on #220
Seems to be outdated.

[2021-10-25 13:01] Sriep commented on #235
End discussion for the moment.

[2021-10-25 13:04] Sriep commented on #243
https://github.com/0chain/0chain/pull/411

[2021-10-25 13:07] Sriep commented on #247
https://github.com/0chain/0chain/pull/231

[2021-10-25 13:08] Sriep commented on #267
Fixed in linked Pr 283.

[2021-10-25 13:09] Sriep commented on #275
Resolved.

[2021-10-25 13:12] Sriep commented on #276
https://github.com/0chain/0chain/pull/236

[2021-10-25 13:15] Sriep commented on #285
This aim unclear and not progressing. Refer to https://github.com/0chain/0chain/issues/108. closing.

[2021-10-25 13:24] Sriep commented on #330
Close due to 332.

[2021-10-25 13:25] Sriep commented on #331
Closed as we have https://github.com/0chain/0chain/issues/319

[2021-10-25 13:26] Sriep commented on #335
https://github.com/0chain/0chain/pull/340

[2021-10-25 13:28] Sriep commented on #343
The minor package needs some unit tests, but the code is complicated and useful unit tests might be difficult to write.

[2021-10-25 13:28] Sriep commented on #348
Outdated.

[2021-10-25 13:29] Sriep commented on #350
Moved to https://github.com/0chain/system_test

[2021-10-25 13:32] Sriep commented on #363
Included as part of https://github.com/0chain/0chain/pull/537

[2021-10-25 14:18] Sriep commented on #372
https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/chaincore/node/n2n_request.go#L213
[code]

[2021-10-25 14:21] Sriep commented on #399
We don't use interest rates for storagesc anymore.

[2021-10-25 14:22] Sriep commented on #314
Add max_mint_interest and max_mint_blobber to sc.yaml. These define a cap on interest payment mints and blobber reward mints. https://github.com/0chain/0chain/issues/399

[2021-10-25 14:22] Sriep commented on #399
Moved to https://github.com/0chain/0chain/issues/314

[2021-10-25 14:24] Sriep commented on #416
No response for a few months. I will take @guruhubb 's comment of 7Aug as closing the issue.

[2021-10-25 14:28] Sriep commented on #314
[payBlobberBlockRewards](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/smartcontract/storagesc/block_reward.go#L9) is taking too long. Find a way of speeding it up.

[2021-10-25 14:28] Sriep commented on #418
Move to https://github.com/0chain/0chain/issues/314

[2021-10-25 14:30] Sriep commented on #356
Repat of https://github.com/0chain/0chain/issues/427

[2021-10-25 14:33] Sriep commented on #449
https://github.com/0chain/0chain/pull/503

[2021-10-25 14:36] Sriep commented on #579
Also, fix opening challenges for empty allocations. https://github.com/0chain/0chain/issues/450

[2021-10-25 14:36] Sriep commented on #450
Moved into https://github.com/0chain/0chain/issues/579

[2021-10-25 14:46] Sriep commented on #478
Giving an informative response to the user should be the job of the tool sending the transaction. `zbox` for example. Closing as in the wrong project.

[2021-10-25 14:53] Sriep commented on #571
How did you `recover the wallet and enter the random secret phrase`? Did you use a tool like `zwallet`, or maybe send a transaction somewhere using `curl`? Please give the command sent.

[2021-10-25 15:05] Sriep commented on #496
https://github.com/0chain/0chain/pull/501
We might need to add more settings later

[2021-10-25 15:08] Sriep commented on #479
After two months assume this panic is fixed in https://github.com/0chain/0chain/pull/458.

[2021-10-25 16:28] Sriep commented on #427
Some work towards this was done in

[2021-10-25 17:46] webPlayer7 commented on #571
I tried to recover wallet using block-explorer @Sriep

[2021-10-25 18:51] guruhubb commented on #571
@shaktals @JordanMicle2019 please make sure you try with zwalletcli and zboxcli before posting issues. Its mandatory for all developers to know how to use cli and also to have a blockchain running on their laptop to look at the issue locally if needed.

[2021-10-26 08:44] twiny opened #603 "List of all func & handler called from `0chain/gosdk` pkg."
List of endpoints that makes requests from `0chain/gosdk` to Miners, Sharders, Chain.

### Miners
| endpoint              | method | Client(s) name/url     | Handler name/url |
| ------------------    | ------ |------------- | -------------------- |
| `/v1/client/put`      |  POST  |[RegisterToMiners()](https://github.com/0chain/gosdk/blob/014599113a000183afc9b01a2372916f146363d4/zcncore/wallet.go

[2021-10-26 11:46] Sriep commented on #569
1. Change new allocation requests so that the user enters the blobbers.
2. This means disabling the other methods of selecting blobbers and only use the preferred blobbers option.
3. Rename as appropriate and make matching changes to gosdk and zbox.

[2021-10-26 15:32] Sriep commented on #413
This involves changing gosdk and zbox. So moving issue to there. https://github.com/0chain/zboxcli/issues/117

[2021-10-26 15:34] Sriep commented on #569
We should take account of https://github.com/0chain/0chain/issues/413 to improve the error message given when no blobbers are found. I have already coded his part.

[2021-10-26 15:43] Sriep commented on #540
Moved to https://github.com/0chain/0chain/issues/569 which is now using preferred blobbers for input. It is not practical to list why every blobber in the blockchain is not eligible, but we can do this for the user inputted list of blobbers.

[2021-10-26 15:43] #540 closed, assigned to Sriep

[2021-10-26 15:47] Sriep commented on #603
What is the issue here?

[2021-10-26 15:52] Sriep commented on #593
To make this a bit more explicit I am proposing that 0chain emit events in the same way that Ethereum/Solidity smart contracts emit events.

An ethereum smart contract can emit events. Events are text strings that are kept in a searchable filterable list or log.  But are unavailable to any smart contract once emitted.

Solidity programmers could than write a tool that polls for new events from the

[2021-10-26 16:35] twiny commented on #603
@Sriep no issues here - this just to keep track of functions that make HTTP requests  from `0chain/gosdk` to sharders, miners and chain..

[2021-10-26 16:52] Sriep commented on #603
The issue database is for issues that need to be resolved. Could you move this to the wiki? I'll close this shortly.

[2021-10-26 17:10] twiny commented on #603
Alright @Sriep  - i've moved it to the Wiki section.

[2021-10-26 17:10] #603 closed, assigned to nobody

[2021-10-26 23:37] Dmdv commented on #297
@Sriep Fixed in #602

[2021-10-26 23:52] #591 closed, assigned to Dmdv

[2021-10-27 13:04] shaktals commented on #571
Yeap, always do. In this case it's not an API failing when it should work, but the reverse. It seems to be mistakenly working when it shouldn't.

So CLI would only help here if it performs a check of the mnemonic/secret phrase against a different API before trying to recover it. That really didn't cross my mind before, but I think there isn't such an endpoint yet, right? Anyways, thanks for the re

[2021-10-27 16:40] moldis opened #608 "Lock tokens in write pool, target_id not working as expected"
It seems tokens are staling somewhere when I am trying to lock them in the write pool.

Payload to lock tokens:

Calling SC txn with values
`
{"txn": {"hash":"be2195dae8b493f4c18d8ae196a3325acac683c696d15a2d78d7bdd5aa3dcf17","version":"1.0","client_id":"2de380c3ce18e0a62a14aa7a12e2aaaa591e8f145d507f8e8330510d4febae1f","public_key":"671da197a53b8783ea3ca96400faf4550af7edb4c6837b52b013a5b54b50011e91

[2021-10-28 13:26] Sriep commented on #587
To do this the validator should be added or removed from the list of validators used during challenge creation during StakePoolLock and StakePoolUnlock respectively.

the existing `all validators list` is soon to be replaced by `all validator partitions`. It would be best to delay this change until then. https://github.com/0chain/0chain/issues/785

[2021-10-29 02:54] peterlimg opened #609 "Fix vc:true chain stuck issue on branch `tps-optimze`"

[2021-10-29 03:02] peterlimg opened #610 "Optimize code for sending and receiving data on large network"
In larger network https://large.devnet-0chain.net/miner02/_diagnostics, the goroutines number was high, more than 1000, and most of the goroutines are on sending/receiving data. This could limit the network size, the more miners and sharders we have, the miners will send and receive more data.

Possible way to optimize is reduce the unnecessary data being sent out or relayed.

[2021-10-29 03:17] peterlimg opened #611 "MPT MergeChanges issue caused by incorrect updating of block.ClientState"
Saw error `MergeMPTChanges does not merge direct child mpt` on [hero](http://216.218.228.197:7071/_diagnostics) server. This could happen when a miner tries to merge the changes into the block's ClientState but found that the block's ClientState was replaced by another goroutine during the time it collects the state changes.

[2021-10-29 03:30] peterlimg opened #612 "Acquie mutex lock slow on checking if the notariation block is in the process channel on large network"
Miners has more than 2000 goroutines that are slow on acquiring the lock to access the notarization block processing map, fix it by replacing the mutex with channel, just like the way we do for getting LFBTicket.

[2021-10-29 03:40] peterlimg opened #613 "Do not send entity requests to threshold number of miners all at the same time"
Previously, we have refactored to send entity requests to threshold of miners instead of all miners concurrently to save network and cpu resources, but this is not enough, as when network size increase, the threshold number could be large too. An easy way to improve this is send requests to a fixed number of miners concurrently. For example 4 miners, returns immediately if any of them give valid r

[2021-10-29 05:31] peterlimg opened #614 "Notarized block is not added to the round"
We can see logs of
[code]

which means the block of round `1732` is notarized, however, when finalizing the round, we see logs of
[code]

The way to fix this is add the notarized block to the round.

[2021-10-29 10:41] Sriep opened #615 "Cancel allocaion changes"
The `failed_challenges_to_cancel` restriction, preventing allocation cancelling when too many challenges have failed is to be removed.

Remove this restriction. Allocations can always be cancelled and have to pay the full min lock demand when doing so.

[2021-10-29 14:01] Dmdv commented on #297
https://0chain.github.io/system_test/master/956ef796578f8202a4a9265302491898394d633a/index.html

[2021-10-29 14:02] Dmdv commented on #297
Fixed in #602

[2021-10-29 14:54] Dmdv commented on #365
Updated
<img width="168" alt="image" src="https://user-images.githubusercontent.com/805238/139456759-3a080ea6-3374-443a-8dde-7596667f77be.png">

[2021-10-29 15:24] Dmdv commented on #365
Fixed in #616

[2021-10-29 15:29] Dmdv commented on #499
@Sriep I'll take this one

[2021-10-30 09:39] Sriep opened #618 "Add min_write_price for blobbers"
Add a `min_write_price` for blobbers. Add to sc.yaml and impliment.

[2021-10-30 13:19] peterlimg opened #622 "Fix finalize block gaps"
If we search  `set lfb` from the logs, it could be found that there are lot of block gaps there, which must not exist if the finalize block process works fine. The finalized block gaps could cause potential Byzantine issues.

[2021-10-30 13:31] peterlimg opened #623 "Could not reach to latest finalized block"
On [hero](http://216.218.228.197:7071/_diagnostics) network, we can see errors of `could not reach to latest finalized block` sometimes, and when this happens, the `latest finalize block` would not be updated until round timeout and restarted.
[code]
We don't see this error before, because previously, in round finalize process, we didn't check if the current finalizing block's previous block is th

[2021-10-30 18:47] guruhubb commented on #622
Yes we should sync notarized blocks here too, if its missed during handleNotarization and roundRestart phases

[2021-10-30 18:49] guruhubb commented on #613
have you looked at [discussion here](https://0chain.slack.com/archives/G01FYNN6DK4/p1635279499025800?thread_ts=1634223012.165300&cid=G01FYNN6DK4 ) based on entity requests needed for practical Byzantine scenarios.

[2021-10-30 19:03] guruhubb commented on #623
Why do we need to check this ?` if the current finalizing block's previous block is the latest finalize block.`
During the finalize process, we can select r-1 or r-2 block to start the finalization process, which is essentially walking back from that block and making sure the heaviest chain is the winner.
But there should be a LFB with the miner, and if its not updated or not there for whatever re

[2021-10-31 01:38] peterlimg commented on #613
Yes, I'll try the 10 percent.

[2021-10-31 05:50] peterlimg commented on #623
@guruhubb you're right, we don't need to do the check.

[2021-10-31 12:20] Sriep commented on #108
https://github.com/0chain/0chain/pull/400 fixes this for smart contracts

[2021-10-31 12:23] Sriep commented on #108
Closed as fixed for smart contract. Raise as a separate issue if we need a timeout for REST API.

[2021-10-31 12:23] #108 closed

[2021-10-31 12:54] Sriep commented on #354
Moved to https://github.com/0chain/block-explorer/issues/239

[2021-10-31 12:54] #354 closed

[2021-10-31 13:01] Sriep commented on #328
No focus closing.

[2021-10-31 13:01] #328 closed

[2021-10-31 13:12] Sriep commented on #338
Unfocused and abandoned. Closing.

[2021-10-31 13:12] #338 closed

[2021-10-31 13:27] Sriep commented on #423
Also link to https://github.com/0chain/0chain/issues/202

[2021-10-31 13:40] Sriep opened #624 "Add events to 0chain"
Similar to go-ethereum events.

Use these events to emit information that will only be needed for REST API, and not by the blockchain.
Write a database app to monitor 0chain events and process the information. Support REST QPI endpoints with information from events.

[2021-10-31 13:42] Sriep commented on #434
Use events and the event database to support this. Move to https://github.com/0chain/0chain/issues/624.

[2021-10-31 13:42] #434 closed

[2021-10-31 13:44] Sriep commented on #448
Stacked capacity is complicated to display as it changes silently as offers end. Updating this should be part of the new event and event database. Moving to https://github.com/0chain/0chain/issues/624.

[2021-10-31 13:44] #448 closed

[2021-10-31 13:45] Sriep commented on #624
https://github.com/0chain/0chain/issues/434 and https://github.com/0chain/0chain/issues/448 issues that should be solved as a byproduct of the new event framework.

[2021-10-31 14:26] Sriep commented on #493
Moved to https://github.com/0chain/block-explorer/issues/454

[2021-10-31 14:26] #493 closed

[2021-10-31 14:33] Sriep commented on #502
Is this still a problem?

[2021-10-31 14:36] Sriep commented on #504
Fixed in https://github.com/0chain/0chain/pull/507

[2021-10-31 14:36] #504 closed

[2021-10-31 14:43] Sriep commented on #510
Moved to https://github.com/0chain/0box/issues/40 and https://github.com/0chain/block-explorer/issues/455

[2021-10-31 14:43] #510 closed

[2021-10-31 14:46] Sriep commented on #516
moved to https://github.com/0chain/0chain/issues/522

[2021-10-31 14:46] #516 closed

[2021-10-31 14:57] Sriep commented on #593
https://github.com/0chain/0chain/issues/434 and https://github.com/0chain/0chain/issues/448 should be taken into consideration.

[2021-10-31 14:57] Sriep commented on #624
Ops repeat of https://github.com/0chain/0chain/issues/593 closing.

[2021-10-31 15:08] Sriep commented on #571
I do not think this is an 0chain issue. My suspicion is that this is handled locally by block explorer. Will close and move to block explorer unless there is an 0chian endpoint that is misbehaving?

[2021-10-31 15:19] Sriep commented on #423
Close completed.

[2021-10-31 15:19] #423 closed

[2021-10-31 15:20] Sriep commented on #426
Completed.

[2021-10-31 15:20] #426 closed

[2021-10-31 15:20] Sriep commented on #428
Completed.

[2021-10-31 15:20] #428 closed

[2021-10-31 15:22] shaktals commented on #571
I can reproduce the error via cli. For example, if you try to recover a wallet on `dev` network, using a mnemonic from a wallet created on `huawei` network, it will succeed. But it should not.

[2021-10-31 15:25] Sriep commented on #571
I think this operation is done locally in block explorer and zwalletcli. Why do you need 0chain to recover a wallet from a secret phrase? Anyway, are you ok to move this issue to zwalletcli and block-explorer.

What command did you use on zwalletcli?

[2021-10-31 15:27] shaktals commented on #571
./zwallet recoverwallet

[2021-10-31 15:30] Sriep commented on #578
should resolve https://github.com/0chain/0chain/issues/594 in the process.

[2021-10-31 15:38] shaktals commented on #571
I just noticed that when recovering/restoring a wallet on explorer, it uses the `js-client-sdk`restoreWallet method.
But, that method in turn calls `createWallet` passing it the mnemonic, and recreating the keys/id from it.

So, we can't verify if a wallet with given mnemonic already exists?
If yes, that's ok. It is not a major needed feature.

[2021-10-31 16:57] dabasov commented on #623
In theory, this kind of checks can exist and can be useful. If disaster happens ( more than 1/3 of miners are malicious for example) it is useful to know this fact for the honest miner. Such situations rarely if ever are handled in blockchains, i think because there are not much honest miner can do, probably stop processing.
In my opinion, it is too much to fetch missing blocks here because of suc

[2021-11-01 15:51] dabasov opened #625 "Error during block verification"
When miner receives new block for verification for absent round, it can be missed due to delay, it creates round for this block and uses its seed for this round. During creation and starting of round miner will try to send VRFShare and propose block if it is generator.
This logic has problem, miner knows nothing about RRS sent in the block, it can be forged and current miner can't validate it. The

[2021-11-01 15:51] dabasov commented on #625
cc @peterlimg @guruhubb

[2021-11-01 16:19] dabasov opened #626 "Rejected verification tickets for the best rank"
These two checks are contradictory. We can collect VRF tickets for current round even if verification is already done and at least one block is notarized. It is fully align with protocol, we can get several notarized blocks for one round.
Second check seems to  be ok, but the first one will reject all verifications.

We should process all verifications for proposal even if verification is done for

[2021-11-01 17:03] dabasov opened #627 "Obsolete verificationComplete() check during HandleNotarizedBlock message"
We reject notarization messages for round in RoundStateVerificationTimedOut state. It seems like we should process NotarizedBlock messages for this state, since we could miss tickets due to network issues and can successfully process notarization and move to the next round

[code]

[2021-11-01 17:29] dabasov opened #628 "Starting round for received NotarizationBlock message"
When miner receives NotarizationBlock message for round without RRS it will create round if needed and start it. The problem is that during start it will send proposal if it is generator.
We can do it when this miner has better rank than proposer of notarized message, but it doesn't look right, since all honest miners already moved to the next round and they should reject our proposal.

[code]

[2021-11-01 19:07] dabasov opened #629 "Possible race condition"
`Chain.crtCount` is not synchronized, so ` roundTimeoutCount != mc.GetRoundTimeoutCount()` looks awkward to check wether timeout happened, at least it should be synchronized or atomic type used

[code]

[2021-11-01 19:29] dabasov opened #630 "Refactor entity fetching"
We need to request entities in three ways:
1. Get single entity from single node (we have this one)
2. Get single valid node from several nodes
3. Get single entity from majority of nodes with consensus on data

@peterlimg did good work on improving this functionality, but it can be improved more.
For case 2 we should check validation in every `handler` there are a lot of handlers with missed vali

[2021-11-01 19:33] dabasov opened #631 "Add merkle proofs for state entities"
To make proper validation of state entities: `*state.PartialState`, `*block.StateChange` we should add Merkle proofs state nodes for entity transfer.
At the moment we can't validate state we receive from third party.

[2021-11-02 05:32] peterlimg commented on #631
Yes, the `*state.PartialState` does not have proper validation, people can fake the state changes as long as they can connect to the right `root`. We should be able to do the validation simply by computing the hash of node and compare to its parent's children keys from bottom to root. However, since the `UpdateVersion()` function does not update the key of a node after changing the `version` field

[2021-11-02 05:37] peterlimg commented on #630
@dabasov seems https://github.com/0chain/0chain/wiki/fetching does not exist.

For case 2, we will send requests to N nodes, and queue the responses in a channel, we do not validate all of them concurrently as it would use lot of CPU resources. Instead, we get the response from the channel and validate them one by one, and return if any one is good, so the rest responses in the channel will all be

[2021-11-02 05:45] peterlimg commented on #628
`HandleNotarizedBlockMessage` is for `NotarizedBlock` message, not the `Notarization` message. Miners will broadcast the `Notarization` message when they find a block reached notarization. The `NotarizedBlock` message will be broadcasted in `VRFShareHandler()` when a miner find the VRF.round is less than the current round.

[2021-11-02 08:49] peterlimg commented on #626
Yes, the first check should be removed, I'll fix it.

[2021-11-02 08:55] peterlimg commented on #625
Duplicate issue with #601

[2021-11-02 09:36] Sriep opened #632 "Cancel allocation min lock demand paid from challenge pool"
In cancel allocation and finalise allocation the min lock demand payment is taken from the challenge pool rather than allocation write pools. This can result in `error not enough tokens in pool <pool id>:challengepool` errors.

[2021-11-03 00:07] peterlimg opened #634 "Restarted cluster got stuck"
After restarting a cluster to update docker image, the chain got stuck. Because miners are all failing to compute state to verify received blocks. It failed to get the state changes of previous blocks.

[code]

[2021-11-03 00:42] peterlimg commented on #634
Shutting down miners all at once is the problem perhaps, when they were force closed, the state of last finalized block may not be persisted to db yet . While sharders do have persisted those state changes, and even one round ahead. So after all miners were restarted, they will fetch the latest finalized block from sharders, and try to start the block from it, but new blocks could not be verified

[2021-11-03 05:13] peterlimg opened #635 "Goroutine leaks issue on large network"
<img width="1077" alt="image" src="https://user-images.githubusercontent.com/54137706/140011433-6553a6f5-1c77-4b63-a9d3-0a2f02c3f3d9.png">

The goroutines number is really high comparing to those normal miners. And the LFB is about 2000 rounds behind the current round. The round restart times is 0, because it continually receive `notarization` messages, which keeps the current round being updated,

[2021-11-03 10:21] #632 closed, assigned to Sriep

[2021-11-03 10:58] peterlimg commented on #635
In addition to the LFB updating, we need to limit the max goroutine numbers for handling the `VerifyBlock` message. From the goroutine pprof as shown below, it could be found that the `HandleVerifyBlockMessage` used lots of goroutines, we should not create a goroutine for each `VerifyBlock` message the miner received. Instead, we need to queue the messages, and have limited `N` workers to get mess

[2021-11-03 11:56] #410 closed

[2021-11-03 15:31] #618 closed, assigned to Sriep

[2021-11-03 17:23] Sriep commented on #593
![image](https://user-images.githubusercontent.com/6240686/140149768-d50bd581-1f71-4fc2-91d6-f7064a29950e.png)

![image](https://user-images.githubusercontent.com/6240686/140150349-1fbe7941-5241-45cc-8817-bc5b4d48993f.png)

[2021-11-04 08:25] Dmdv opened #639 "Update zwalletcli - add zcnsc from SDK"

[2021-11-04 08:30] Dmdv opened #640 "ZCNSC System Tests"

[2021-11-04 08:30] Dmdv opened #641 "ZCNSC Benchmarks"

[2021-11-04 13:17] Sriep commented on #538
Modify update allocation as follows.
1. Allocations cannot have their duration reduced.
2. A new `NFT` which can be set in a new location request; defaulting to false. It allows anyone to extend the allocation.

[2021-11-04 16:39] #615 closed, assigned to Sriep

[2021-11-04 17:34] dabasov commented on #630
I'm talking about byzantine agreement [more details](https://arxiv.org/pdf/2003.13155.pdf). Briefly, when we can't validate data (for example on `*round.Round`) but we want to agree on it, all nodes can broadcast it simply choose the majority of identical values. Since we have minority of faulty nodes, this approach will work obviously. It was called consensus on fetching previously in 0chain code

[2021-11-04 17:45] dabasov commented on #628
Imagine some honest miners are delayed and missed this round (r0) completely, then malicious miner can force them generate block and send proposal due to sending them NotarizedBlockMessage for this round (r0), but since this round is notarized already this proposal is useless.

[2021-11-05 09:27] #405 closed

[2021-11-05 13:42] dabasov commented on #635
Why can't we collect enough notarizations (r0) and start next round(r0 + 1) to synchronize with network and fetch missing blocks later, why do we need restart round here?

Well, I do not think that pooling goroutines is the right approach. Look at go docs [here](https://golang.org/doc/faq#goroutines)

Till goroutines a terminated properly it is not a problem to have a lot of them. And their execut

[2021-11-05 16:40] Sriep opened #645 "Stake pool, min lock period."
Add a [sc.yaml.storagesc.stakepool.min_lock_period](https://github.com/0chain/0chain/blob/staging/docker.local/config/sc.yaml#L87). Defaoult min lock period is 3 years worth of blocks, say

Modify [stake pool lock](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/stakepool.go#L921) to support the new min_lock_period setting with an extra verification step.

[2021-11-05 16:50] Sriep opened #646 "Remove challenges for deleted files."
WrtieMarkers need to be sent to chain when we `add` a new file, `update` a file, `delete` a file, `copy` or `move` a file, and `rename` a file.

0chain needs to make appropriate changes to challenges. For instance, removing challenges for deleted files. Some of this already works, for example when a file is added. We need to fill in the blanks.

This needs to be coordinated with a matching change

[2021-11-05 17:46] Sriep commented on #646
The blobber should send the above WMs today otherwise the root is not consistent.  So the code is already there.
So on storagesc we may need a labelling mechanism to detect deletion of data.

Or we can keep things simple. If the root of the allocation changes and that allocation has an open challenge, then the smart contract should remove it.

So during processing of WM, check if an open challenge

[2021-11-05 19:26] dhruv0000 opened #647 "Reusable GRPC handlers for Miners and shraders"
Miners and Sharders have common handlers in `chaincore` (Such as diagnostics.SetupHandlers() or transaction.SetupHandlers()).

Should ideally create a common GRPC package for Miners and Sharder and find a way to share the grpc-gateway handlers between them.

[2021-11-05 23:22] peterlimg commented on #635
We do start next round(r0+1) when received notarization message for (r0), but notarization message does not have the block data itself, it only has brief block info such as block hash and tickets for verification. We will need to pull the block from remote if the miner does not have it locally. For miner who has block lag, most of the time, it does not have the block locally of the received notari

[2021-11-05 23:44] peterlimg commented on #635
The high number of goroutines is not a problem itself, as goroutine are cheap. But the processes that are running on the goroutines is the problem, especially when miners' CPU resources are limited. Image that we have thousand of goroutines that are stuck on doing block verifying due to the CPU resources starvation, there's no `different, runnable thread so they won't be blocked` the operation sys

[2021-11-06 14:19] dabasov commented on #635
Correct, but we don't need to execute this block in general, since it is verified already by honest majority of miners, we can delay its execution or move it to background, transfer to the next round and go on following the protocol at speed of network. Fetching of this block should be faster than round execution, since miner will need 2δ (2 latency) time against (5δ + Δ) (5 latency + delta) neede

[2021-11-06 18:44] dabasov commented on #631
I didn't get it, can't we get merkle proof of a node in current MPT?

[2021-11-07 11:11] rrrooommmaaa opened #651 ""Nodes fail and recover randomly" test fails"
Somehow the "Nodes fail and recover randomly" of `no-view-change.fault-tolerance` fails on `staging` branch.
The chain gets stuck whenb the single sharder goes down and never grows after the sharder comes up again.

[2021-11-07 14:45] Sriep opened #653 "0chain Stats database"
Polls events database for data. Provides data to REST API endpoints.
See https://github.com/0chain/0chain/issues/593 for more information.

[2021-11-07 14:45] Sriep commented on #593
Move stats db part to https://github.com/0chain/0chain/issues/653

[2021-11-07 15:42] dabasov opened #654 "Futile state computation during HandleVerifyBlock"
While been digging through reworked finalization I’ve found an issue. For every new block to verify in `HandleVerifyBlockMessage()` we call `AddToRoundVerification()` and compute state for this block. It wastes a lot of resources for nothing, since only few (one at best) of incoming blocks will be used for verification. Actually we do not need to compute state just in time of receiving of new prop

[2021-11-08 12:47] peterlimg opened #656 "Duplicate miners show in /diagnostics page"
<img width="1218" alt="image" src="https://user-images.githubusercontent.com/54137706/140744174-895ee67b-59f5-4521-8ca9-6d73b4fa095f.png">

There are two `Miner001` in the list.

[2021-11-09 09:49] Sriep opened #657 "Use different StateContext interface for smarcontracts and REST endpoints"
Smart contracts and REST endpoints have a different sets of operations that they are permitted to perform. The StateContext interface they are passed should reflect that.

For example Rest endpoints might have `GetTrieNode` but not `InsertTrieNode`.

[2021-11-09 14:57] dabasov commented on #657
Excellent idea! narrowing write-set is always good

[2021-11-10 12:06] Sriep commented on #657
I started it in here https://github.com/0chain/0chain/pull/658, but put on for the moment.

I suggest four interfaces.
1. For smartcontracts.
2. For REST API.
3. The intersection of 1 and 2 for common functions. Probably only `GetTrieNode`.
4. For chain operations outside of endpoints. For example `GetEventDb`, `GetMints` and `GetTransfers`.

For example (1) will have `InsertTrieNode` but not `Get

[2021-11-10 17:12] guruhubb opened #661 "Byzantine test suite for zcnsc, vestingsc, multisigsc"

[2021-11-10 17:13] guruhubb opened #662 "Byzantine tests for magmasc"

[2021-11-10 17:15] guruhubb opened #663 "0Chain protocol documentation"

[2021-11-10 18:24] twiny opened #665 "gRPC miner migration endpoint `/v1/_m2m/dkg/share`"
This endpoint takes `node_id` & `secret_share ` type string and returns a `*bls.DKGKeyShare` . please check PR #664
in HTTP handler here [SignShareRequestHandler](https://github.com/0chain/0chain/blob/c49062936aa5f58a340611fe1d77a3dc6316bad1/code/go/0chain.net/miner/protocol_view_chainge_main.go#L239) it uses some unexported fields from this struct [viewChangeProcess](https://github.com/0chain/0ch

[2021-11-11 10:59] Sriep opened #668 "New Allocation Request"
New Allocation will no longer choose the blobbers, instead, the client will include a list of blobbers with the new allocation request.

The [selectBlobbers](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/allocation.go#L342) method can be reduced. Instead, it will only verify the user-selected blobbers as in [filterBlobbers](https://github.com/0chain/0chai

[2021-11-11 11:12] Sriep commented on #569
Moved to https://github.com/0chain/0chain/issues/668

[2021-11-11 11:12] #569 closed, assigned to Sriep

[2021-11-11 13:58] Sriep opened #669 "Blobber block rewards"
### Intorduction

The current implementation takes too long so we need to rework it. This is particularly complicated and the algorithm outlined below might need to modified.

The basic idea is that for each block we pay the blobber's linked wallet a sum. This sum is to based on the blobber's capabilities in comparison to the other blobbers. This calculation is too time-intensive to actually be ca

[2021-11-12 05:42] peterlimg opened #670 "Redis connections number is high on high TPS"
<img width="1082" alt="image" src="https://user-images.githubusercontent.com/54137706/141416083-e77648ad-e18a-46f1-bcd3-f91080ed652f.png">

[2021-11-14 05:04] peterlimg opened #672 "Incorrect entity type on pulling `verify block` caused chain stuck"
The [large](https://large-26.devnet-0chain.net/miner78/_diagnostics) network got stuck after running well for a while. This happens after I added back the sender request signature verification in `ToN2NReceiveEntityHandler`, I thought it was a performance issue, but after digging into the details, I found the chain got stuck because lots of miners could not receive `verify block` messages, even th

[2021-11-14 11:37] Sriep commented on #624
Todo: Add a hash of the events to the block hash.

[2021-11-15 06:32] peterlimg commented on #672
[code]

[code]

From the code above, the `entityMetadata` param is nil when the `pullDataRequestor`  is initialized. It should always be nil for `pullDataRequestor` so that we will create the entity base on the type acquired from the http response header. However, the `entityMetadata` will be changed to the first entity it tried to pull, and it will be used for all the requests who uses the `pullD

[2021-11-15 18:24] Sriep opened #675 "Allocation sort before paying min lock demand"
When closing or finalising an allocation we need to pay the min lock demand using the allocation pools attached to the allocation. Before paying we should order the allocation pools by the expiry date, so payments are paid from pools with earlier expiry date first.

Add a sort of `aps` an array of allocation pools by the ExpiredAt field just before [here](https://github.com/0chain/0chain/blob/stag

[2021-11-16 18:10] shaktals commented on #571
@Sriep can you confirm the above? Upon your answer we can close the issue.

[2021-11-17 14:50] dabasov opened #677 "Possible extension of not notarized block"
Miner should validate that incoming Proposal extends notarized block. It is one of protocol’s invariants, the only place where miner uses `b.GetPrevBlockVerificationTickets()` is here
[code]
as you can see, when `mc.AddNotarizedBlock(ctx, pr, pb)`  returns false nothing happens.
If it is not checked, it can be used by malicious miner to include not notarized block in the chain (don’t know is it po

[2021-11-18 13:12] #624 closed, assigned to nobody

[2021-11-18 18:54] Sriep opened #680 "Blobber events database table plus endpoint."
We need to add a new table to the event database. This is to hold a blobber table.
0chain to emit events each time blobber information changes. The event database can then respond by updating the blobber table.
A new endpoint for querying the blobber table. The initial use of this will be to select a suitable set of blobbers for an allocation request.

Waiting on https://github.com/0chain/0chain/p

[2021-11-19 13:56] Sriep commented on #104
Converted into separate issues plus benchamrking app.

[2021-11-19 13:56] #104 closed

[2021-11-19 14:05] Sriep commented on #593
Done in https://github.com/0chain/0chain/pull/655. Stats db merged with events db, but stats part moved to other issues

[2021-11-19 14:05] #593 closed, assigned to Sriep

[2021-11-19 18:33] illuyankas commented on #669
1- Suggest that we do a product of Challenges X Stake X Write Price. Total is updated on every write price update and/or every stake update. This saves us from doing a min write price implementation and protects against blobber centralization.

2- Suggest we define the number and size of each partition. E.g. 100 partitions, 100 blobbers per partition. Every BWP, 10,000 blobbers or less get selecte

[2021-11-19 20:32] illuyankas commented on #669
In conjunction with above -

1- Blobbers should be allowed to reduce their price after having been appointed to an allocation. This is to avoid stale allocations. No increase permitted.

2- Miners should be rewarded for validation of these blobber block rewards. Maybe 2% goes to miners?

[2021-11-19 23:39] guruhubb commented on #669
I think this is too complex and difficult to implement and socialize to community, and I don't see a clear need for any of changes at this late stage. We will revisit after launch when we can observe the market dynamics.

Also, Re 1, stake is a function of write price, so there is an indirect correlation.
Re 2,3 - no need to complicate this and conflate with rewards. This is just for scalability.

[2021-11-20 07:56] illuyankas commented on #669
Stake here is an open stake. Not related to Min Stake. Ie stake can be arbitrarily greater than Min Stake if the blobber desires to stake more.

In doing so, we promote further staking on blobbers. However this needs to be balanced out; hence the write price component.

Re 1 - Stake is a not a function of write price anymore. Stake is unbounded; the minimum stake remains as `capacity X write price

[2021-11-20 08:40] moldis opened #681 "Update API /getblobbers to get blobbers from events DB"
Update API /getblobbers to get blobbers from events DB

[2021-11-20 09:27] Sriep commented on #669
We should try to make the formulae used to calculate block rewards as flexible as possible so that we can plugin and try out different algorithms.

[2021-11-20 09:47] illuyankas commented on #669
Yes @Sriep agreed.

Algorithm right now is `Challenges x Stake`
(`Max Stake = unbounded, Min Stake = write price x capacity`)

Changing this to `Challenges x Stake x Scaling Factor` allows for flexibility to change the algorithm down the road if need be. So we get two birds with one stone.

The suggestion is to initially set this scaling factor equal to Blobber's `Write Price`

[2021-11-20 10:33] guruhubb commented on #669
Re 4 blobbers are allowed to change prices, and then it is up to the user to accept it when they upgrade allocation. I think there is a flag (cc @Sriep for clarification).  We cannot put restrictions because the token value can fluctuate.

Re 2,3 how would a miner overpay a blobber when they use VRF

Re 1 a static scale factor is different from a dynamic write price.  In any case, if someone puts

[2021-11-20 12:28] Sriep commented on #669
https://github.com/0chain/0chain/pull/605, https://github.com/0chain/zboxcli/pull/120 This added the ability to update the allocation's blobbers terms as part of an update.

[2021-11-20 18:10] guruhubb commented on #669
@Sriep can you check if we can do item 1 as @illuyankas suggested.

[2021-11-20 18:16] illuyankas commented on #669
@guruhubb I think all is squared off right now. Summary :

Re 1 - insert write price as a factor per above. Subject to implementation.

Re 2,3,4 - all good.

*Note we need to decrease the block rewards every `30mil` blocks (~1 year) by 10% year on year. This goes for all block rewards.

[2021-11-21 05:45] peterlimg commented on #677
This is kind of duplicate function of `updatePreviousBlockNotarization()` that is introduced in `tps-optimze` branch, I'll check and reduce the duplicate works.

[2021-11-22 11:05] peterlimg opened #686 "Finalization counts column on '_diagnostics/miner_stats' page shows nothing"
<img width="547" alt="image" src="https://user-images.githubusercontent.com/54137706/142850668-d3fe9c1a-6101-428a-bc13-3d25a033c9f2.png">

[2021-11-22 14:28] Sriep opened #687 "Config settings should be added to the blockchain during genesis."
The contents of the config files `0chain.yaml` and `sc.yaml` should be transferred to the  MPT during chain genesis. Currently, this is done during the first smart-contract that touches the settings.

We need these to be the same across the network when settings are added to the MPT. If there is a problem this is best discovered during genesis rather than at a later date.

[2021-11-23 05:54] moldis commented on #680
@Sriep is this duplicated to https://github.com/0chain/0chain/issues/681 ? Can assign to @kushthedude to work on, or you can handle it?

[2021-11-23 22:29] shaktals commented on #510
@Sriep @stewartie4 I think this should **not** be closed.

All other transaction types **only** accept the `note` prop as a string.
Only the `Send ZCN` transaction now requires it to be an object `{}`.

So, when calling `/miner01/v1/transaction/put` the clients will have to change the payload format based on the transaction type.
We can workaround it, but it's very ugly in my opinion and should be

[2021-11-24 00:02] shaktals commented on #571
It seems that for now we don't have a way to confirm if a wallet exists or not.
What maybe could work is to check if there is any transaction with the walletId on the blockchain.
I'll close this issue and open a [discussion on slack](https://0chain.slack.com/archives/G01FYNN6DK4/p1637712120114900).

[2021-11-24 00:02] #571 closed, assigned to Sriep

[2021-11-24 08:23] moldis commented on #668
Pushed https://github.com/0chain/0chain/pull/684

[2021-11-25 12:39] moldis opened #692 "R&D: Conductor: Leader extends not notarized prev_block"
Implement a test: Leader extends not notarized prev_block.
[code]

[2021-11-25 12:42] moldis commented on #692
Estimation < 1 Dec 2021

[2021-11-25 12:50] Sriep commented on #680
I think we should write a new REST endpoint to select blobbers for a new allocation request.

[2021-11-25 12:51] Sriep commented on #681
I think we should write a new REST endpoint to select blobbers for a new allocation request.

So `\select_blobbers`.
1. Input the relevant information from the new allocation request.
2. Do a select on the eventDB [blobbers](https://github.com/0chain/0chain/blob/blobber-events/code/go/0chain.net/smartcontract/dbs/event/blobber.go#L12) table
3. Return list of selected blobber ids.
4. Add event emit

[2021-11-25 15:36] dabasov opened #694 "node crash on mn-update-config"
Sc panics on config update for unknown key

[sc-config
![image](https://user-images.githubusercontent.com/5922236/143469218-97445660-9240-4c4a-b662-447529380614.png)
-update-log.txt](https://github.com/0chain/0chain/files/7604022/sc-config-update-log.txt)

[2021-11-26 06:44] moldis opened #696 "Conductor: Attack VRF and ``GetBlockToExtend()``"
//Attack VRF and ``GetBlockToExtend()``. If adversarial can force the network to create VRF, it will force generators to propose. To propose, they will need ``NotarizedBlock`` from previous rounds, if they have none, they should query miners. Miners won’t have any and won’t answer. (Peter hardcoded check for HNB==nil -> return, seems like it can prevent proposing at all, since it is called in comp

[2021-11-26 06:44] moldis opened #697 "Conductor: Protocol tells to verify all messages on the same rank"
//Protocol tells to verify all messages on the same rank, alas we don’t follow protocol and vote for only one top-ranked block.
//Propose different block for every replica, this round should achieve notarization (with different block equality proof, not implemented yet)
[code]

[2021-11-26 06:46] moldis opened #698 "Conductor: check no depletion, all first j leaders are adversarial"
//check no depletion, all first j leaders are adversarial, they send different blocks to different replicas but not enough for notarization
[code]

[2021-11-26 06:47] moldis opened #699 "Conductor: check that proposer can’t break single block"
//check that proposer can’t break single block
[code]

[2021-11-26 06:47] moldis opened #700 "Conductor: check make progress for time out leader"
//check make progress for time out leader
[code]

[2021-11-26 06:48] moldis opened #701 "Conductor: check make progress for an adversarial leader"
//check make progress for an adversarial leader
[code]

[2021-11-26 06:48] moldis opened #702 "Conductor: No deterministic finality for f"
//No deterministic finality for f
[code]

[2021-11-26 06:49] moldis opened #703 "Conductor: Leader extends not notarized prev_block"
//Leader extends not notarized prev_block
[code]

[2021-11-26 06:49] moldis opened #704 "Conductor: Verify not existent block, this should work fine"
//Verify not existent block, this should work fine, since we only formally verify verification_tickets
[code]

[2021-11-26 06:50] moldis opened #705 "Conductor: Ignore proposal for 5 round in the future round, ignore it since no correct RRS"
//Ignore proposal for 5 rounds in the future round, ignore it since no correct RRS
[code]

[2021-11-26 06:51] moldis opened #706 "Conductor: Ignore notarization (more than server_chain.lfb_ticket.ahead rounds ahead)"
//Ignore notarization (more than server_chain.lfb_ticket.ahead rounds ahead)
[code]

[2021-11-26 06:51] moldis opened #707 "Conductor: Half of nodes are down, generator proposes but can't get enough verification tickets"
//Half of nodes are down, generator proposes but can't get enough verification tickets, restarts. Soon half of nodes get up and restarts round.
[code]

[2021-11-26 06:52] moldis opened #708 "Conductor: Malicious replicas start to send VRFShares for current round as if they get up after restart"
//Malicious replicas start to send VRFShares for the current round as if they get up after restart
[code]

[2021-11-26 06:53] moldis opened #709 "Conductor: Miner sends previously proposed block used"
//Miner sends previously proposed block used in the notarized round with one/several blocks notarized in it to propose in a new round
[code]

[2021-11-26 06:53] moldis opened #710 "Conductor: Miner sends previous notarization used in notarized/finalized round in new round"
//Miner sends previous notarization used in notarized/finalized round in new round
[code]

[2021-11-26 06:54] moldis opened #711 "Conductor: Miner resends notarized block to sharders"
//Miner resends notarized block to sharders
[code]

[2021-11-26 13:30] Sriep commented on #681
The selection process for blobbers can be inspired by [selectBlobbers](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/allocation.go#L428).
The new REST-API endpoint can run a `gorm` select request with filters as suggested

This suggests:
- Terms.MaxOfferDuration
- ReadPriceRange
- WritePriceRange
- Capacity-Used
- Terms.ChallengeCompletionTime
- Diversity

[2021-11-26 13:38] Sriep commented on #681
We need to decide what order to return the results in when doing the `select` on the `event.blobber` database table. We can then ask for the first `N` results where `N` is the number of blobbers the allocation wants.

[2021-11-27 04:10] peterlimg commented on #601
The chain moves pretty slow after adding the logic to do not verify block if the VRF shares have not reached threshold. Sometimes it takes more than 10 seconds to move on to the next round. The chain moves slow because some miners could not verify the proposed block as they have not yet collect enough VRF shares. Because they could not verify the block, they would not send out the block verificati

[2021-11-27 06:01] #622 closed, assigned to nobody

[2021-11-27 06:01] #612 closed, assigned to nobody

[2021-11-27 06:01] #611 closed, assigned to nobody

[2021-11-27 06:01] #600 closed, assigned to peterlimg

[2021-11-27 06:02] #614 closed, assigned to nobody

[2021-11-27 06:02] #613 closed, assigned to nobody

[2021-11-27 06:02] #672 closed, assigned to nobody

[2021-11-27 06:02] #635 closed, assigned to nobody

[2021-11-27 06:02] #626 closed, assigned to nobody

[2021-11-27 06:02] #623 closed, assigned to nobody

[2021-11-27 06:02] #634 closed, assigned to nobody

[2021-11-27 06:02] #654 closed, assigned to nobody