[2021-11-27 06:03] #610 closed, assigned to nobody

[2021-11-27 10:56] #686 closed, assigned to nobody

[2021-11-27 11:34] dabasov commented on #601
@peterlimg do you have any idea, why network started to move slowly? in theory majority of miners should move at the network speed, since they all reach threshold (well it is the way to find out what is the network speed).
I want to say, that couple of slow miners must not affect the majority and they have to move fast despite of 1/3 of delayed or even Bizantine.

Your solution can work but for me

[2021-11-27 17:35] #694 closed, assigned to dabasov

[2021-11-28 10:38] #680 closed, assigned to nobody

[2021-11-28 18:17] dabasov opened #716 "Update configs on block finalization"
Config can be updated through update_globals call on minersc. We need to update config struct after block is finalized, so MPT will never be altered and config stored on chain and in MPT will be consistent

[2021-11-29 08:40] platsko opened #717 "Benchmark tests of disk Tier functions"
Develop functional **benchmark** tests for coverage of file **_diskTier.go_** of package **blockstore** of repo **0chain.net/sharder**

Place tests into file **_diskTier_test.go_**

**Functions list**
- [ ] Benchmark_diskTier_write
- [ ] Benchmark_recoverVolumeMetaData
- [ ] Benchmark_restartVolumes
- [ ] Benchmark_startVolumes
- [ ] Benchmark_startvolumes
- [ ] Benchmark_volumeInit
- [x] Benchmar

[2021-11-29 15:16] shaktals opened #719 "Unconsistent json payload formats for different /miner01/v1/transaction/put transaction types"
All transaction types only accept the `note` prop as a string.
Only the Send ZCN transaction now requires it to be a object {}.

So, when calling `/miner01/v1/transaction/put` the clients will have to change the payload format based on the transaction type. It could worked around, but it'd be very ugly in my opinion. So this should be fixed.

Ping @stewartie4 @Sriep

[2021-11-29 15:17] shaktals commented on #719
Check #510 for context.

[2021-11-30 06:48] platsko opened #721 "Develop unit tests of cold Tier functions"
Develop functional **unit** tests for full coverage for file **coldTier.go** of package **blockstore** of repo **0chain.net/sharder**

Place tests into file **coldTier_test.go**

**Functions list**
- [x] Test_coldDisk_getBlock
- [ ] Test_coldDisk_getBlocks
- [x] Test_coldDisk_isAbleToStoreBlock
- [x] Test_coldDisk_moveBlock
- [x] Test_coldDisk_selectDir
- [ ] Test_coldDisk_updateBlocksCount
- [ ]

[2021-11-30 06:50] platsko opened #722 "Develop benchmark tests for store functions"
Develop functional **benchmark** tests for full coverage for file **store.go** of package **blockstore** of repo **0chain.net/sharder**

Place tests into file **store_test.go**

**Functions list**
- [ ] Benchmark_BlockStore_Delete
- [ ] Benchmark_BlockStore_Read
- [ ] Benchmark_BlockStore_ReadWithBlockSummary
- [ ] Benchmark_BlockStore_Write
- [ ] Benchmark_GetStore
- [ ] Benchmark_InitializeStore

[2021-11-30 06:55] platsko opened #723 "Develop benchmark tests of cold Tier functions"
Develop functional **benchmark** tests for coverage for file **coldTier.go** of package **blockstore** of repo **0chain.net/sharder**

Place tests into file **coldTier_test.go**

**Functions list**
- [x] Benchmark_coldDisk_getBlock
- [ ] Benchmark_coldDisk_getBlocks
- [x] Benchmark_coldDisk_isAbleToStoreBlock
- [x] Benchmark_coldDisk_moveBlock
- [x] Benchmark_coldDisk_selectDir
- [ ] Benchmark_col

[2021-11-30 06:57] platsko opened #724 "Develop unit tests for cache functions"
Develop functional **unit** tests for coverage for file **cache.go** of package **blockstore** of repo **0chain.net/sharder**

Place tests into file **cache_test.go**

**Functions list**

- [ ] Benchmark_cacheInit
- [ ] Benchmark_cacheTier_write
- [ ] Benchmark_cacheVolume_isAbleToStoreBlock
- [ ] Benchmark_cacheVolume_write
- [ ] Benchmark_deleteFromCache
- [ ] Benchmark_getFromCache
- [ ] Benchm

[2021-11-30 06:59] platsko opened #725 "Develop unit tests of disk Tier functions"
Develop functional **unit** tests for coverage for file **diskTier.go** of package **blockstore** of repo **0chain.net/sharder**

Place tests into file **diskTier_test.go**

**Functions list**
- [ ]  Benchmark_diskTier_write
- [ ]  Benchmark_recoverVolumeMetaData
- [ ]  Benchmark_restartVolumes
- [ ]  Benchmark_startVolumes
- [ ]  Benchmark_startvolumes
- [ ]  Benchmark_volumeInit
- [x]  Benchmark

[2021-11-30 08:52] #601 closed, assigned to peterlimg

[2021-11-30 10:27] Sriep commented on #669
So, to confirm, currently, the block reward calculation is
`Number of successful challenges in last period x blobber's total stake less unstaking tokens x blubber's write price`

`unstaking tokens` are tokens that the user has requested an `unlock` for but could not be unlocked immediately due to commitment to open allocations. We are assuming unstaking are already unlockd because allocations expi

[2021-12-01 06:47] MurashovVen commented on #692
**List of subtasks**
- [x] Implement the mechanism for mocking the block to extend.
- [x] Implement the mechanism for checking the block's verification status.
- [x] Implement the interface for making checks by using the Conductor's directives.

[2021-12-01 10:38] peterlimg opened #728 "VRF shares collect issue caused chain stuck or slow"
RRS generation is slow after running for a while, and then caused the chain moves pretty slow.

[2021-12-01 14:15] anish-squareops opened #730 "blobbers unable to join the chain after min_write_price addition to config"
blobbers unable to join the chain after `min_write_price` addition to config
getblobbers api giving {"Nodes":null}

[2021-12-02 09:12] moldis commented on #681
Moving back this ticket to @moldis

[2021-12-02 10:06] Sriep opened #733 "Migrate 0chain/0search to EventDb"
We need to migrate the 0search/0block endpoints to the EventDb. Particularly the ones needed by Explorer.
1. block information indexed by block number
2. transaction information indexed by transaction hash
3. allocation indexed by allocation id
4. user information indexed by user id
5. File details indexed by lookup hash or file name

We now need a list of fields for each of these new tables. The

[2021-12-02 10:37] Sriep opened #734 "yaml file, settings changes"
We need changes to the following to sc.yaml
[code]
`min_stake_duration` is a new field that puts a lower bound on stake duration.
We also need to support the `infinte` setting for `max_lock_period`.

[2021-12-02 11:05] Sriep opened #735 "Update allocation terms"
The update [updateAllocationRequest.UpdateTerms](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/allocation.go#L477) option will now only update terms if the blobber's price is lower than before. Change code around [here](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/allocation.go#L1002)

[2021-12-02 13:59] shaktals commented on #733
As per [slack convo](https://0chain.slack.com/archives/C026YA5EYH3/p1638345537270100), the main issue we have to fix is the number of transactions being returned when fetching a block.

As blocks can have up to 1000 transactions, we need some sort of pagination.
But then, on explorer block details page we display transactions by type.
So, ideally the backend should respond with 10~20 records of ea

[2021-12-02 14:02] Sriep opened #736 "Security level for settings"
Currently, settings can only be changed by the smartcontract owner. We need to extend this to support other security levels.

We can define a security setting type in [config.go](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/config.go#L12)

The settings in the [settings maps](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/c

[2021-12-02 14:54] Sriep commented on #733
There are two issues.
1. What data to store in the EventDb.
2. What API to provide to access the data.

As long as we get (1) right, we can modify (2) as needed.

Pagination and refresh issues might be left until we have enough implemented for testing/load testing. Can the explorer organise its own pagination, by indicating the records it wants to be returned?

[2021-12-02 17:08] krishnemd commented on #733
@Sriep out of 1 to 5 only two data models are used in all those proposed models at the moment.

1. [Block](https://github.com/0chain/0block/blob/staging/code/go/0block/zblockcore/models/block.go#L0-L1  )
2. [Transaction](https://github.com/0chain/0block/blob/staging/code/go/0block/zblockcore/models/transaction.go#L0-L1 )

Allocation is transaction.

UserDetails is array of seven sorts of transacti

[2021-12-02 17:50] shaktals commented on #733
When fetching the transactions for a specific block, we don't know beforehand what those transactions are.
So, we can specify exactly what transaction records we want.

I thought several minutes about the best way to do this.

If we can get low latency on the API, the simplest way to solve it is to have a `type` filter and pagination.
When the page first loads, we fetch, let's say, the first 20~50

[2021-12-02 17:53] shaktals commented on #733
@chauchausoup as for this issue, can you confirm what block/transaction props we are actually reading/using on explorer?

I'm not sure that is the only data we'll ever need. But at least it is what we know it's needed now.

[2021-12-03 02:23] #728 closed, assigned to nobody

[2021-12-03 05:45] peterlimg opened #737 "DKG.Pi is changed unexpectedly when VC:false"
The chain on hero server is stopped due to some of the miners are sending invalid VRF shares. From the logs it could be found that they could not even verify the shares they generated by themselves.
[code]

Checking the `DKG.Pi` value in the logs, for working well miners, they all have the same value, while for miners who are sending invalid VRF shares, such as http://216.218.228.197:7081/_diagnos

[2021-12-03 06:10] krishnemd commented on #733
At the moment we are relying on sharders to get the /transaction endpoint data ( the main page that show transaction in details).
For example if we get UserDetails data which also gives us full fledge transactions of the user but still we are calling sharders. Explorer is using these limited fields ( tentatively) out of the Transaction data.

`
hash
creation_at
client_id
to_client_id
transaction_v

[2021-12-03 06:31] krishnemd commented on #733
Yes forming specific API is the viable solution as suggested by @Sriep.

[2021-12-03 06:31] moldis opened #738 "Unit-tests for Sharder params: proximity_scan and deep_scan"

[2021-12-03 06:36] moldis opened #739 "Migrate BoltDB to Redis or Cassandra"
Preferably Redis with master/slave or Redis cluster configuration. The main goal is to make it easily scalable.
Meaning of this ticket - to understand pros/cons between Redis or Cassandra and the amount of time it will take to migrate from BoltDB

[2021-12-03 11:03] Sriep commented on #733
@shaktals @chauchausoup could you check that the below makes sense?

### Block
A Block table looks straightforward, it is just the [Block](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/chaincore/block/entity.go#L139) object. We just need to identify the best place for the block to marshal and emit itself.

We could emit the block at the same time as the [smartcontract events are

[2021-12-03 15:42] MurashovVen commented on #704
**List of subtasks**
- [X] Simple base test case
- [ ] Full test case

[2021-12-03 18:43] shaktals commented on #719
Fixed by explorer [PR 514](https://github.com/0chain/block-explorer/pull/514).

[2021-12-03 18:43] #719 closed, assigned to nobody

[2021-12-03 18:48] shaktals commented on #415
Actually, this should not have been closed. It has been worked around, but the issue is still there.
If someone can help me with the draft PR #531 I'll be happy to finish it and fix this.

[2021-12-03 19:37] shaktals commented on #733
All seems correct. As for `Files`, my knowledge is still limited, but from what I understand, when you upload a file to blobbers, you can commit or not the transaction to the sharders.

So maybe this refers to `Files transactions`?

I guess we don't need any sparse information from blobbers to be stored on EventDB.
My intuition is that we can treat just as a txn type.

I'll let Krishna answer your

[2021-12-03 20:07] Sriep opened #741 "Modify challenge creation algorithm"
### Challenges

Challenges are generated by the [generateChallenges](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/challenge.go#L524) method. This method is called when the blobber calls either the `read_redeem` or `commit_connetion` endpoints.
`generateChallenges` creates up to `sc.yaml.storagesc.max_challenges_per_generation` challenges, which typically

[2021-12-04 03:18] peterlimg opened #742 "Latest finalized magic block is not sycned correctly"
The latest finalized magic block is not synced after `chain.ViewChange()` is called when `VC:false`. Actually, we should not call this function when `VC:false`. Two things need to fix:
- [x] Sync latest finalized magic block in the `chain.ViewChange()`
- [x] Do not update the magic block in `chain.ViewChange()` when `VC:false`

The problem of the non-synced latest finalized magic block is: n2n wil

[2021-12-04 05:15] krishnemd commented on #733
For Filesname we are calling the endpoint  /recordertransactions/search?metadata=logic.jpeg
which  gives transactions array indexed by name field as seen [here](https://github.com/0chain/0search/blob/d9473d6379d1890f65772864e46a11c42252436e/src/app/services/transaction.service.ts#L62 )
One thing I noticed is that all have same content_hash value.

LookupHash is also known as Pathhash in most of th

[2021-12-04 15:30] Sriep commented on #733
# Block

I think I  have worked where 17 out of the 19 fields in the [block table](https://github.com/0chain/0block/blob/staging/code/go/0block/zblockcore/models/block.go#L22) can come from.

Can't find `updateAt` row might not be directly to do with the block, just when the database got updated?

| 0block fields         | 0block type | 0chain Block.?                                     | type

[2021-12-04 16:06] Sriep commented on #733
# Transaction

13 of the 21 can be read from the 0chain [Transaction](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/chaincore/transaction/entity.go#L43) object.

The `BlockHash` row is presumable from the parent block and should be easy to provide.
The `UpdateAt` and `ComfirmationFetched` I suspect have to do with the running of the 0Block dB and nothing to do with the Transacti

[2021-12-05 12:10] Sriep commented on #741
As well as emitting to the event database so the blobber can pick it up, challenge data needs to be saved in 0chain for `verifyChalelnge` and ` cancelAllocation` and `finalizeAllocation`

`cancelAllocation` needs to know how many open challenges there are and what proportion of them have expired. In order to calculate a pass rate.

`verifyChallenge`  When checking a completed challenge needs to kn

[2021-12-05 12:46] krishnemd commented on #733
I am too not sure but on looking the blobber code I can see that in this file [protocol.go](https://github.com/0chain/blobber/blob/staging/code/go/0chain.net/blobbercore/challenge/protocol.go) most of the UpdatedAt represent the time.Now().UTC() time.
Might be the time instance of the procedure under operation (db updates in this case)

Interestingly on explorer code too it is time.now() time as [

[2021-12-05 13:42] krishnemd commented on #733
Explorer uses `updated_at` just for rendering purpose.

`block_hash` is used to fetch detail of the block and in search.
`confirmation_fetched` is not used by explorer
`lookup_hash, name, content_hash, allocation_id` are all used to query while searching  and are also part of 0search endpoints

[2021-12-05 17:22] #716 closed, assigned to dabasov

[2021-12-05 17:23] dabasov commented on #716
part of  #[https://github.com/0chain/0chain/issues/541](url)

[2021-12-05 21:11] guruhubb commented on #733
The Files part is based on the client committing the transaction to the blockchain. But I think going forward clients don't need to do this since blobbers submit write and read markers for all data activities and these can be sorted out.  Perhaps add a field for `filename`, `lookuphash`, `contenthash` of the file along with the read/write markers.

The only transaction that the client will "commit

[2021-12-05 21:15] guruhubb commented on #733
Also, you will need to include APIs for additional data as was requested by Mo a while back, although some of the requests are redundant and based on the same dataset but filtered differently -

1- Ability to see read/write price of an allocation in $ as time
2- How much data in MB has been written/from to allocation.
3- How much data is stored in allocation at any given point in time.
4- How much

[2021-12-06 10:19] peterlimg opened #746 "Make chain work with previous logic when db events is off"
The chain should be able to function well when db events is off. Use the previous logic when the db events is off or when the config does not have the `dbs.events` field.

[2021-12-06 10:42] peterlimg opened #747 "Organize smart contract in packages with version"
For example,
github.com/0chain/0chain/.../sc/v1
github.com/0chain/0chain/.../sc/v2

Each package should register itself to a supported SC map when start so that miner or sharder can choose related package to execute the contract in transactions.

[2021-12-06 10:47] peterlimg opened #748 "Add smart contract/protocol versions MPT nodes"
Add `/sc_version` and `/protocol_version` nodes to MPT to store the current running smart contract and protocol versions. Only smart contract owner could create transactions to update them.

[2021-12-06 10:56] peterlimg opened #749 "Add supported smart contract/protocol versions to the `health_check` smart contract"
Add latest supported SC version `sc_version` and `protocol_version` to the `health_check` so that miners and sharders will report the them to each other. This is for when we need to upgrading SC or protocol to a new version, and before doing the version switch, we need to make sure that most of the miners and sharders has upgraded to support the new versions. Then the chain can unlock and allow th

[2021-12-07 04:46] peterlimg commented on #746
PR:
- #751

[2021-12-07 11:04] #746 closed, assigned to Sriep

[2021-12-07 13:02] Sriep commented on #733
# Allocation

For migration from 0Search/OBox only the `Tx` and maybe `Id` fields as foreign keys into the transaction table above.

The other fields will be needed for the `/allocation` endpoint for `Blobber` and `zwallet` enquiries.

We will want to add Stats to this. Plus a new AllocationBlobber Terms table.

| eventDB                 | type   | 0chain allocation       | type          | Notes

[2021-12-07 13:20] Sriep commented on #733
# File information

Populate these fields from readMarkers and writeMarkers emitted during `read_redeem` and `commitBlobberConnection` smart contracts.

This information is available on the blobber, but does not all seem to be sent to 0chain. We might need to increase the information the blobber sends to 0chain in `WrtieMarkers`, or provide a direct way for blobbers to emit events.

The TxHash is

[2021-12-07 15:51] platsko commented on #738
[The parameters report](https://drive.google.com/file/d/1aEGSEfRlEfmQeo9kVw9hKtrsTywwN83f/view?usp=sharing)

[2021-12-07 17:06] Sriep commented on #580
Has been added.

[2021-12-07 17:06] #580 closed, assigned to nobody

[2021-12-07 17:07] Sriep commented on #579
Moved to https://github.com/0chain/0chain/issues/741

[2021-12-07 17:07] #579 closed, assigned to nobody

[2021-12-07 17:07] Sriep commented on #578
Moved to https://github.com/0chain/0chain/issues/741

[2021-12-07 17:07] #578 closed, assigned to nobody

[2021-12-07 17:47] Sriep opened #753 "Blobber block reward lottery"
# Block Rewards

We want to reward blobbers based on their total stake and recent challenge history. So each block we will run a smart contract that will reward split a fixed sum between a random collection of blobbers and their delegates. Weighting the payments by stake and recent successful challenges.

# Smart contract

1. Blobber are partitioned
2. Select a partition at random
3. Weight the bl

[2021-12-07 17:49] Sriep commented on #669
To be replaced by block reward lottery https://github.com/0chain/0chain/issues/753

[2021-12-07 17:49] #669 closed, assigned to Dmdv

[2021-12-07 17:54] Sriep commented on #314
Replaced by block reward lottery https://github.com/0chain/0chain/issues/753

[2021-12-07 17:54] #314 closed

[2021-12-08 08:12] platsko commented on #738
There is unclear implementation that reads the configuration parameters of deep_scan and proximity_scan, since there is a conflict - proximity_scan just overwrites of deep_scan parameters.

![image](https://user-images.githubusercontent.com/4425317/145205405-6a50d987-9a78-4992-8e8c-56724533f8b1.png)

I think it is not okay.
@moldis @guruhubb what do you think?

[2021-12-08 10:17] Sriep commented on #733
Objects are event database tables. Assumes the Write and Read markers are updated to include the File information that Explorer needs.

![image](https://user-images.githubusercontent.com/6240686/145190784-a86ffdfb-23ab-4cc2-94d2-18c585336961.png)

[2021-12-08 12:53] Sriep commented on #653
Completed in https://github.com/0chain/0chain/pull/655

[2021-12-08 12:53] #653 closed, assigned to Sriep

[2021-12-08 13:10] shaktals commented on #592
As per request on slack, here is an example request:

`
https://dev.0chain.net/sharder01/v1/screst/6dba10422e368813802877a85039d3985d96760ed844092319743fb3a76712d7/allocation_min_lock?allocation_data={"data_shards":4,"parity_shards":2,"owner_id":"a7c4429f0fe53bd6371c993e5351e271ae82c91b612c7a4fff13341cb8664fe3","owner_public_key":"59c3b5ac4965e8383f886356a101d8fa24b3cc2d3a74515f10be98bd9dcfb30274b

[2021-12-08 13:11] shaktals commented on #592
This seems to happen when the min price offered is above the price asked by the blobber.

[2021-12-08 13:20] Sriep commented on #592
This is the "/allocation_min_lock" REST API endpoint that you run before the new allocation request to see how much the allocation will cost, returning the wrong error code. It's probably a result of using the same code for smart contacts and REST API.

Link to https://github.com/0chain/0chain/issues/668
Related unit test https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/chaincore/c

[2021-12-08 14:04] Sriep opened #756 "Include emitted events into Block hash."
In order to ensure all modules emit the same events, we should add the emitted events to the block hash.

Currently, we emit events in [computeStateLocal](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/chaincore/block/entity.go#L920). We should look for the best place to emit events so that no further block events are added.

[Transaction Hash and index](https://github.com/0chain

[2021-12-08 14:12] Sriep opened #757 "Event db: Ensure events processed in correct order."
[Events are emitted](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/chaincore/block/entity.go#L920)
[code]
and in [AddEvents](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/dbs/event/process.go#L31)
[code]
We need to ensure that events are processed in the correct order. That database tables are updated in the correct order.

We should protect AddE

[2021-12-08 15:21] Sriep opened #758 "Event db Block table"
We need to add a block table to the Event database. Data is available from the 0chain [Block](https://github.com/0chain/0block/blob/staging/code/go/0block/zblockcore/models/block.go#L22) object.

Currently, events are sent to the event database by the sharder block object in [ComputeStateLocal](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/chaincore/block/entity.go#L920). We wil

[2021-12-08 16:42] Sriep opened #759 "Event db: Transaction table"
We need to add a Transaction table to the Event db. This is shown below with the location of the data.

Currently, we send events to the event database in [ComputeStateLocal](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/chaincore/block/entity.go#L920). At this point we have the array of transactions for the block in the block object, so it should be easy to emit an event for ea

[2021-12-09 07:37] moldis commented on #738
<img width="855" alt="image" src="https://user-images.githubusercontent.com/2959408/145353881-fc102060-4a4e-46d1-8446-a885ba836b55.png">

@platsko

[2021-12-09 13:24] Sriep opened #760 "Event db: Read and Write Allocation pool and blobber pool tables."
We need a new allocation pool table to mirror the [storagesc.allocationPool](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/allocation_pool.go#L143) object. Each allocation pool has an slice of blobberPools so we will need a second table for that.

Foreign keys are links to tables added other issues.

AllocationId will not be unique as each allocation will

[2021-12-09 13:49] Sriep opened #761 "Event db: New allocation blobber terms table"
We need a table to hold an allocation's blobber's terms. This will not in general be the same as the blobber's terms. They will start the same but allocation's blobber's terns will not necessarily change if the corresponding blobber's terms change.

The (allocationId and BlobberId) foreign keys form a unique clustered index.

Add code in event database to create the table and support events to add

[2021-12-09 14:08] platsko commented on #738
@moldis @guruhubb
Have no idea what functions can be covered with testing, so I think we can close the ticket because of reasons above.

[2021-12-09 16:23] Sriep opened #762 "Event db: Allocation curator table"
This table mirrors the [StorageAllocaion.Curators](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/models.go#L601) field.

The `CuratorId` is logically a key into the user's table, however, there is no guarantee that the CuratorId will be a valid user. For example, adding an id as a curator and registering the id as a 0chain user can happen in either order.

[2021-12-09 16:44] Sriep opened #763 "Event db: Allocation table"
We need a new Event database Allocation table to mirror [storagesc.StorageAllocaion](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/models.go#L544)

We need code in event database to include the table as well as support events that add, delete or update allocations. Also we need to take account of the extra complications of sub tables.

TransactionId, fore

[2021-12-09 18:14] Sriep opened #764 "Event db: ReadMarker table"
We need an event database [ReadMarker](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/models.go#L1166) table. this is populated during [read_redeem](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/blobber.go#L344).

We need code for the new table and add ReadMarker method. There five foreign keys into other tables t

[2021-12-09 19:47] dabasov opened #765 "Transaction: nonce"
### Abstract
Nonce is a new integer field that will be added to Transaction.
`Nonce           int64             json:"nonce" msgpack:"n"`
Nonce will be used to order transactions for arbitrary client, if `tx1.nonce < tx2.nonce`, then transaction tx1 must be executed before tx2, nonce is unique for current client. If tx2 follows tx1 and there is no other transactions between them, `t2.nonce = t1.no

[2021-12-10 10:17] dabasov opened #767 "Core: cancel generator on round change"
Block assemble should be cancelled in two cases:
1. Current round is transitioned to the next round (notarization received)
2. Round is timed out,(new block should be assembled)

Should discuss second case, after restart current generator can be generator again and generated block can be reused with different RRS, it is possible because state did not change during restart

[2021-12-10 11:27] Sriep commented on #765
We need a `User` table in the Event database to use for foreign keys into other tables. Mirrors [State](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/chaincore/state/state.go#L16). See https://github.com/0chain/0chain/issues/778

Could use this for `getNonce` (And also maybe `getBalacne`) REST API calls?

[2021-12-10 11:50] Sriep opened #768 "Evenet db: WriteMarker table"
We need an event database [WrtieMarker](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/models.go#L1018) table. this is populated during [read_redeem](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/blobber.go#L556).

We need code for the new table and add WrtieMarker method. There are four foreign keys into other ta

[2021-12-10 11:58] Sriep opened #769 "Event db: Challenge table."
We need a new Challenge table for the Event Db.

Code for this already exists in https://github.com/0chain/0chain/pull/679 [challenge.go](https://github.com/0chain/0chain/blob/challenge-events/code/go/0chain.net/smartcontract/dbs/event/challenge.go#L10).

This needs to be reworked as part of https://github.com/0chain/0chain/issues/741. The event database code should be altered to use the blobber t

[2021-12-10 12:33] Sriep opened #770 "Event db: Validator table"
We need a new Validator table for the Event database.

This can be modified in [AddValidator](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/validator.go#L28) where a new event emitted with the new Validator.

This should be best done in conjunction with https://github.com/0chain/0chain/issues/587. This issue adds the Stake field which will need to be upda

[2021-12-10 12:56] Sriep opened #771 "Event db: Error table"
A new Error table for the event database, for events of type `TypeError`. This stores the error for any failed transaction.

| Error table   | type   | notes                              |
|---------------|--------|------------------------------------|
| TransactionId | uint   | foreign key into Transaction table |
| Error         | string |                                    |

Blocker for https:

[2021-12-10 17:30] guruhubb commented on #738
The proximity and deep scan cannot run together. So in the code, we should have a check for such.
Proximity scan is for sharders that have gone down or bad network connection for a few hours.
Deep scan is for new sharders joining.
@platsko @moldis is it clear now?

[2021-12-10 18:28] Sriep opened #772 "update_blobber_settings. add additional fields."
Currently [update_blobber_settings](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/blobber.go#L224) will allow you to update the capacity and Terms fields.

We want to additionally allow blobbers to alter the stakePoolSettings.DelegateWallet, stakePoolSettings. MinStake, stakePoolSettings.MaxStake, stakePoolSettings.NumDelegates and stakePoolSettings.Servi

[2021-12-10 18:43] Sriep opened #773 "New storagesc update_validator_settings endpoint"
We need a new storage smart contract endpoint, update_validator_settings. This will act in much the same way as [update_blobber_settings](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/blobber.go#L224) but will update a validator's stake pool settings.

Related to https://github.com/0chain/0chain/issues/772

[2021-12-10 19:29] Sriep opened #774 "Stake holder rewards pools and pay_rewards endpoint"
We need to change the way rewards are paid to delegates. With a hundred plus delegates per stake pool, doing over a hundred MPT updates takes too much time.

We will add a new StakeRewardPool object for each blobber, validator, miner and sharder. This will contain a reward pool for each delegate.

Whenever rewards are paid to blobber, miner, validator or harder delegates, the pools corresponding t

[2021-12-10 19:45] Sriep opened #775 "Vestingsc: add settings to MPT and update_settings endpoint."
We need to store settings for the vesting smart contract in the MPT in the same way as other smart contracts.
[code]

We also need a `update_settings` endpoint for vestingsc, to work modify these values on the blockchain, this will work the same way as the `update_settings` endpoints in other smart contracts.

[2021-12-11 10:34] Sriep opened #776 "Add local global settings to MPT,"
The [0chian.yaml.development.txn_generation.min_txn_fee](https://github.com/0chain/0chain/blob/staging/docker.local/config/0chain.yaml#L81) is currently different for each miner and stored as a [global variable](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/miner/miner/main.go#L60).

We want to add min_txt_fee to the global settings saved to the MPT, so that it is the same netwo

[2021-12-11 10:37] Sriep opened #777 "Zcnsc: Authorizer should have delegates"
The zcnsc's authorizer shold have delegates in the same way as miners, sharders, blobbers and validators have delegates.

The common [stakepool code](https://github.com/0chain/0chain/tree/staging/code/go/0chain.net/smartcontract/stakepool) can be used for this. Check the [storagesc.collect_reward endpoint](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/col

[2021-12-11 13:05] Sriep opened #778 "Event db: User table"
We need a users table for the event database. This gives foreign keys in several other tables. [WriteMarker](https://github.com/0chain/0chain/issues/768) [ReadMarker](https://github.com/0chain/0chain/issues/764) [Allocation](https://github.com/0chain/0chain/issues/763) [Curator](https://github.com/0chain/0chain/issues/762) and [Allocation Pool](https://github.com/0chain/0chain/issues/760).

The st

[2021-12-12 11:35] #742 closed, assigned to nobody

[2021-12-12 12:15] Sriep commented on #772
Already done https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/blobber.go#L272

[2021-12-12 12:15] #772 closed, assigned to nobody

[2021-12-13 11:30] dabasov commented on #765
@Sriep yeah, I don't see an issue here, even if requested nonce is not fresh enough due to some crash, it won't break n/w and miner will simply fail transaction, so looks good to me

[2021-12-13 11:47] Sriep opened #781 "Blobber max staked capacity factor."
We wish the option to not use all of a blobber's capacity.

To facilitate this we need a new `sc.yaml` setting `max_staked_capactiy`. This will be a `float64` setting, when the staked capacity of any blobber is checked to see if it is full, the actual capacity will be reduced by this `max_staked_capacity` factor. This allows users to ensure that blobbers always have some free capacity.

[2021-12-13 13:03] Sriep commented on #776
The following settings are to be kept in the MPT. They need a `update_global_settings` transaction to change.

The indicated settings [following global settings](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/minersc/globals.go#L26). These are either stored in the [global development object](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/chaincore/

[2021-12-13 13:27] Sriep commented on #765
Also, you might look at https://github.com/0chain/gosdk/issues/326. This seems to be making similar changes to the same goSDK methods you would need to change to get nonce for a transaction.
So each smart-contract transaction will be potentially sandwiched between two REST-API calls.

[2021-12-14 12:07] Sriep opened #784 "Event db: Authorizer table for zcnsc"
1. We will need an Authorizer table in the eventdb,
2. Each time an authorizer changes we will need to emit an event.
3. Then code in the event database to process zcnsc events.
4. Change getAuthorizerNods to get data from eventDB rather than MPT.

| Authorizer   | type   | zcnsc.AutorizerNode | type   | notes |
|--------------|--------|---------------------|--------|-------|
| AuthorizerId | stri

[2021-12-14 12:36] Sriep commented on #760
[Rest Api endpoints](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/sc.go#L93) /getReadPoolStats, /getReadPoolAllocBlobberStat, /getWritePoolStat, /getWritePoolAllocBlobberStat, /getStakePoolStat and /getUserStakePoolStat will need to be modified to use these new tables.

[2021-12-14 13:40] Sriep commented on #594
Moved to https://github.com/0chain/0chain/issues/741 as this rewrites the challenge creating algorithm.

[2021-12-14 13:40] #594 closed, assigned to Sriep

[2021-12-14 13:42] Sriep commented on #768
We also need to take into account https://github.com/0chain/0chain/issues/646 here.

[2021-12-14 13:43] Sriep commented on #741
We need to take account of https://github.com/0chain/0chain/issues/646

[2021-12-14 14:05] Sriep opened #785 "Partition tables for validators, blobbers and blobber's allocations"
We need to replace the all object lists with partition tables. We need them for validators, blobbers and blobber's allocations.

Most of the work has been done in the depreciated https://github.com/0chain/0chain/pull/588. We need to separate out the partition code.

This is a blocker for challenge and block reward issues. https://github.com/0chain/0chain/issues/753 and https://github.com/0chain/0c

[2021-12-14 14:20] Sriep commented on #760
https://github.com/0chain/0chain/issues/774 will be adding new reward fields to stake pools.

[2021-12-14 14:25] Sriep commented on #759
We could replace the ClientId with a key into the User table, excerpt the client need not be a registered user.

[2021-12-14 15:45] Sriep commented on #778
We will want to add a GetNonce REST-APi method to get the nonce for a user. This will probably be done as part of https://github.com/0chain/0chain/issues/765.

Also, change the [getBalance](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/chaincore/chain/state_handler.go#L103) REST API method to use this table. This should help with testing.
1. Add the new getBalance endpoint, whic

[2021-12-15 09:14] wittyjain commented on #763
@kushthedude

[2021-12-15 14:49] Sriep commented on #774
# Affected existing functions

This involves a rewrite and extension to existing reward payment methods:
[trasferReward](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/functions.go#L16)
[mintReward](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/functions.go#L46)
[payNode](https://github.com/0chain/0chain/blob/stag

[2021-12-15 15:34] Sriep opened #787 "Event db API: data stored in network."
We need an endpoint to return the amount of data stored on the network.

# storagesc

Each blobber will send a [WriteMarker](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/models.go#L1018) for each change to data stored on the blobber.

The [StorageNode](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/models.go#L304

[2021-12-15 17:48] moldis commented on #681
Created the `getAllocBlobbers` endpoint (still under WIP), using this filters criterion:

Terms.MaxOfferDuration
ReadPriceRange
WritePriceRange
Capacity-Used
Terms.ChallengeCompletionTime
LastHealthCheck

Going to add diversify logic and sorting. Thinking to sort on free space available and last healthcheck

cc @Sriep @guruhubb

[2021-12-16 10:07] Sriep opened #789 "Event db API: read markers from authTicket"
https://github.com/0chain/0chain/issues/764 introduces the ReadMarker table.

We want an endpoint that has an authToken as input and returns all readMarkers with that authTicket.
[code]

We also need an endpoint that will return all read markers from an alloactionId.
[code]

We want an endpoint to return the number of reads for an allocation.
[code]

[2021-12-16 10:17] Sriep commented on #768
We will need a new API method that takes an allocation id and returns corresponding write markers.
[code]

[2021-12-16 12:45] Sriep commented on #776
The following entries should not be held in the MPT but read from the `0chain.yaml` file
[code]

[2021-12-16 13:21] Sriep commented on #776
https://github.com/0chain/0chain/issues/736 also updates settings with new security levels.

[2021-12-16 14:51] Sriep opened #790 "Event db: New Miner table and Sharder table."
We need a new miner table.

To populate we need to emit event:
-  [add_miner](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/minersc/miner.go#L143) Add.
-  [update_miner_settings](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/minersc/miner.go#L348)  Update.
- [payFees](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/

[2021-12-16 15:06] Sriep commented on #790
We also need a new `Sharder` table. This is identical to the `Miner` table, except uses [add_sharder](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/minersc/sharder.go#L84) and [update_sharder_settings](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/minersc/sharder.go#L16) and [delete_sharder](https://github.com/0chain/0chain/blob/sta

[2021-12-16 15:24] Sriep commented on #790
The Miner and Sharder tables can be used to provide data for the [/getMinerList](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/minersc/handler.go#L81) and [getSharderList](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/minersc/handler.go#L91) and [nodeStat](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontrac

[2021-12-16 15:35] Sriep commented on #763
We need a new endpoint to return the number of active allocations.
[code]

[2021-12-16 15:53] Sriep opened #791 "Event db API: Data written from allocation. Data read from allocation."
New endpoint to return the amount of data written to allocation for last N blocks.
[code]

New endpoint to read the amount of data read from allocation.
[code]

Where ? is typically enough blocks to cover last 7 days, 30 days or 90 days. Can get current block number from Block table.

We want an endpoint to return the number of writes to the write marker table for an allocation.
[code]

[2021-12-16 16:18] Sriep commented on #763
We need a new endpoint to return the number of blobber allocations

[code]

[2021-12-16 16:40] Sriep opened #792 "Event db API: New blobber count and geo-location endpoints."
New API endpoint to return the number of blobbers.
[code]

New API to return the longitude on latitude values from the blobber table.
[code]

New API endpoint to return the total amount stated across all blobbers
[code]

[2021-12-16 17:17] Sriep commented on #687
We should split [0chian.yaml](https://github.com/0chain/0chain/blob/staging/docker.local/config/0chain.yaml) into ~two~ three files.
1. `0chain.yaml:` Contains settings that are stored on the chain. During chain genesis, these settings are added to the MPT. Therafter the 0chain.yaml file is unused. If the 0chain.yaml files do not match across the network during genesis than the chain does not star

[2021-12-16 17:35] Sriep opened #793 "Geolocation for miner and sharder."
Geolocation fields from https://github.com/0chain/0chain/issues/815 added to Event database. Make sure geolocation fields are emitted when miner and sharder geolocation settings change.

New event database endpoint to return the longitude values for miners.
[code]

New event database endpoint to return the longitude values for sharders.
[code]

[2021-12-16 17:36] Sriep commented on #793
Reference https://github.com/0chain/0chain/issues/687 split 0chain.yaml
Miner and sharder tables https://github.com/0chain/0chain/issues/790

[2021-12-16 17:37] Sriep commented on #790
Geolocation fields https://github.com/0chain/0chain/issues/793

[2021-12-16 17:52] Sriep commented on #792
New API endpoint to return the total amount staked on blobbers
[code]

[2021-12-16 17:54] Sriep commented on #790
We need a new API method to return the total stake of miners.
[code]

We need a new API method to return the total stake of sharders.
[code]

[2021-12-17 09:23] dabasov opened #794 "Consensus: verify block caching"
**Idea**
Process verify block messages in the same way VRF shares are processed.

**Problem**
We reject verify block messages if RRS is not computed yet

**How it is implemented now**
If you receive some messages from the future, create round, make some preprocessing and leave created artifacts (vrfs, not. tickets and so on) there until it is needed. Well, this logic can work and probably is not b

[2021-12-17 10:41] Sriep opened #795 "Event db: Summary of changes"
# Event database

This issue gives a summary of the changes needed for the new event system.

0chain and 0chain smart contracts emit events that are picked up and used to populate the new event database. For this to work we need.
1. Events to emitted from 0chain, whenever there is new or changed data to be reflected in the database.
2. New tables to hold data. We are using gorm for the database, s

[2021-12-17 11:33] Sriep commented on #770
We will also need a new API endpoint to return information about a given validator.

[2021-12-17 12:20] Sriep commented on #760
It might be better to split into two tables. ReadAllocationPool and WriteAllocationPool

| Event db ReadAllocationPool | type          | allocationPool | type          | Note                                                  |
|-------------------------|---------------|----------------|---------------|-------------------------------------------------------|
| AllocationId            | uint

[2021-12-17 12:55] Sriep commented on #657
I suggest all new Event database API endpoints use a new restricted StateContextI object. With `GetTrieNode` and only add other methods if needed. In the longer term we will want to remove the StateContextI object altogether and replace with a link to the eventDb.

[2021-12-17 13:09] Sriep opened #796 "Event db API: Change `screst` handler to use event database endpoints."
Event database API endpoints should be kept in a package close to the event database. Not in the smart contract as they are now.

This will need changes in `chaincore/chain/state_handler.go` to redirect to the new endpoints. In particular [GetSCRestPoints](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/chaincore/chain/state_handler.go#L165).

This is the current code that gets th

[2021-12-17 14:27] Sriep commented on #472
event databae coves this. Closing.

[2021-12-17 14:27] #472 closed

[2021-12-17 17:51] Dmdv commented on #784
From our discussion

[2021-12-18 05:43] krishnemd opened #797 "GetStakePoolInfo to add similar field as "free" to reflect Staked Capacity in terms of ZCN/GB."
As per the[slack convo](https://0chain.slack.com/archives/C01U94VF56Y/p1637924638278800) and the present implementation of sp-info as seen on CLI we need to reflect Staked Capacity in terms of ZCN/GB rather than GB. I am not sure if its already implemented or not but I think posting here will be helpful to extract out the required value if already implemented.
<img width="1095" alt="Screen Shot 20

[2021-12-18 19:01] shaktals commented on #795
The event driven architecture is very similar to a MS approach.
Will we have a queue for events that the service fails to pick up, with retries and such?

[2021-12-18 19:06] shaktals commented on #787
@Sriep for the _total storage and utilization_ data that will be needed by the new explorer, we will need not just the current values, but also the values for yesterday, the day before, and so on.

So we'd need a service to query this info from blobbers and save it to a new table, so that the data progression can be displayed.

[2021-12-18 19:19] shaktals commented on #795
Do you mean that the endpoints for querying events data today _live_ under the `/v1/{screst}/...` path, and that it is not semantically correct?

I'd totally agree, specially if the events being queried are not restricted to that specified smart contract.

[2021-12-20 11:35] Sriep opened #799 "Event db. Improve remove duplicates."
We want to avoid acting on the same event twice. The current method, [removeDuplicate](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/dbs/event/event.go#L75), is inefficient as it queries all events.

Especially in conjunction with https://github.com/0chain/0chain/issues/756 we can assume that blocks will not be repeated. So we should only need to search events for

[2021-12-20 16:01] Sriep opened #800 "zcnsc: Improve performance."
Smart contract performance needs to be kept below 50ms.

The main problem could be GetAuthorizerNodes. We can't handle unbounded lists of objects in the MPT.

[2021-12-21 01:09] #541 closed, assigned to nobody

[2021-12-21 03:53] peterlimg commented on #765
Maybe we don't have to get nonce every time when create a transaction, clients can save the last successfully executed transaction nonce locally, we can use the `nonce +1` to create a new transaction directly, and only when it failed, should we send request to get the latest nonce, or we can have the latest nonce returned with the failed transaction error message. This could reduce lots of MPT acc

[2021-12-21 03:57] peterlimg opened #801 "Chain.ExecuteSmartContract timeout does not work"
Although we have `context.WithTimeout` created and passed to the `smartcontract.ExecuteSmartContract()` function, but it is not being used at all.

 https://github.com/0chain/0chain/blob/15b1511a03e10fa38c8a55fd4a12ab71e627f2b4/code/go/0chain.net/chaincore/smartcontract/handler.go#L76-L94

[2021-12-21 03:59] peterlimg commented on #794
LGTM

[2021-12-21 04:20] peterlimg opened #802 "Add github actions to do the '3 minutes down' conductor test"
Add or update the workflow to do the 3 minutes down conductor test that @rrrooommmaaa have done in PR #674 . Do it in none view change mode.

[2021-12-21 04:29] peterlimg commented on #747
This could be done later as this is kind of code refactoring.

[2021-12-21 04:51] peterlimg opened #803 "Add config to indicate the threshold for upgrading versions of smart contracts and protocol"
Add `consensus.threshold_sc_upgrade` and `consensus.threshold_protocol_upgrade` to `0chain.yaml` to indicate the consensus threshold for switching the smart contract version and protocol version respectively. The smart contract and protocol version switching transactions should not be allowed if the threshold does not meet.

[2021-12-21 05:12] peterlimg opened #804 "Add smart contract to switch the versions in MPT"
- [ ] Add a smart contract to switch the `sc_version` in MPT
- [ ] Add a smart contract to switch the `protocol_version` in MPT

Versions number must not be decreased.

[2021-12-21 05:16] peterlimg commented on #749
Instead of all the supported smart contract versions, we can only report the latest supported version perhaps.

[2021-12-21 05:49] peterlimg opened #805 "Blockchain smart contract upgrading capacitity support"
We can store the current SC version number in MPT and have specific transaction to switch it to new version (SC owner takes the responsibility to create the transaction) when we need to switch to new SC version. What we can do to achieve could be:
a) Init the SC version as v1 and store it to MPT with key sc_version when start the chain
b) Organize SC of different versions in separate packages, suc

[2021-12-21 05:51] peterlimg opened #806 "Blockchain protocol upgrading capacity support"
Blockchain protocol upgrading support proposal:
The protocol changes could be managed in similar way as the smart contract, the difference is we don’t need to manage all protocol versions as protocol messages are processed immediately when arrive, therefore we do not have the re-play issue. The following are the steps we can do to support the protocol upgrading.
a) Add protocol_version MPT node
b)

[2021-12-21 06:03] peterlimg opened #807 "Carefully use RequestEntityFromAll() to get request from miners or sharders"
The following requests would call the `sharders.RequestEntityFromAll()` to fetch data from sharders:

- `FBRequestor`
- `LatestFinalizedMagicBlockRequestor`

This will cause performance issue when network size increased. A sharder will get requests from all miners every time when the function is called. We should do it like the way we do for miners, which means send request to small part of the sh

[2021-12-21 09:14] peterlimg commented on #801
Checked the code in details, the current implementation should be fine.

[2021-12-21 09:14] #801 closed, assigned to nobody

[2021-12-21 11:23] peterlimg opened #810 "Integer overflow code checking"
We need to take care of the balance or amount transfer code to check if we have integer overflow issue, check https://blockchain-projects.readthedocs.io/overflow.html.

[2021-12-22 09:13] dabasov commented on #765
@peterlimg actually, we can store nonces in the cache on server lower the load on MPT, like we do for confirmations for example. or we can use event db for querying nonces, what @Sriep offered
but, I agree, we should reduce http queries first of all, for thet we can cache nonces on clients and request it from server on cache invalidations, just what I suggest here

then client can do `nonce+1`

ob

[2021-12-22 11:27] Sriep opened #814 "Event db: New StakePool table."
We need new tables for blobber, miner, sharder, validator and authoriser stake pools. This database table will be used to provide data to storagesc.getStakePoolStat, storagesc.getUserStakePoolStat, minersc.nodePoolStatHandler, minersc.nodeStatHandler plus new endpoints for validators and authorisers.

Details to follow. Deponds on https://github.com/0chain/0chain/issues/774, https://github.com/0ch

[2021-12-22 11:54] peterlimg commented on #765
Yes, even if we have several devices that use the same client, it can still work if devices can get last nonce from the error response message and retry the transaction with new nonce.

[2021-12-22 12:10] Sriep commented on #797
https://github.com/0chain/0chain/issues/814 will redo stake pool endpoints to use the Event database.

[2021-12-22 13:10] Sriep opened #815 "Geolocation for miner and sharder."
Add two geolocation fields for miner and sharder.
Add
[code]
Add [Geolocation](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/models.go#L286) fields to [SimpleNode](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/minersc/models.go#L785) object.

The geolocation add to [add_miner] method. Change to [RegisterNode](https://githu

[2021-12-22 17:11] Sriep commented on #785
Partitions are a device to allow random selection of validators, blobbers and blobber's allocations.

Say we randomly select the 79,283th blobber. What does that mean? It would take too much time to order 100.000 blobbers lexicographically just so we can pick the 79,283th in the list.

So what we do is we partition our 100,000 blobbers into 1,000 partitions of size 100. So we can choose the 83rd b

[2021-12-23 09:54] MurashovVen opened #817 "Conductor: Notarize not existent block and fetch it"
[code]

[2021-12-23 22:33] #785 closed, assigned to Sriep

[2021-12-24 22:02] ssardana96 opened #822 "Processing Minio Config in Sharder"
Refactor [processMinioConfig](https://github.com/0chain/0chain/blob/a7412277acc98fc4fc6539e6964cbcf0a9175cec/code/go/0chain.net/sharder/sharder/main.go#L43)

Use `viper` to read minio config. The same way we are doing [here](https://github.com/0chain/0chain/blob/a7412277acc98fc4fc6539e6964cbcf0a9175cec/code/go/0chain.net/chaincore/config/config.go#L81)

Reading a file line by line and assigning to

[2021-12-26 10:05] krishnemd opened #824 "Miner Sharder /_diagnostics data on JSON."
Explorer needs {{miner, sharder}}/_diagnostics data on a JSON format. A clone of present html type response but on JSON.

[2021-12-27 09:10] ssardana96 commented on #795
Currently, API endpoints are stored with smart contracts in smart contract objects. Logically this does not make sense as these are not smart contracts.

@Sriep completely agree on it.
@Sriep do we have any piece of existing code where REST APIs reside in a package, so that we can inspire from that?

[2021-12-27 09:15] ssardana96 commented on #790
@Sriep rather than creating a new endpoint, we can extend getMinerList and getSharderList with query params active=true inactive=true. or status = 1(active) 2(inactive)

[2021-12-27 10:39] ssardana96 commented on #793
this will be done with ticket #790

[2021-12-27 12:17] Sriep opened #827 "Update settings cooldown to prevent DdOS attack."
Update settings from 0chain modules should have a cooldown to prevent DdOS attacks.

1. For each smart contract key add a new cooldown setting to`sc.yaml` (minersc.txn_cooldwon, storagesc.txn_cooldwon, and zcn.txn_cooldwon). Units number of rounds.
2. Add an extra `int64` LastSettingUpdate field  to [StorageNode](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storag

[2021-12-27 12:32] Sriep opened #828 "NFT: restrict file access options."
Allocation changes to support NFTs.

1.  [x] Allocations cannot have the duration reduced. Change for all allocations.
4.  [x] Cannot be made mutable once set immutable.
3.  [x] Add an `anyone can extend` boolean flag.
5.  [x] Six new boolean options, `upload`,`delete`, `update`, `move`, `copy` and `rename`. These toggle whether the owner or anyone else can upload, delete, update, move, copy or re

[2021-12-27 18:04] ssardana96 commented on #790
Tasks to do for addminer:
* in chain.updateState -> pass eventdb in StateContext sctx
* Use the eventdb to query & if there is no data, code should be backward compatible to lookup in trie.
* Write should be happening to only eventdb now and not MPT

[2021-12-27 18:08] ssardana96 commented on #790
@Sriep @kushthedude why is StateContext called `balances` everywhere in code?
What is it that StateContext contains?

[2021-12-27 18:14] ssardana96 commented on #790
@Sriep @kushthedude as of now there is a concept of GlobalNode in addminer.
Now with EventDb integration, we will have to keep this also in EventDb?
If yes, how will it be stored? and with that we will have to make changes to [getGlobalNode](https://github.com/0chain/0chain/blob/1e8779f639d24bcd832baaf07adbd2e31915b066/code/go/0chain.net/smartcontract/minersc/sc.go#L188) as well.

[2021-12-27 18:53] guruhubb commented on #828
@Sriep, please make this generic that applies to any allocation. We don't need to use the `--nft` flag at all.
The defaults can be `true` for all CRUDs, `mutable`, and `not everyone` can `extend` or `fund` an allocation.

[2021-12-27 21:11] Dmdv commented on #800
Results for 100 000 wallets

<img width="318" alt="image" src="https://user-images.githubusercontent.com/805238/147507522-544e087e-e002-4a8f-a3cd-631ac7c28e38.png">

[2021-12-27 21:11] #800 closed, assigned to Dmdv

[2021-12-28 10:40] ssardana96 commented on #790
@Sriep currently SimpleNode has `MaxStake` as well. Don't we need that in miner db?
@Sriep there is an existing field `TotalStaked` and you've mentioned a new property to be added `TotalStake`. What's the difference between two?

[2021-12-28 11:56] Sriep opened #829 "Block rewards for miners and sharders"
Currently, these are working fine, but use the [sc.yaml.minersc.block_reward](https://github.com/0chain/0chain/blob/staging/docker.local/config/sc.yaml#L46) entry. We want the miner and sharder block rewards to work on the same value as blobber block rewards https://github.com/0chain/0chain/issues/753. Plus emit events to populate the block reward tables in the event database.

[2021-12-28 12:11] Sriep opened #830 "Event db: Miner and sharder block rewards."
We need two new tables for miner and sharder block rewards. This should be done in step with https://github.com/0chain/0chain/issues/829 which would probably be considered a blocker. Currently rewards are paid in [payFees](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/minersc/fees.go#L396) but that will might change with https://github.com/0chain/0chain/issues/829.

[2021-12-28 12:34] Sriep opened #831 "EventDb: BlobberBlockRewards table"
Table to hold blobber block rewards paid every block. This is dependant on https://github.com/0chain/0chain/issues/753.

| BlobberBlockReward 	| Field 	| Note                           	|
|--------------------	|-------	|--------------------------------	|
| BlockId            	| uint  	| foreign key into block table   	|
| BlobberId          	| uint  	| foreign key into blobber table 	|
| Reward

[2021-12-28 12:36] Sriep commented on #831
We want endpoints to support
[code]
and
[code]

[2021-12-28 12:43] Sriep opened #832 "Event db: New BlockRewards table"
We need a new summary table for block rewards. It might be necessary to add some fields to distinguish between miner, sharder and blobber rewards.

| BlockRewards 	| Field 	| Notes                        	|
|--------------	|-------	|------------------------------	|
| BlockId      	| uint  	| foreign key into block table 	|
| BlockTime    	| int64 	| timestamp                    	|
| TotalStake

[2021-12-28 12:44] Sriep commented on #831
[code]
and
[code]

[2021-12-28 13:19] Sriep opened #833 "Event db endpoints should only run on the sharder"
Event database endpoints should only be run from the sharder. Attempting to run them on a miner should return an error, and they should not be run.

[2021-12-28 13:23] Sriep commented on #790
Adding new functionality to existing endpoints should be fine, just make sure backwards compatibility is maintained.

[2021-12-28 13:29] Sriep commented on #790
StateContextI is called balances everywhere in the code for historic reasons, please refer to GitHub commit history logs for more details.

StateContextI allows smartcontracts to communicate outside their deterministic bubble. For example, it provides access to the block_chains MPT database, it also allows smart contracts to request mints and balance transfers. It also allows access to the block o

[2021-12-28 13:43] Sriep commented on #790
[code]
No request to add GlobalNode at the moment.

We will want to move [existing endpoints](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/minersc/sc.go#L92) to the event database where possible.

[2021-12-29 10:30] ssardana96 commented on #790
[code]

@Sriep can you clarify on this

[2021-12-29 12:23] Sriep commented on #790
Assume `TotalStaked` and `TotalStake` are the same.
Not sure if we need `MaxStake` but we have `MinStake` so should probably have `MaxStake` as well.

[2021-12-29 14:49] ssardana96 commented on #790
@Sriep as Active is a new field in Miner Table.
We need to list down all the places where the status would be active and where all it'll be inactive

it's clear in [createMagicBlock](https://github.com/0chain/0chain/blob/1e8779f639d24bcd832baaf07adbd2e31915b066/code/go/0chain.net/smartcontract/minersc/dkg.go#L759) that it'll be taken from `Status`
What is expected behavior in other scenarios - Add

[2021-12-29 15:13] dabasov commented on #803
@peterlimg am I right that this consensus will be achieved via healthcheck info?

[2021-12-29 18:24] Dmdv opened #838 "Limit number of signatures in sc.yaml"
[code]

[2021-12-29 23:17] samtholiya commented on #757
I am not using channels but using a mutex.
The reason is using a channel still does not guarantee the processing of blocks in order if its buffer is overloaded.
[code]
Now mutex does not solve this problem but helps process the events for one block at a time.
Yes channels could achieve the same but. it would be adding one goroutine that is not necessary and a channel memory that is not necessary a

[2021-12-29 23:41] samtholiya commented on #833
Need more details, how can we ensure that endpoints are hit by miners or sharders.

[2021-12-30 07:29] ssardana96 commented on #790
@Sriep do we need a `Delete` field in Miner Table?
as we would be hard deleting miner always

[2021-12-30 08:07] ssardana96 commented on #790
[code]

@Sriep @kushthedude Miner table is almost done. Blockers for me:
- Active is a new field, so we need to find what will be it's value at various places - while updating, adding new, etc.
- `stakePoolLock and stakePoolUnlock update TotalStake.` is this related to miner table? I'm not able to find a link between storagesc and miners event. Need help!

[2021-12-30 10:19] MurashovVen opened #841 "0chain: Integration tests build."
Building miners for integration tests are failing on staging-6f13c86f.

[code]

[2021-12-30 10:57] dabasov commented on #799
`Count()` can slow down the query as it adds `count(*)`, in general count is bad for exist, since it is aggregation function. afaik the best way to check existence is something like
[code]
it is possible to execute raw queries in gorm, something like this
[code]
cc @samtholiya

[2021-12-30 11:24] Sriep commented on #790
[code]
You need to emit an event whenever the field can change value. So search for `.Status =` in `minersc` But remember this is a miner not a delegate pool which also has a Status field. As far as I can tell this is createMagicBlock

[2021-12-30 11:27] Sriep commented on #790
`do we need a Delete field in Miner Table?`
This indicates that the node is to be deleted at the next view change. I can't think of a reason not to include it, users might be interested in filtering by this value.

[2021-12-30 11:45] Sriep commented on #790
You should not need to make any changes in storagesc. stakePoolLock and Unlock are for blobbers.

[2021-12-30 12:55] Sriep opened #842 "Event db: new Authorizer table"
New table for zcnsc.authorizer object, plus endpoint. Events need to be emitted in zcnsc whenever an authorizer is added or changes. Code in Event database to handle new events. A REST API endpoint to return autorizers.

Table no complete, additional fields will be needed.

| Authorizer   	| type   	|
|--------------	|--------	|
| AuthorizerId 	| string 	|
| Balance      	| uint   	|
| Url

[2021-12-30 18:08] kushthedude commented on #757
Wont the mutex block the queue for all events which are coming to be processed @samtholiya ?

[2021-12-30 20:40] shaktals commented on #797
@chauchausoup @Sriep as per slack conversation mentioned on the title, we don't need another field on the getStakePoolInfo.

We just need to know **which endpoint** can we use to find the token/GB ratio that is recorded on the blobber smart contract.
Maybe @cnlangzi can help us here?

I summarize the slack thread for clarity:

**Me:**
"it seems like `free_from_blobber_stake_stats` represents token

[2021-12-31 00:31] peterlimg commented on #803
Hi @dabasov , yes we will use health check to collect the version info.

[2021-12-31 09:18] Dmdv commented on #842
@Sriep Working on it

[2021-12-31 10:08] dabasov commented on #803
Actually, this data can be manipulated by malicious coordinated miners. Well, they can trigger preemptive transition to the new version at `honest = threshold - 1/3f` (malicious miners can coordinate and send health-check responses but do not transit and split network). I don't think that this is a big threat, but we should consider this probability

[2021-12-31 12:23] samtholiya commented on #799
Optimized the query. So the issue is partially solved :)
As discussed with @kushthedude there are issues that are required to be solved before solving this issue.

[2022-01-01 14:14] dabasov commented on #799
btw, I added `context.Context` to the queries, so they are now cancellable

[2022-01-01 18:26] samtholiya commented on #799
@dabasov so you want me to add `context.Context` to the query is what I understand. Is that right?

[2022-01-01 21:09] samtholiya commented on #824
@chauchausoup would be great if you could mention the expected JSON format.

[2022-01-02 11:18] Sriep commented on #799
The main point here is that we do not need to search all the events, only the ones for the current block. This is what is causing problems that have been reported.

We can rely on other mechanisms to ensure there are no repeat events spread across multiple rounds, and event db only get the events for a round once.

[2022-01-02 13:26] dabasov commented on #799
@samtholiya no, I've added it already, it should be merged to staging soon. we can cherry-pick this commit is you need

[2022-01-02 17:12] guruhubb commented on #828
@Sriep item 6 is not necessary. The default for any allocation is all CRUD operations are true.  For NFT, the client sets some of them as false if they want the NFT to be mutable but restricted. cc. @kushthedude

[2022-01-03 11:52] Sriep commented on #757
Can't you use an intermediate worker thread? Use two channels, ChainToWorker - an event list blocker channel, and WorkerToEventD an event buffered channel.

Chain.

1. Repeatedly send to ChainToWorker until successful.
2. Move on.

Worker

1. Poll ChainToWorker.
2. If a new event list, append it to a local event slice.
3. Check WorkerToEventDb buffer,
4. If free space in WorkerToEventDb buffer, mo

[2022-01-04 01:40] peterlimg commented on #767
@dabasov , is this fixed in fix/staging_vrf_next_round_not branch?

[2022-01-04 09:40] dabasov commented on #767
@peterlimg atm we use root context to start generator, but code is refactored and ready to fix it, this func is responsible for generation:
``
func (mc *Chain) TryProposeBlock(ctx context.Context, mr *Round)
``

First case is easy to implement, the similar way as verification is implemented (store cancel function and call it in case of transition to the next round)

The second case will need to ad

[2022-01-04 14:16] Sriep commented on #833
They are being called because [GetSCRestPoints](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/chaincore/chain/state_handler.go#L151) is called from both `miner/miner.go` and `sharder/sharder.go` main functions.

Probably it is best to have different [SetupStateHandlers](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/chaincore/chain/state_handler.go#L21) for [mi

[2022-01-04 16:28] Sriep commented on #657
Smart contracts should not be able to use GetEventDb, having this function available can confuse developers into using it. For example, smart contracts can't know if the event database is up or not. However, the chain meta operations needs to use GetEventDb.

[2022-01-04 18:58] Sriep opened #850 "Smartcontact to setup chain genesis"
We need a smart contract to run on the first round. Currenlty this is needed so genesisi miners can be sent to the Event database, as genesis miners do not use the `addMiner` smart contract.

1. Add a [CreateAddGenesisMiners](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/miner/protocol_block.go#L69) transaction somewhere around here.[Ger
2. Call the new CreateAddGeesisMiners in

[2022-01-04 19:12] Sriep commented on #577
We have decided to only allow freeing up of stake commitments on allocation finalization or cancellation. This way we don't need to keep around a lot of unscalable baggage.

[2022-01-04 21:51] samtholiya opened #851 "EventDB: Blobber exists Query should be optimized"
optimize the query:
https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/dbs/event/blobber.go#L126

Like the one mentioned in the issue: #799

[2022-01-06 10:50] Kishan-Dhakan opened #855 "mn-update-setting with --maxStake fails"
Running `./zwallet mn-update-settings --maxStake 99 --id $id --wallet $walletFile` using the delegate wallet of concerned minerNode fails due to an incorrect conditional check.

The error says 99 > 100:
![image](https://user-images.githubusercontent.com/42718091/148371515-3f0f651a-b11c-4dbc-ac17-ac28a24e1759.png)

[2022-01-06 11:27] Sriep opened #857 "Choose REST API endpoint by genesis event database version"
For backward compatibility, we will need to choose between different endpoints depending on the build history of the chain.

Add a new immutable genesisEventDbVersion to global settings. Initialise this to a hardcoded value during genesis or the first block. Mayne in [miner.main](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/miner/miner/main.go#L47) and [sharder.main](https://gi

[2022-01-06 11:33] Sriep commented on #850
We have the workaround of adding a
[code]
block to the payFees endpoint which is called every round.

[2022-01-06 11:51] Sriep commented on #796
Also consider https://github.com/0chain/0chain/issues/857.  We will want to split the `SmartContractInterface` into a `SmartContractInterface` and a `RestApiInterface`.

[2022-01-06 12:38] #855 closed, assigned to nobody

[2022-01-06 15:31] ssardana96 opened #859 "Create foreign keys in WriteMarker table"
As other tables are created, create foreign keys to [WriteMarkers](https://github.com/0chain/0chain/issues/768) table

Foreign Keys already created:
- BlobberID

Foreign Keys pending:
- Client (User Table)
- AllocationId (allocation Table)
- TransactionId (transaction table)

[2022-01-06 21:36] Kishan-Dhakan opened #860 "More incorrect conditions for maxStake"
Condition checks for max_stake is incorrect for:
- adding a new sharder
- updating sharder node settings
- updating miner node settings

[2022-01-07 00:30] peterlimg opened #862 "Miner panic: minner ranks not computed yet"
This happens on `fix/state-hash-mismatch` branch, but all branches should have the issue.

[code]

Miner tried to compute the ranks when VRF shares reached threshold, however it could return early before it starts the miner ranks computation if it mistakenly thought the round already has the seed.  Check the code below,

[code]

The `r.hasRandomSeed` could be set to `1` in `SetRandomSeedForNotariz

[2022-01-07 00:44] peterlimg commented on #862
I'll send a fix to the `fix/state-hash-mismatch`, there are fix codes were made on top of it.

[2022-01-07 00:48] peterlimg commented on #862
Fixed by 53b3e3c32fcefc1d53309bf5f954a25186b8102f

[2022-01-07 20:50] #432 closed

[2022-01-08 04:54] peterlimg commented on #631
Oh, my mistake, I thought the `UpdateVersion()` would change the node's hash key, but it will not. The encode process does not touch the `version` field, so even we changed the version of a node, the `GetHashBytes()` of a node will still return the same key. So it should be easy to validate the acquired state changes. Let me do a quick fix.

[2022-01-08 05:53] peterlimg commented on #631
The state changes and partial state are actually validated in `ComputeProperties()` when it was decoded in `FromJSON()` function. So we should be fine with the current implementation.

[2022-01-08 05:53] #631 closed, assigned to peterlimg

[2022-01-08 10:48] ssardana08 commented on #778
@Sriep will we need new API to get user details based on ID, or some transaction for this?

[2022-01-08 11:23] #862 closed, assigned to nobody

[2022-01-08 11:34] ssardana96 commented on #778
@Sriep we'll have to make [GetClient](https://github.com/0chain/0chain/blob/c09c99073035d97e8cd6db17db406872ac81e9c0/code/go/0chain.net/chaincore/client/entity.go#L272) to be now read from eventsdb, right?

[2022-01-08 14:06] Sriep commented on #741
# Introduction

Blobbers and their delegates receive rewards,  all rewards are done on the MPT and not distributed to delegate wallets unless they do a payMe transaction, see rewards below. However,
token rewards for writes are instead transferred to a challenge pool. Tokens in
this pool are not made immediately available to the blobber or its delegates,
but they may receive those rewards after pa

[2022-01-09 11:55] Dmdv commented on #842
Attached
https://github.com/0chain/0chain/pull/848

[2022-01-09 22:14] stewartie4 opened #866 "Miscellaneous missing coverage"

[2022-01-10 13:38] #860 closed, assigned to nobody

[2022-01-10 22:45] peterlimg opened #870 "Add adapter to convert the MPT nodes on SC version switching transaction"
When there's no transaction SC data input/output changes, i.e., only the business logic changed, if there are MPT nodes changed or new nodes are added, we can do it in the adapter function when executing the SC version upgrade transaction.

[2022-01-11 19:26] #759 closed, assigned to samtholiya

[2022-01-12 13:17] #768 closed, assigned to ssardana96

[2022-01-12 15:52] ssardana96 opened #878 "Is Nft integration to Allocations table"
Refer #763
`IsNft` property to be added in Allocations table post [PR 620](https://github.com/0chain/0chain/pull/620)

[2022-01-12 16:57] ssardana96 opened #879 "StoraageAllocation dependecy on allocation_pools table"
`allocationTableToStorageAllocation` WritePoolOwners needs to be populated from `allocation_pools` table
[code]

To be done after #760

[2022-01-12 17:10] Sriep opened #880 "Zcnsc: Add Global settings to MPT smart contract"
The [global settings](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/zcnsc/models.go#L27) from zcnsc
[code]
need to kept in the MPT.

We can use the same method as settings for [other smart contracts](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/interestpoolsc/node.go#L16).

[2022-01-12 17:14] Sriep opened #881 "Zcns: Set Authoriser settings smart contract"
We need a new smart contract to set authoriser settings.

Authorises need a new fee field, this is to be less than or equal to the global max_fee setting. We charge the user that fee when they convert zcn-native to zcn-erc and vice versa

This is similar to the [add_blober](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/blobber.go#L174) and [add_miner](htt

[2022-01-12 17:44] Sriep opened #882 "Zcnsc: Authoriser fees"
New authoriser fees setting. `We charge the user that fee when they convert zcn-native to zcn-erc and vice versa.`

[2022-01-13 11:51] Sriep commented on #878
IsNft is depreciated and does not need to be added. https://github.com/0chain/0chain/issues/828

[2022-01-13 11:51] #878 closed, assigned to nobody

[2022-01-13 11:51] Sriep commented on #763
Removed reference to isNft

[2022-01-13 12:41] Sriep commented on #857
1. Choose REST API endpoint by genesis event database version
2. Add a new setting, genesis_eventdb_version to global settings.
3. Do not set from 0cahin.yaml. Instead hard code the version and add that to the MPT global settings during genesis. Probably can add to viper settings now and wait for https://github.com/0chain/0chain/issues/687 to finish the job,
4. If the chain's code gets updated we

[2022-01-13 13:57] ssardana08 commented on #789
@Sriep how will this query work
[code]

The reason I'm asking is as AuthTicket will be a JSON.
There should be a key of Authticket to query on. What would that be?

[code]

[2022-01-13 13:59] ssardana96 commented on #764
@Sriep is `Suspend` key deprecated?

[2022-01-13 14:08] Sriep opened #885 "Event db: Remove panic in GetWriteMarkersHandler"
[GetWriteMarkersHandler](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/handler.go#L257) should checek the event database is present before using to prevent panic
[code]
replace with
[code]

[2022-01-13 14:15] krishnemd commented on #824
@samtholiya the same html data on JSON. You can decide format on your own unless all data are there as of html on JSON its fine.

[2022-01-13 17:07] #885 closed, assigned to nobody

[2022-01-13 20:32] dabasov commented on #841
@MurashovVen I've fixed it, is it actual still?

[2022-01-13 20:46] kushthedude commented on #833
Depends on https://github.com/0chain/0chain/issues/857

[2022-01-13 21:13] dabasov opened #887 "Transaction: chargeable errors"
**Abstract**
Clients should be charged for erroneous transactions. If client's transaction failed with benign error, this transaction should be included in the block and fees should be charged from miner.

**Implementation**
All errors returned by smartcontracts have to be split in two groups: client errors and server errors.
- Client errors. These errors should be included in the block, if fees c

[2022-01-14 09:19] MurashovVen commented on #841
Think it can be closed now

[2022-01-14 09:19] #841 closed, assigned to nobody

[2022-01-14 18:42] ssardana96 commented on #850
@Sriep we verified this with [miner/sharder eventdb PR](https://github.com/0chain/0chain/pull/843) that genesis miners makes call to addMiner API and hence get registered.
Is this ticket about the same ?

If same, I guess then we don't have to do this as it is already happens.

[2022-01-14 20:37] samtholiya opened #890 "Transactions in event database should be searchable with client_id"
https://0chain.slack.com/archives/C02QDMYFQJG/p1642022754110100?thread_ts=1641664353.058800&cid=C02QDMYFQJG

As per @shaktals comment, we need to add more capabilities to the transaction api from event database that will help them to search transactions in the event database by client_id

[2022-01-14 22:28] ssardana96 opened #892 "System Tests failure with changes in allocation events table"
This is discussion/brainstorming forum to put findings and discuss on the reason for system failures.
Issue related: #763
PR related: #867

Failed system test: 36

[2022-01-14 22:36] #851 closed, assigned to samtholiya

[2022-01-14 22:37] ssardana96 commented on #892
Findings:
=======

- curators are stored in Allocation. Hence need to make changes in allocation for the same [curatorTransferAllocation](https://github.com/0chain/0chain/blob/a243f3839064ea91b18d33faea93333eae414fe5/code/go/0chain.net/smartcontract/storagesc/allocation.go#L1547) [removeCurator](https://github.com/0chain/0chain/blob/a243f3839064ea91b18d33faea93333eae414fe5/code/go/0chain.net/smart

[2022-01-14 22:40] ssardana96 commented on #892
Another thing to check on is:
- allocation is linked to `blobbers` table. We will have to check if `blobbers` table is getting updated with all data correctly.

[2022-01-14 22:48] ssardana96 commented on #892
When compared `./zbox get --allocation <allocation_id>` difference between `staging` chain and `feat/allocation_table` chain:
- `feat/allocation_table` chain:
Some of the blobber data like `size`, `min_lock_demand` is coming 0/nil coz of in eventsdb we're ignoring most of [BlobberAllocation](https://github.com/0chain/0chain/blob/a243f3839064ea91b18d33faea93333eae414fe5/code/go/0chain.net/smartcont

[2022-01-14 23:58] shaktals commented on #890
You're missing one search prop from my comment on slack.

[2022-01-15 00:24] samtholiya commented on #792
@Sriep can you please specify what is a total stake?
in the Event database we have the following parameters as of now:
[code]

Am I missing something?
Is this ticket dependent on some other ticket?

[2022-01-15 00:27] samtholiya commented on #792
Also @Sriep can you please confirm
2nd query is for the API to return the latitude and longitude of all the blobbers without any filter?
Also curious if there would be some more parameters to filter this api

[2022-01-15 03:48] dhruv0000 opened #894 "Event DB: Update Stake in Validator table"
Sake fields of the Validator Table in EventDB will need to be updated in [stakePoolLock](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/stakepool.go#L920) and [stakePoolUnlock](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/stakepool.go#L1000) and an event emitted.
Best done in conjunction with #587.

Should be don

[2022-01-15 10:35] kushthedude commented on #850
Following issue is already handled in the sharder PR where we are getting the genesis miner since event the genesis miner uses the `SC_ADD_MINER`.

[2022-01-15 10:35] #850 closed, assigned to kushthedude

[2022-01-15 10:58] #770 closed, assigned to dhruv0000

[2022-01-15 11:16] Sriep commented on #892
Curators covered in https://github.com/0chain/0chain/issues/762, we can combine the two issues.

[2022-01-15 11:37] Sriep commented on #764
I am not convinced `Suspend` is used, but it is there so I added it for completeness.

[2022-01-15 11:43] Sriep commented on #892
[code]
The blobber table should not have changed as a result fo this PR. Events are only emitted for the allocation table from smart contracts, hence nothing should affect the blobbers table.

In `./zbox download` gets the allocation object from the event database, so it seems likely that something the blobber needs is causing a problem.

[2022-01-15 12:59] ssardana96 opened #897 "Foreign Keys to ReadMarker table"
| Event db ReadMarker | type   | ReadMarker   | type      | notes                              |
|---------------------|--------|--------------|-----------|------------------------------------|
| Client              | uint   | ClinetId     | string    | foreign key into user table        |
| AllocationId        | uint   | AllocationId | string    | foreign key into allocation table  |
| OwnerId

[2022-01-15 13:05] ssardana96 opened #898 "ReadMarker backward compatible API /latestreadmarker"
Once #857 is done we should add an API for readLatestMarker to be read from `readmarkers` table
dependent on #895

[2022-01-15 18:43] amanjain97 commented on #762
@Sriep AllocationID is actually `string` type in CuratorInput struct in storagesc. Throughout the smartcontract package, it is used as `string`. Shall we change it to string ?

[2022-01-15 21:15] ssardana96 opened #900 "WriteMarkers to substitute commit metadata"
- given a file name we should be able to get list of all WriteMarkers
- this needs to bring in a logic of storing filename with all writemarkers

As filename is a string which can change, I would not recommend to store as a field, but rather have a separate table with list of all filenames filenames linked at all places with an id.

dependency on https://github.com/0chain/blobber/issues/467
Slack

[2022-01-15 21:23] samtholiya opened #901 "Eventdb Transaction should be searchable using metadata"
https://0chain.slack.com/archives/C02QDMYFQJG/p1642022754110100?thread_ts=1641664353.058800&cid=C02QDMYFQJG

Transaction by hash is already present
ClientID is supposed to be done by ticket https://github.com/0chain/0chain/issues/890

With this, we expect transaction to be searchable - queried by filename

[2022-01-16 03:45] krishnemd commented on #898
@ssardana08 we also need similar for the write_marker. If its already there then please inform it here otherwise please raise a new issue.

[2022-01-16 03:49] ssardana96 commented on #898
@chauchausoup what's the writemarker API you are looking for, can you share in detail. And where will it be used?

[2022-01-16 13:51] #764 closed, assigned to ssardana96

[2022-01-16 13:51] #789 closed, assigned to ssardana96

[2022-01-16 17:39] krishnemd commented on #898
@ssardana08 so just like the /latestreadmarker,  we need a /latestwritemarker to know the value in explorer app "_Last time an allocation was written/read from._" .

[2022-01-16 20:27] Dmdv commented on #777
Blocked because delegates needs reworks

[2022-01-17 03:56] peterlimg opened #902 "Add new message protocol to report new versions"
While processing the blockchain upgrade capacity, I found that instead of using the health_check transaction to report the new versions, we should use a new protocol message to report the versions actually. This is because health check is a transaction, which is intended to change the state in MPT. However, the versions report process does not touch the MPT at all. Of course we can save all the re

[2022-01-17 09:29] krishnemd opened #903 "Total value locked."
UI requires the given values for 0chain in general rather than any specific MSB. And as per the requirement here is how total value locked is calculated.

`Total Value Locked:  (Total Staked ZCN (Includes delegated + staked on blobber)) + Total Locked ZCN) * ZCN Price`

With reference to the requirement above we need three API endpoints to get:

1) Total Staked ZCN ( including delegated pool)
2) T

[2022-01-17 11:02] krishnemd opened #904 "Read Write data in realtime for each blobber."
UI requires to show the read write action in realtime in a map.

Do /latestReadMarker and /latestWriteMarker when implemented be able to contribute to the requirement of read write data count for each blobber ?
If so then we need to publish the /latestReadMarker, /latestwriteMarker and the required party will subscribe to it ?

[2022-01-17 12:40] Sriep opened #905 "Config settings summary"
# Settings

An 0chain has a variety of different settings, and setting tyes. We are at the moment in the process of reorganising them into groups.

A setting belongs either to a provider, one of (miner, sharder, blobber, validator, authorizer) or a smart contract, one of (fauset, inerestpool, miner, multisig, storage, vesting, zcn).

Settings can be further split into three types

#### Genesis

Th

[2022-01-17 13:31] Sriep opened #906 "Transaction to modify exempt transactions"
# Exempt from transaction fee

The following hardcoded list of transactions are exempt from transaction fee.
- add_miner
- miner_health_check
- add_sharder
- sharder_health_check
- contributeMpk
- sharder_keep
- shareSignsOrShares
- wait

# Change exempt transaction

We will be adding a new transaction that will modify the list of exempt transitions. We need the following changes.

1. Create an en

[2022-01-17 14:47] Sriep opened #907 "Stake pools overview"
# Stake pools

Each provider (miner, sharder, blobber, validator, authoriser) has a collection of stake pools. A stake pool is a number of tokens that a delegate has locked in association with the provider. That user will receive a portion of the rewards given to the provider and be subject to any penalties imposed on the provider.

As a rule, rewards and penalties for a given stake pool are paid

[2022-01-17 16:38] Sriep commented on #538
closed replaced by https://github.com/0chain/0chain/pull/620

[2022-01-17 16:38] #538 closed, assigned to Sriep

[2022-01-17 17:53] Sriep opened #909 "New allocation request"
# Allocation

This represents a commitment to store data for a user. This is passed on to a set of blobbers who will save user data when requested, and allow access to view that data.

## New allocation

The `new_allocation_request` endpoint creates an allocation. The following parameters are used to define the transaction.

| Parameter                     	| Description

[2022-01-17 18:39] Sriep opened #910 "New mints table in the event databse"
A new mint database table. For each block, this will hold the total number of tokens minted during that block.

Each time tokens are [minted](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/chaincore/chain/state/state_context.go#L145) emit an event. Total up the `mint events` each block and add a row to the mint table.

We might expand this later.

We will also want an endpoint to

[2022-01-17 18:59] shaktals opened #911 "Custom icon and website link on blobbers/miners/sharders config, and ability for clients to read it"
As per demand of the new `block-explorer` being built, we need to add new props/fields on MSBs configs, that will be used for URLs of:

- custom icon
- website link

Then we need the ability to read those props when fetching MSBs details on clients.

[2022-01-17 19:00] shaktals commented on #911
ping @moldis

[2022-01-17 19:20] Sriep opened #912 "New reward table for event database"
New reward table for event database. This will contain the tokens minted in `pay_me` transactions.

We will want the
- block number
- user wallet id
- pool id
- amount

Emit an event during `pay_me` transactions with the details.

We want a REST API endpoint that will give the sum of pay_me transaction payments for a range of block numbers.

This issue is blocked by [Stake holder rewards pools and

[2022-01-17 20:27] #792 closed, assigned to samtholiya

[2022-01-17 20:36] #758 closed, assigned to amanjain97

[2022-01-17 22:39] samtholiya commented on #910
@Sriep
1. What do you mean by `the total number of tokens minted during that block` Which location exactly. There are multiple places we are adding mint. How to identify
2. What do you mean by `total up the mint events and then adding them to the mint table` which mint belong to the same group to be total?
3. I guess the answers to the above two questions should also answer holds the answer to ` t

[2022-01-18 06:57] cnlangzi opened #914 "add https option on blobber register sc"
it is related to https://github.com/0chain/blobber/pull/500

[2022-01-18 11:56] ssardana96 opened #915 "Existing miner sharder API : EventsDb"
The Miner and Sharder tables can be used to provide data for the [/getMinerList](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/minersc/handler.go#L81) and [getSharderList](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/minersc/handler.go#L91) and [nodeStat](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontrac

[2022-01-18 14:48] Sriep opened #917 "Remove panic in GetValidatorHandler"
[GetValidatorHandler](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/handler.go#L409) should checek the event database is present before using to prevent panic.

See also https://github.com/0chain/0chain/issues/885

[2022-01-18 15:42] MurashovVen opened #918 "Conductor: Attack BlockStateChangeRequestor: no replies"
// Attack BlockStateChangeRequestor: no replies
Replica0: Ignore all VerifyBlock messages on round_n
Requested nodes: ignores all block state change requests from Replica0
Check: Replica0 must retry requesting.

[2022-01-18 15:52] Sriep commented on #890
I think we should leave `GetTransactionByHashHandler` unchanged and add a new endpoint `GetTransactionByClientIdHandler`.

The two endpoints seem too different to combine. For example, their return types are different, one returns a transaction and the other a list of transactions.

[2022-01-18 16:24] krishnemd opened #920 "Miner icon."
Atlus explorer requires to show an icon for the miner. So during miner registration we also require to keep the icon of a miner. Is [minersc getNodePool](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/minersc/sc.go#L94) is the correct place to get it from by the explorer once it's available ?

[2022-01-18 16:48] krishnemd opened #921 "Blobber info to be added on /getblobber"
UI do have a provision to show the following blobber related information on the individual blobber page which I guess is not present at the moment.

1) Blobber Logo Image
2) Blobber Name
3) Blobber description (300 chars)

4) **_Blobber Commission_**: Question is that, how do we calculate the blobber comission and what are the metrics under which the comission is assigned to a blobber.

5) **_No o

[2022-01-18 17:01] krishnemd commented on #920
Similar issue raised here: https://github.com/0chain/0chain/issues/911

[2022-01-18 17:01] #920 closed, assigned to nobody

[2022-01-18 17:36] #917 closed, assigned to nobody

[2022-01-18 18:22] krishnemd opened #922 "How much data is stored on the network ?"
UI requires the amount of data stored on the network.  If there is some sort of general info page of a given network then lets add this filed in there or if we have to create it from scratch then we may add similar other fields like total ZCN staked on the network, [total value locked on network](https://github.com/0chain/0chain/issues/903), no of MSB on the network, uptime of the network etc.

[2022-01-18 21:36] samtholiya opened #923 "Create a dev script to bring up the entire 0chain"
Whenever we do a clean deploy it takes a lot of time to edit files fire commands using the documentation.

The scope of this script is currently limited to the dev env and that is why we do not consider the scenarios such as

initial requirements are not installed
network configuration required in macOS and windows are not required to be set

This script should be downloaded and executed as simple

[2022-01-19 13:03] ssardana96 commented on #898
got it @chauchausoup
currently we don't have an API `/latestwritemarker`
I'll raise a new issue

[2022-01-19 13:05] ssardana96 opened #925 "Add new API latestwritemarker"
`/latestwritemarker` to know the value in explorer app "Last time an allocation was written/read from."
Add it as a RestHandller in [SmartContract](https://github.com/0chain/0chain/blob/9c78b97165efa9fc7ee415dcf04fca4d2e8cc03e/code/go/0chain.net/smartcontract/storagesc/sc.go#L48)

[2022-01-19 13:19] Sriep commented on #784
this is a repeat of https://github.com/0chain/0chain/issues/842

[2022-01-19 13:19] #784 closed, assigned to dhruv0000

[2022-01-19 13:20] Sriep commented on #842
Closed https://github.com/0chain/0chain/issues/784 which is a repeat of this.

[2022-01-19 17:08] Sriep opened #926 "Swagger documentation"
We wish to provide documentation of the new REST API endpoints.

We now plan to use swagger to provide in-code documentation. Set up the initial OpenAPI/swagger framework.

A problem here is that swagger is mainly `Design first`, and we have inherited a `code first` code base. So there is will be some pain in setting up the initial documentation. We don't necessarily need to complete all the docum

[2022-01-20 11:00] Sriep commented on #910
During a block [StateContextI.AddMint](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/chaincore/chain/state/state_context.go#L145) will be called some number of times. We wish to total the amount of these [mint's amount field](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/chaincore/state/mint.go#L15)  and save that total to the event database.

It might be easi

[2022-01-20 14:52] #790 closed, assigned to ssardana96

[2022-01-20 15:00] Sriep commented on #898
It should be the first ReadMarker returned when ordered by decreasing row timestamp.

[2022-01-20 15:02] Sriep commented on #925
I assume we can use the first WriteMarker returned when ordered by decreasing row timestamp. I think we want the same for ReadMarkers as well.

[2022-01-20 15:07] Sriep commented on #760
We need to remember the initial value of an allocation pool.
 Add a `StatBalance` field to the allocationPool table.

Send the `StatBalance` along as the pool's balance when a pool is first created. After this first update the `StatBalance` pool is immuatable.

[2022-01-20 15:16] cnlangzi commented on #914
fixed on https://github.com/0chain/blobber/pull/510

[2022-01-20 15:16] #914 closed, assigned to cnlangzi

[2022-01-20 15:52] Sriep opened #928 "Add validator, validator id should match existing blobber id"
We need to add a check inside [add_validator](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/validator.go#L30) to ensure the validator's id matches that of a registered blobber.

[2022-01-20 17:33] ssardana96 opened #929 "Eventdb allocation - curator mapping"
[Curators](https://github.com/0chain/0chain/blob/b70155c80d54f5df4ef4eb9bb0552d9d7bdf574a/code/go/0chain.net/smartcontract/storagesc/models.go#L601) in allocation struct should not be stored in allocation table, which is happening #867

This field in `allocationTableToStorageAllocation` should be populated by curator table https://github.com/0chain/0chain/issues/762
remove curators from `storageAl

[2022-01-20 18:43] ssardana96 commented on #892
@Sriep - blobber table is not changed because of this.
But I guess blobber table needs to be updated at few places where it's not happening:
like [addBlobbersOffers](https://github.com/0chain/0chain/blob/b70155c80d54f5df4ef4eb9bb0552d9d7bdf574a/code/go/0chain.net/smartcontract/storagesc/allocation.go#L214)

[2022-01-20 18:46] ssardana96 commented on #892
@Sriep and there are few stats related to allocation per blobber too which we'll have to add in allocation table.
as that data won't be present anywhere

[2022-01-20 19:23] Sriep commented on #892
For allocation per blobber, we increment a field in the blobber in new allocation request. Should probably consider https://github.com/0chain/0chain/pull/684 a blocker for this.
.

[2022-01-20 22:23] samtholiya commented on #910
Took some time but What if the sequence is :
Block A added a mint
Block B added a mint
Block A added a mint
Block B added a mint
Block A added a mint
Block B added a mint

In the case above we might have to calculate multiple times the previous mint total and next mint total
I would say calculating total while reading is much effective in terms of I/O and extra compute

[2022-01-21 07:07] MurashovVen opened #931 "Conductor: Attack BlockStateChangeRequestor: only one node replies correctly"
// Attack BlockStateChangeRequestor: only one node replies correctly
Replica0: Ignore all VerifyBlock messages on round_n
Requested nodes: ignores all block state change requests from Replica0, but only one replies correctly
Check: Replica0 must retry requesting.

[2022-01-21 13:17] Sriep commented on #771
We should add an endpoint to get error from the transaction hsh.

[2022-01-21 14:14] Sriep commented on #910
All the events for block `N` are all handled before any of the events for block `N+1`. Hence the scenario I think you are suggesting can't happen. https://github.com/0chain/0chain/issues/757

If blocks are handled out of order that is a bug that has to be fixed elsewhere.

[2022-01-21 15:27] ssardana96 opened #933 "Blocker on UserTable"
to mark UserTable: Eventdb #778 to completion, we need to figure out how to emit event from:
- [PutClient](https://github.com/0chain/0chain/blob/6af8438d63636e08e1dd19f41ccc4143c4fd4a3b/code/go/0chain.net/chaincore/client/entity.go#L291)
- [GetClient](https://github.com/0chain/0chain/blob/6af8438d63636e08e1dd19f41ccc4143c4fd4a3b/code/go/0chain.net/chaincore/client/entity.go#L272)

reference PR: #8

[2022-01-21 15:31] Sriep opened #934 "Free storage restriction."
Currently, each free storage assigner has a limit on the total free storage they can assign.

We wish to put a limit on the amount of free storage that can be given to free storage assigners.

Each year we have a maximum amount of free storage that can be given out. Each time an [add_free_storage_assigner](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/sc.

[2022-01-21 17:29] ssardana96 commented on #933
@Sriep this table is simple to add once the blocker is removed.

[2022-01-22 18:46] #842 closed, assigned to Dmdv, dhruv0000

[2022-01-22 20:52] #923 closed, assigned to nobody

[2022-01-23 11:57] Sriep opened #938 "Description field for providers."
Providers should have a description field.

1. Add a new Description field to the `.yaml` settings for miner, sharder, blobber, validator and provider.
2. Add to a new `description` field to the input to `add_miner`, `add_sharder`, `add_blober`, `add_validator` and `add_authoriser`. For miners and blobbers we can rename the existing `short_name` field.
3. Also add the `description` field in two to

[2022-01-25 00:51] peterlimg opened #941 "Should we add the protocol packages with versions?"
Or maybe we can just keep the current code organization and add version number to all protocol messages.

Three basic **rules** for protocol versions:

1. **Node should maintain one version backword, before the new version meet consensus, use previous version in network. So basically each node need to maintain 2 versions of protocol.**
2. **Any received messages that is more than one version older

[2022-01-25 00:54] peterlimg opened #942 "2 protocol versions on network"
We need to have two protocol versions running on the network, this is because when we switch from one version to a new version, the consensus version would not be updated locally before the transaction for switching is finalized. So if we only allow one protocol version, the chain will get stuck.

Imagine that threshold of nodes has finalized the transaction, they will then only accept requests wi

[2022-01-25 04:45] peterlimg opened #943 "Buckets concept proposal for optimizing the performance issue of large `list` in MPT"
We will have performance issue if the nodes number is large. Currently we save all the miners node info saved in a simple MPT node on path `allMinersList`, so each time when we need to update a node's info, we will have to decode the full nodes list, then update the node info,  encode the full node list and save it back to MPT. The process would be a disaster when the nodes number is huge.

So wha

[2022-01-25 04:45] peterlimg opened #944 "We may still need to store versions into MPT"
Issues of not records reported versions in MPT is that it is not backwards compatible. We may still need to records the consensus versions in MPT so that when we re-run the transactions, we can get the voted versions from MPT to check if the version do meet the consensu. So once we store the versions into MPT, we will have performance issue like the `getAllMinersList` . Imagine each time a miner r

[2022-01-25 10:32] Sriep opened #946 "Remove interest from miners and sharders"
We are reward miners with to block rewards, not interest.

Remove the interest rate from miners and sharders.

Remove [inerestst rate](https://github.com/0chain/0chain/blob/staging/docker.local/config/sc.yaml#L39) and interest decline rate from sc.yaml and settings.
Remove code that uses the values to calculate amount.
Remove code that returns interest related data.

This is a split of https://git

[2022-01-25 12:14] shaktals commented on #797
@Kishan-Dhakan has confirmed on [slack](https://0chain.slack.com/archives/G01FYNN6DK4/p1643095905125400?thread_ts=1643046219.123200&cid=G01FYNN6DK4) that the `free` prop is actually given in bytes, so the explorer flow is already correct and we can close this.

[2022-01-25 12:14] #797 closed, assigned to nobody

[2022-01-25 16:23] #675 closed, assigned to ssardana96

[2022-01-25 18:17] #735 closed, assigned to kushthedude

[2022-01-26 07:35] moldis opened #949 "Collect verification when missed VRF phase and don't have RRS"
/ Collect verification when missed VRF phase and don't have RRS
(T0) Replica_i: send Verification0_i
(T0 + δ) Replica_0(missed VRF): collect Verification0_i, notarize

[2022-01-26 11:11] #890 closed, assigned to samtholiya

[2022-01-26 11:17] MurashovVen opened #950 "Conductor: attack BlockStateChangeRequestor: implement test cases."
1. Attack BlockStateChangeRequestor: one node sends state change with changed MPT node.
[code]

2. Attack BlockStateChangeRequestor: one node sends state change with deleted MPT node
[code]

3. Attack BlockStateChangeRequestor: one node sends state change with added MPT node
[code]
4. Attack BlockStateChangeRequestor: one node sends partial state from another block
[code]

[2022-01-26 14:32] Sriep commented on #774
See also https://github.com/0chain/0chain/issues/907

[2022-01-26 15:39] #946 closed, assigned to ssardana96

[2022-01-26 15:40] #767 closed, assigned to dabasov

[2022-01-26 18:27] amanjain97 opened #952 "Use allocation id as foreign key to allocations in curator table"
https://github.com/0chain/0chain/pull/899#discussion_r790730118_

[2022-01-26 20:37] kushthedude commented on #952
@amanjain97 Do you think we can handle this as part of #929?

[2022-01-26 21:24] #762 closed, assigned to amanjain97

[2022-01-28 07:11] MurashovVen opened #953 "Conductor: attack MinerNotarisedBlockRequestor: implement test cases."
1. All nodes ignore requests
[code]

2. Only one response correctly
[code]

3. One node sends valid block (with changed hash)
[code]

4. One node sends invalid block (with changed hash)

[code]

5. One node sends block without verification tickets

[code]

[2022-01-28 07:37] moldis commented on #700
Not required anymore

[2022-01-28 07:37] #700 closed, assigned to nobody

[2022-01-28 07:37] moldis commented on #702
Not required anymore

[2022-01-28 07:37] #702 closed, assigned to nobody

[2022-01-28 07:38] moldis commented on #703
Dublicated

[2022-01-28 07:38] #703 closed, assigned to nobody

[2022-01-28 07:42] moldis commented on #711
Not required anymore

[2022-01-28 07:42] #711 closed, assigned to nobody

[2022-01-28 09:44] Sriep commented on #814
These changes should enable stake pool tests for https://github.com/0chain/0chain/pull/854: https://github.com/0chain/system_test/issues/172.

[2022-01-28 17:50] iamrz1 commented on #929
Right, table `curators` with allocation_id as the `foreign_key` to look them up.

[2022-01-29 11:25] Sriep commented on #832
repeat of https://github.com/0chain/0chain/issues/831

[2022-01-29 11:25] #832 closed, assigned to nobody

[2022-01-29 12:15] Sriep commented on #753
Related issue https://github.com/0chain/0chain/issues/831

[2022-01-29 12:35] Sriep commented on #814
The table needs to represent the following data structure.

There might be further changes add during issue 774. The smart contract changes to emit events to populate this table need to be added as part of issue 774.
[code]

[2022-01-29 20:54] #887 closed, assigned to dabasov

[2022-01-30 11:54] Sriep commented on #753
The pay_blobber_block_rewards endpoint can be removed.

[2022-01-30 15:20] dabasov opened #956 "Node value caching layer for smart contracts"
To avoid multiple node serializations/deserializations caching layer should be added to the MPT.
- wrap MerklePatriciaTrieI with write/read through cache layer and use it for a block scope, the same scope as bState MPT object
- every time SC wants to get node from MPT it gets it from the cache if missed go to MPT, to write, it simply puts it to cache
- when block is computed, cached objects are se

[2022-01-30 20:36] Dmdv commented on #881
1. Get/Set global settings for zcnsc
2. Update authorizers settings fee <= max_fee

[2022-01-31 12:45] Sriep commented on #829
We also want only miners with delegates to receive rewards.

[2022-01-31 19:41] #771 closed, assigned to samtholiya

[2022-02-02 13:12] Sriep commented on #734
Further changes

Initial state at block 0 -

Local config -

all miners, sharders -
1k tokens per delegate minimum;
100k tokens per delegate maximum;
max_num of_delegates - 1 (private active set) or 100 (public);

all authorizers -
1k tokens minimum per delegate,
100k tokens maximum per delegate;
max_num of_delegates - 100

all blobbers -
10TB (some data storage) x write price in token/TB for 3 ye

[2022-02-02 13:15] Sriep commented on #829
No rewards or payments are given to miner, sharder, blobber, validator or authorizer, if min stake is not satisfied.

[2022-02-02 13:20] #577 closed, assigned to nobody

[2022-02-02 19:08] Sriep commented on #753
# Periods and Weight calculation

The weight calculation is based on data collected in the previous period. This held in the new block_reward_challenge_period smart contract setting.

 So if a period is 250 rounds. Then no rewards are given for the first 250 rounds, consider rewards as being paid in arrears.

For example on round 7547, rewards weights will be calculated for data collected on round

[2022-02-03 07:27] MurashovVen opened #965 "Conductor: attack StateNodesRequestor: implement test cases."
1. All nodes ignores request
[code]

2. One node correctly responses
[code]

3. One node correctly responses
[code]

4. One node correctly responses
[code]

[2022-02-03 09:07] moldis opened #966 "Unit-tests for Redis caching"
Following this ticket https://github.com/0chain/0chain/issues/739

In the new branch, there are tests for Redis calls only (instead of BoldDB), need to add unit-tests for upper functions to fully cover functionality

[2022-02-04 07:20] MurashovVen opened #971 "Conductor: attack FBRequestor: implement test cases"
1. All nodes ignore requests
[code]

2. Only one response correctly
[code]

3. One node sends valid block (with changed hash)
[code]

4. One node sends invalid block (with changed hash)

[code]

5. One node sends block without verification tickets

[code]

[2022-02-05 10:52] #724 closed, assigned to nobody

[2022-02-05 10:52] #722 closed, assigned to nobody

[2022-02-05 10:53] #721 closed, assigned to nobody

[2022-02-05 10:53] #717 closed, assigned to nobody

[2022-02-05 10:53] #725 closed, assigned to nobody

[2022-02-05 10:53] #723 closed, assigned to nobody

[2022-02-05 14:28] Dmdv commented on #881
`global zcnsc settings` ready in https://github.com/0chain/0chain/pull/957

[2022-02-05 14:37] dabasov opened #974 "Transaction: cost"
## Abstract
Block execution time can vary significantly depending on amount and type of transactions included into it. Currently block size is limited by amount of transactions and byte size but verification timeout is not estimated and limited. Different functions of smart contracts require different amount of CPU time for execution. The amount of operations, such as  MPT access, computation of c

[2022-02-06 08:09] ssardana96 commented on #925
@Sriep I was thinking that we should plan some API like - have skip, sort, limit in API so that we can fetch any writemarker
and always send `total_markers` so that UI/client will always knows the possible values it can have. (cc: @samtholiya )

[2022-02-06 11:15] ssardana96 commented on #925
@chauchausoup @shaktals what are your thoughts on this:
do we need an API very specific to latestwritemarker?
or I was thinking to design an API generic like /writemarker where we can have params
Latest WM can then be achieved by /writemarker?sort=-1&limi=1&skip=0

[2022-02-07 18:24] shaktals commented on #925
We don't have a hard demand for a specific endpoint to retrieve the latest WriteMarker.

On the other hand, as @Sriep mentioned if we can just order the results by timestamp, and have sort of pagination, it should be enough for us.

[2022-02-08 05:44] chauchausoup commented on #925
The demand is of :
`Last time an allocation was written/read from.`
I think the pagination method will let us achieve it.

[2022-02-08 05:44] krishnemd commented on #925
The demand is of :
`Last time an allocation was written/read from.`
I think the pagination method will let us achieve it.

[2022-02-08 07:08] moldis opened #978 "PartialStateRequestor"

[2022-02-08 07:08] moldis opened #979 "StateNodesRequestor"

[2022-02-08 07:08] moldis opened #980 "LatestFinalizedMagicBlockRequestor"

[2022-02-08 07:09] moldis opened #981 "FBRequestor"

[2022-02-08 07:09] moldis opened #982 "DKGShareSender"

[2022-02-08 07:09] moldis opened #983 "ChainStartSender"

[2022-02-08 07:10] moldis opened #984 "MinerLatestFinalizedBlockRequestor"

[2022-02-08 07:10] moldis opened #985 "RoundRequestor"

[2022-02-08 07:10] moldis opened #986 "BlockRequestor"

[2022-02-08 07:10] moldis opened #987 "BlockSummaryRequestor"

[2022-02-08 07:11] moldis opened #988 "RoundSummariesRequestor"

[2022-02-08 07:11] moldis opened #989 "BlockSummariesRequestor"

[2022-02-09 15:15] Sriep opened #993 "Send events to event database when we complete block stake"
https://0chain.slack.com/archives/C01GMABG2T1/p1644361635068779?thread_ts=1644296899.482209&cid=C01GMABG2T1

We should not execute insert events to db transaction when we compute block state (we can collect the events instead, like what we do for the MPT state). We should only do the db insert action when this block is finalized, otherwise we will see this error when two blocks for the same round

[2022-02-10 18:47] Sriep commented on #753
# Total amount of data (TB) stored with the Blobber

Add a new field to the StorageNode object. This value is to be updated during [commit_connection](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/blobber.go#L564) calls.

Increment the new total data stored field by the value of [WriteMarker.Size](https://github.com/0chain/0chain/blob/staging/code/go/0cha

[2022-02-11 08:23] mohsenno1 commented on #753
Why write price should be included in this calculation? This means the blobbers with higher write price are more likely to be rewarded. Shouldn't this be vice versa? Do we want to motivate blobbers for increasing the write price?

[2022-02-11 11:20] peterlimg opened #994 "Fix linter errors so new commits can be checked correctly"
When linter errors and warnings count is less than 281, we will pass the linter check, this basically makes the linter unable to function. So we need to fix the lint errors as soon as possible so that all new commits could be checked by the linter.

[2022-02-11 19:05] ssardana96 commented on #753
@mohsenno1 please ignore the weight logic above. It's not updated yet.
the calculations are under revision currently.

[2022-02-11 23:57] peterlimg commented on #739
The boltDB is not being used actually, or do we have any plan to use it?

[2022-02-12 22:30] Dmdv commented on #880
Completed in this PR https://github.com/0chain/0chain/pull/957

[2022-02-12 22:32] Dmdv commented on #882
https://github.com/0chain/0chain/pull/957

[2022-02-13 03:05] peterlimg commented on #741
Hi @Sriep,  it seems like the weight of blobber is not a must for randomly select the blobbers, unless we will use the weight some where else, we'd better avoid the weight calculation here.

[2022-02-13 09:54] Sriep commented on #741
We want the blobbers in the partition to have non zero weight. Otherwise, we have to start worrying about the density of blobbers with non zero weight.

However other than checking zero multipliers, the actual calculation only needs to be done during `generate_challenges`. Depending on implementation convenience we might consider precalculating some values before `generate_challenges`.

`generate_

[2022-02-14 02:19] princeparmar opened #997 "updateallocation: invalid size validation is not added"
UPDATEALLOCATION:
It just let me decrease allocation size BELOW the amount stored in the allocation. Also it let me do it with --lock 0
https://0chain.slack.com/archives/GREHVKQKS/p1644556772275659?thread_ts=1644426678.837979&cid=GREHVKQKS

Add validation that allocation size cannot be updated to less than amount stored in allocation
Add --lock 0 validation

[2022-02-14 07:25] dabasov commented on #625
resolved

[2022-02-14 07:25] #625 closed, assigned to nobody

[2022-02-14 07:26] dabasov commented on #627
resolved

[2022-02-14 07:26] #627 closed, assigned to nobody

[2022-02-14 07:26] dabasov commented on #628
resolved

[2022-02-14 07:26] #628 closed, assigned to nobody

[2022-02-14 07:27] dabasov commented on #630
resolved

[2022-02-14 07:27] #630 closed, assigned to nobody

[2022-02-14 07:28] dabasov commented on #677
resolved

[2022-02-14 07:28] #677 closed, assigned to nobody

[2022-02-14 10:54] shaktals commented on #592
@Sriep will this be handled in #909? Should we close this?

[2022-02-14 10:55] shaktals commented on #592
@moldis are you still involved on this?

[2022-02-14 11:17] shaktals commented on #911
ping @Sriep

[2022-02-14 14:21] #925 closed, assigned to samtholiya

[2022-02-14 15:38] MurashovVen opened #998 "Conductor: fix start_lock && unlock directives"
The conductor's lock/unlock mechanism does not work properly: when a miner is locked it only stops registering miner's wallet.
Need to fix it.

[2022-02-14 17:04] #822 closed, assigned to nobody

[2022-02-14 20:28] #929 closed, assigned to iamrz1

[2022-02-14 22:34] peterlimg commented on #656
I don't see this issue recently, so close it. Re-open if we see this in the future.

[2022-02-14 22:34] #656 closed, assigned to nobody

[2022-02-15 02:17] cnlangzi opened #999 "add validation for size and lock on newallocation and updateallocation"
- Add validation that allocation size cannot be updated to less than amount stored in allocation
- Add --lock 0 validation

related links
- zbox: https://github.com/0chain/zboxcli/pull/172
- gosdk: https://github.com/0chain/gosdk/pull/375
- 0chain: https://github.com/0chain/0chain/issues/999

[2022-02-16 05:49] peterlimg opened #1002 "Remove or optimize `chain.stateMutex`"
https://0chain.slack.com/archives/C01V27E2Z9N/p1643292284000600

@dabasov :

there were a lot of kick sharder (it was caused due to restart I think) messages sent and sharder started to push tasks for round finalizations to 302441, after several manipulations finally block 302437 was sent for finalizing. Finalizing went well, until it stuck on rebaseState. It was caused by lock on chain.stateMutex

[2022-02-16 05:53] peterlimg opened #1003 "Replace json with msgpack for MPT nodes"

[2022-02-16 10:12] Sriep commented on #922
Also https://github.com/0chain/0chain/issues/787

[2022-02-16 10:13] Sriep commented on #787
Also lok at issues https://github.com/0chain/0chain/issues/922 and https://github.com/0chain/0chain/issues/903

[2022-02-16 10:14] Sriep commented on #921
https://github.com/0chain/blobber/issues/514 is a blobber issue that this depends on.

[2022-02-16 10:17] Sriep commented on #938
Repeat of https://github.com/0chain/0chain/issues/921

[2022-02-16 10:36] Sriep commented on #824
We should convert all REST API endpoints to return in JSON format. However, that will require changes to zbox, zwallet and system tests.

[2022-02-16 10:48] krishnemd commented on #922
Closing this in favour of https://github.com/0chain/0chain/issues/787

[2022-02-16 10:48] #922 closed, assigned to Sriep

[2022-02-17 11:53] #787 closed, assigned to amanjain97

[2022-02-17 20:30] dabasov commented on #974
### Implementation
**Constants**
Cost for every smart contract func is given in sc.yaml file. as a string:int map. Here is the example for faucet
[code]
In 0chain.yaml max cost for a block is given: `serverchain.block.max_block_cost: 10000`
Owner of the smart contract should be able to updated the costs of funcs, currently it is not implemented yet.

**Block generation**
When transactions are pick

[2022-02-18 11:53] #815 closed, assigned to ssardana96

[2022-02-18 18:59] #928 closed, assigned to ssardana96

[2022-02-19 09:10] #799 closed, assigned to samtholiya

[2022-02-19 17:09] #774 closed, assigned to nobody

[2022-02-19 17:15] Sriep opened #1011 "Set challenge's validator number from settings"
Add a new setting  sc.yaml.storagesc.validators_per_challange.

In [addChallenge](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/challenge.go#L710) replace the number of validators from`alloc.DataShards` to the new setting `.validators_per_challange`.

We should also validate the partition size to be at least validators_per_challange.

[2022-02-20 11:45] Sriep opened #1014 "verifyChallenge, shuffle blobber partitions."
In [verifyChallenge](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/challenge.go#L319) we want to randomly shuffle the blobber between partitions. This is for both the block reards and challenge partitions.

Will need to add to [RandPartition](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/partitions/partition.go#L43) the ab

[2022-02-20 20:03] Kishan-Dhakan opened #1016 "[FEATURE] Provide fee for transactions"
Remove occurrences of hardcoded zeroes and replace with `min_fee`.

E.g.:
[code]
[code]
etc.

See:
- https://github.com/0chain/zwalletcli/issues/85
- https://0chain.slack.com/archives/G01FYNN6DK4/p1645097379703449

[2022-02-21 15:45] ssardana96 opened #1018 "cooldown period for blobber"
same as #827
Update settings from 0chain modules should have a cooldown to prevent DdOS attacks.

1. For smart contract key add a new cooldown setting to`sc.yaml`  storagesc.txn_cooldwon. Units number of rounds.
2. Add an extra `int64` LastSettingUpdate field  to [StorageNode](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/models.go#L304)
3.  Add an extra

[2022-02-21 15:47] ssardana96 opened #1019 "Cooldown period for validator and authoriser"
Same as #827

1. The same to be added for validators and authorised when `update_autoriser` https://github.com/0chain/0chain/issues/881 and `update_validator_settings` https://github.com/0chain/0chain/issues/773 are added.

[2022-02-21 15:48] ssardana96 commented on #827
In this PR we'll be only doing miner and sharder
Created new issues for blobber & validator, authoriser

[2022-02-21 17:51] Sriep opened #1020 "Delete provider plus blacklist"
We need to be able to delete any provider ([miner](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/minersc/miner.go#L138), [sharder](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/minersc/sharder.go#L158), blobber, validator or [athoriser](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/zcnsc/authorizer.g

[2022-02-22 19:59] #906 closed, assigned to ssardana96

[2022-02-22 23:06] shaktals opened #1022 "Calling miners v1/client/put + random string returns miner basic JSON data (should error)"
Playing around with the API to properly handle errors, I got the following:

![Selection_376](https://user-images.githubusercontent.com/24679343/155234584-c3ce0116-5525-4b59-bfe9-4f6c9d704849.png)

[2022-02-23 01:50] #480 closed

[2022-02-23 15:21] Sriep commented on #857
We don't need this prior to mainnet. So this does not block any pre mainnet event database issues anymore.

[2022-02-23 20:47] #824 closed, assigned to samtholiya

[2022-02-24 07:11] MurashovVen opened #1027 "Conductor: missing LFB tickets"
Implement test case:

[code]

[2022-02-25 14:33] ssardana96 opened #1029 "Move from global config to MPT based Config"
The following settings are to be kept in the MPT. They need a `update_global_settings` transaction to change.

The indicated settings [following global settings](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/minersc/globals.go#L26). These are either stored in the [global development object](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/chaincore/

[2022-02-25 14:34] ssardana96 commented on #776
In this issue we'll be doing `min_txt_fee`. The other global changes will have a bigger impact, separated in #1029

[2022-02-25 14:35] #776 closed, assigned to ssardana96

[2022-02-26 12:21] kushthedude opened #1031 "EventsDB: Transaction APIs not found in the sever"

[2022-02-26 12:24] #1031 closed, assigned to kushthedude

[2022-02-26 12:25] kushthedude commented on #1031
Was using a old deployed chain to debug, the issue is already fixed

[2022-02-27 08:37] cnlangzi opened #1032 "update getblobbers endpoint"
from https://github.com/0chain/blobber/issues/127

[/v1/screst/6dba10422e368813802877a85039d3985d96760ed844092319743fb3a76712d7/getblobbers](https://dev.0chain.net/miner01/v1/screst/6dba10422e368813802877a85039d3985d96760ed844092319743fb3a76712d7/getblobbers) should be updated  in the storagesc code

- change `used` name to `allocated`
- add `used` for storage that is actually used by the client

[2022-02-27 17:24] samtholiya commented on #904
Just fyi
In favour of general api we have implemented writeMarker and readMarker generic api's https://github.com/0chain/0chain/pull/995

[2022-02-28 14:13] #915 closed, assigned to samtholiya

[2022-02-28 20:02] ssardana96 opened #1035 "Move block reward constants to sc.yaml"
Currently in block_reward, we use various constants for zeta, gamma calculation used to compute reward shares based on other variables. Once a user-friendly name is finalized, we should move these constants to sc.yaml in [`block_reward` section](https://github.com/0chain/0chain/blob/3fea102ed86641d30f5dcdf009b3c05ff0b1eab2/docker.local/config/sc.yaml#L150)
[code]

[2022-02-28 23:13] samtholiya commented on #897
need https://github.com/0chain/0chain/pull/864 to complete before this can be continued

[2022-03-01 14:07] Sriep opened #1036 "Replace blobber in allocation, addition to update allocation"
Update allocation to have a new option to replace a blobber. This will take as input, a new blobber id, and the id of a blobber to be replaced.

After validation, the endpoint will remove active references to the old blobber from the allocations and add the new blobber.

The event database will need to be updated with new fields to indicate the last time each blobber was added or removed from an a

[2022-03-01 14:11] Sriep opened #1037 "Add blobber to allocation transaction, addition to update allocation ."
Update allocation to have a new add blobber option.

This will take as input the id of the new blobber id. After validation, it will add the blobber to the allocation's blobbers and conversely. The allocation's number of parity blobbers will be incremented.

The event database will need to be updated with new fields to indicate the last time each blobber was added to an allocation. This relates to

[2022-03-02 10:46] peterlimg opened #1038 "Round info diagnostics page panic"
Refresh page https://testnet1.devnet-0chain.net/miner02/_diagnostics/round_info several times, we will see panic as shown below:

goroutine 343060648 [running]:
runtime/debug.Stack(0x0, 0x0, 0x0)
	/usr/local/go/src/runtime/debug/stack.go:24 +0xa5
0chain.net/chaincore/chain.RoundInfoHandler.func1(0x154e280, 0xc002de1180)
	/0chain/go/0chain.net/chaincore/chain/handler.go:1254 +0x6e
panic(0x13259c0,

[2022-03-03 12:24] Sriep opened #1040 "Providers"
# Provider

A provider is one of currently five objects that perform services for 0chian. There will be a linked wallet that can control the provider's settings. Each provider will also have a number of delegates; These are users that have invested
tokens in the provider.

Providers are given rewards when they perform services. These rewards are distributed amongst the delegates based on
creative

[2022-03-03 12:54] Sriep opened #1041 "New am I active rest api endpoint for provders"
A Provider, (miner, sharder, blobber, validator or authoriser,) can move from an active to an inactive state as a result of another party. https://github.com/0chain/0chain/issues/1040 gives an example of changing the `max_challenge_time` which can render a Blobber inactive.

We need new REST API endpoints that will return whether a provider is active or not. Along with statistics that indicate whi

[2022-03-03 13:11] Sriep opened #1042 "Update provider"
Each provider type should be able to update its settings.

Changing settings on 0chain can result in a blobber becoming inactive, or unable to take on any new allocations. A blobber should have the option of rectifying this setting so that it can take on new allocations again.

We need to [update_blobber_settings](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/stora

[2022-03-03 14:13] Sriep opened #1044 "Provider health check"
Every so often a provider sends a heath check transaction. If the provider has not provided a health check in the required time it cannot take on any new commitments https://github.com/0chain/0chain/issues/1040.

This functionally works for blobbers but is only partially implemented for other providers (miners, sharders, blobbers, validators and authorised. We wish to move the health check code in

[2022-03-03 14:55] Sriep opened #1045 "Provider shut down"
A provider should be able to deactivate itself. This can use common code associated with a new embedded object (Provider or ShutDownable)

- For each provider type, miner, sharder, blobber, validator and authoriser, we need a new `?_shut_down` transaction. This will set a new `ShutDown` field in the provider object stored in the MPT and mirrored in the event database.
- If a provider is flagged as

[2022-03-03 15:12] Sriep opened #1046 "Kill provder"
The owner or other selected user should be able to kill a provider. This can use common code associated with a new embedded object (Provider or Killable)

- For each provider type, miner, sharder, blobber, validator and authoriser, we need a new `kill_?` transaction. This will set a new `Killed` flag in the provider object stored in the MPT and mirrored in the event database.
- If a provider is fl

[2022-03-03 15:13] Sriep commented on #499
Replaced by https://github.com/0chain/0chain/issues/1045 and https://github.com/0chain/0chain/issues/1046

[2022-03-03 15:40] MurashovVen opened #1047 "Conductor: running blobber integration tests failed"
`8 step`: Patch 0dns
[code]
This step was failed with err:
https://drive.google.com/file/d/1ae1_MM_2fczoS7Qkf1my1Rs_mKXBgXyi/view?usp=sharing

[2022-03-04 05:06] peterlimg opened #1048 "Update PR template to correct the manually system test action"
Replace it with https://github.com/0chain/system_test/actions/workflows/ci.yml

[2022-03-05 00:26] samtholiya commented on #1016
@Kishan-Dhakan how to get `min_fee` where is it stored or configured

[2022-03-05 00:37] samtholiya commented on #1041
Need more info on this
What statistics do we need?
What is max_challenge_time
What settings it need to update to regain active status? Where are these settings

[2022-03-05 10:46] Kishan-Dhakan commented on #1016
It's found in 0chain.yaml, also see https://github.com/0chain/0chain/pull/1028/files

[2022-03-05 19:44] #371 closed

[2022-03-06 11:34] #775 closed, assigned to ssardana96

[2022-03-07 09:41] Sriep opened #1050 "Randomly shuffling partitions"
To  prevent Byzantine generation attacks we want to randomly shuffle partitions as used in blobber block rewards and challenge generation.

We add a shuffle partition item method to the [Partition interface](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/partitions/partition.go#L33)
1. We have a blobber Bk in Partition section Pk.
2. Randomly select a partition sect

[2022-03-07 10:24] Sriep commented on #1014
Duplicated by https://github.com/0chain/0chain/issues/1050

[2022-03-07 10:24] #1014 closed, assigned to nobody

[2022-03-07 20:36] #898 closed, assigned to samtholiya

[2022-03-07 23:58] samtholiya opened #1051 "Bug Miners not displaying in every sharder api"
Miners not showing in sharder2 but getting listed in sharder1

[2022-03-09 11:00] PratikDhanave commented on #417
@cnlangzi I like to work on it.

[2022-03-09 20:46] #950 closed, assigned to MurashovVen

[2022-03-09 20:46] #953 closed, assigned to MurashovVen

[2022-03-10 15:23] #814 closed, assigned to Sriep

[2022-03-12 16:50] #692 closed, assigned to MurashovVen

[2022-03-12 16:50] #697 closed, assigned to MurashovVen

[2022-03-12 16:50] #698 closed, assigned to MurashovVen

[2022-03-12 16:50] #699 closed, assigned to MurashovVen

[2022-03-12 16:50] #701 closed, assigned to MurashovVen

[2022-03-12 16:50] #704 closed, assigned to MurashovVen

[2022-03-12 16:50] #707 closed, assigned to MurashovVen

[2022-03-12 16:50] #708 closed, assigned to MurashovVen

[2022-03-12 16:50] #709 closed, assigned to MurashovVen

[2022-03-12 16:50] #817 closed, assigned to MurashovVen

[2022-03-13 08:49] #880 closed, assigned to Dmdv

[2022-03-13 08:49] #881 closed, assigned to Dmdv

[2022-03-13 20:45] #971 closed, assigned to MurashovVen

[2022-03-13 22:42] Dmdv commented on #882
Closed with https://github.com/0chain/0chain/pull/957

[2022-03-13 22:42] #882 closed, assigned to Dmdv

[2022-03-14 13:09] cnlangzi opened #1060 "stop to generate challenge if there is no any valid validator"
[code]

[2022-03-15 10:06] #1048 closed, assigned to nobody

[2022-03-15 10:23] peterlimg commented on #1032
@cnlangzi Is there anyone working on this, API changes must be done before Mainnet, otherwise it would be painful to do so.

[2022-03-15 10:24] peterlimg commented on #1035
@ssardana08 any updates for this?

[2022-03-15 10:28] peterlimg commented on #1022
Any invalid http requests would be redirected to this page.

[2022-03-16 00:14] shaktals commented on #1022
This is very against standard REST API behavior.

@stewartie4 @Sriep @moldis do you agree with it?

[2022-03-16 00:15] shaktals commented on #1022
@peterlimg stating how things work today does not make the behavior correct.

[2022-03-16 00:18] stewartie4 commented on #1022
Completely agreed @shaktals
I think the key here is the webpage and REST API should be kept separate
If we want to redirect any /web/x page to here then that's fine but the REST API should return a 404 with a JSON response as per REST standards

[2022-03-16 07:09] jkrus commented on #738
@guruhubb You mentioned that the proximity_scan options have been tested. Can you tell in which branch this is described?

[2022-03-16 18:26] Sriep opened #1062 "User read pools."
We want to allow allocations from which anyone can read. In our current implementation, to download from an allocation, a user would first have to create a read pool. This can lead to unlimited numbers of read pools which our current implementation cannot handle.

We replace the above with two read pools for each user.
1. OwnerReadPool A read pool to use for allocations of which the user is the ow

[2022-03-16 21:53] #974 closed, assigned to dabasov

[2022-03-16 21:59] dabasov opened #1063 "update cost related config"
Cost related settings in the sc.yaml should be updatable the same way the other settings are updatable. Implement for smart contracts:
- faucetsc
- interestpoolsc
- minersc
- storagesc
- vestingsc
- zcnsc

Cost section example
[code]

[2022-03-17 11:33] peterlimg commented on #1051
Could be related to not synced events db or the duplicate keys that may be resolved by PR #1059 , @samtholiya can you check and see if this error still exists, thanks.

[2022-03-17 12:20] peterlimg commented on #993
Closed by #1059

[2022-03-17 12:20] #993 closed, assigned to nobody

[2022-03-17 12:26] peterlimg commented on #956
We can do this later after mainnet as this feature would not affect the MPT data structure, so should be easy to refactor later.

[2022-03-17 12:27] peterlimg commented on #943
Already implemented with `partition`.

[2022-03-17 12:27] #943 closed, assigned to nobody

[2022-03-17 12:29] Sriep opened #1064 "User write pool"
We want to limit the number of write pools an allocation has to handle. This is to avoid smart contracts that manipulate write pools taking too long, due to the number of write pools. With this end in mind, we require the following changes.

1. Each allocation will only have a write pool per.
2. Write pools will not lock for a duration, instead funds will be returned to the allocation owner when a

[2022-03-18 13:01] #1027 closed, assigned to MurashovVen

[2022-03-18 15:59] #989 closed, assigned to nobody

[2022-03-18 16:00] #988 closed, assigned to nobody

[2022-03-18 16:00] #987 closed, assigned to nobody

[2022-03-18 16:00] #986 closed, assigned to nobody

[2022-03-18 16:00] #985 closed, assigned to nobody

[2022-03-18 16:00] #984 closed, assigned to nobody

[2022-03-18 16:00] #983 closed, assigned to nobody

[2022-03-18 16:01] #981 closed, assigned to nobody

[2022-03-18 16:01] #980 closed, assigned to nobody

[2022-03-18 16:01] #979 closed, assigned to nobody

[2022-03-18 16:01] #978 closed, assigned to nobody

[2022-03-18 16:01] #965 closed, assigned to MurashovVen

[2022-03-18 16:02] #931 closed, assigned to MurashovVen

[2022-03-18 16:02] #918 closed, assigned to MurashovVen

[2022-03-18 16:03] #710 closed, assigned to nobody

[2022-03-18 16:03] #706 closed, assigned to nobody

[2022-03-18 16:03] #705 closed

[2022-03-18 16:03] #696 closed

[2022-03-22 23:31] #1022 closed, assigned to avanaur

[2022-03-23 22:20] #1047 closed, assigned to rrrooommmaaa

[2022-03-23 23:15] peterlimg commented on #1003
Fix by #1033

[2022-03-23 23:15] #1003 closed, assigned to nobody

[2022-03-24 04:52] peterlimg opened #1073 "Panic on EstimateTransactionCost"
I got panic on `EstimateTransactionCost` , the `mc.GetLatestFinalizedBlock.ClientState` could be nil, which will then cause the panic.

[code]

Actually it is the lfb.ClientState is nil, the lfb should always be none nil, but lfb.ClientState could be nil when a miner get block from sharder, check the code here:
https://github.com/0chain/0chain/blob/90db88e30ca83f772624a87dd05befd6d8d2feb5/code/go/

[2022-03-24 04:57] peterlimg opened #1074 "Verify the integrity of PartialState"
Garbage state changes should not go to the db.

https://0chain.slack.com/archives/C01V27E2Z9N/p1645211459050089

[2022-03-24 22:01] samtholiya opened #1077 "Total stake should be saved in blobber"
We need to keep the[ total stake ](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/stakepool.go#L101)on the blobber object. Update the blobber each time it changes. Then we can use the equation from [cleanCapacity](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/smartcontract/storagesc/stakepool.go#L226) directly in an SQL where clause.
So

[2022-03-25 13:25] Sriep commented on #533
done

[2022-03-25 13:25] #533 closed, assigned to Sriep

[2022-03-25 13:25] Sriep commented on #573
Fixed by general improvements to stake pools.

[2022-03-25 13:25] #573 closed, assigned to nobody

[2022-03-26 15:19] ma2b0043 commented on #1038
@rrrooommmaaa as discussed, fix this bug in 2 days!

[2022-03-26 18:14] ma2b0043 commented on #1077
@samtholiya when can we expect to close this issue?

[2022-03-26 18:32] ma2b0043 commented on #1074
@peterlimg when can we expect to close this issue?

[2022-03-26 18:45] ma2b0043 commented on #1073
@peterlimg when can we expect to close this issue?

[2022-03-26 18:55] ma2b0043 commented on #1064
@Sriep when can we expect to close this issue?

[2022-03-26 19:10] ma2b0043 commented on #1063
@dabasov when can we expect to close this issue?

[2022-03-26 19:15] ma2b0043 commented on #1062
@sriep when can we expect to close this issue?

[2022-03-26 19:19] ma2b0043 commented on #1060
@cnlangzi when can we expect to close this issue?

[2022-03-26 19:29] ma2b0043 commented on #1051
@samtholiya when can we expect to close this issue?

[2022-03-26 19:31] ma2b0043 commented on #1050
@Sriep when can we expect to close this issue?

[2022-03-26 19:36] ma2b0043 commented on #1046
@Sriep when can we expect to close this issue?

[2022-03-26 19:44] ma2b0043 commented on #1045
@Sriep when can we expect to close this issue?

[2022-03-26 19:49] ma2b0043 commented on #1044
when can we expect to close this issue?

[2022-03-26 19:49] ma2b0043 commented on #1042
when can we expect to close this issue?

[2022-03-26 20:00] ma2b0043 commented on #1041
@Sriep  when can we expect to close this issue?

[2022-03-26 20:00] ma2b0043 commented on #1040
when can we expect to close this issue?

[2022-03-26 20:05] ma2b0043 commented on #1037
@Sriep when can we expect to close this issue?

[2022-03-26 20:07] ma2b0043 commented on #1036
@Sriep when can we expect to close this issue?

[2022-03-26 20:11] ma2b0043 commented on #1035
@ssardana08 when can we expect to close this issue?

[2022-03-26 20:12] ma2b0043 commented on #1032
@cnlangzi when can we expect to close this issue?

[2022-03-26 20:14] ma2b0043 commented on #1029
@ssardana08 when can we expect to close this issue?

[2022-03-26 20:14] iamrz1 commented on #1063
I'm working on a PR to address this. We will have it merged by the end of this coming week.

[2022-03-26 20:15] ma2b0043 commented on #1020
@Sriep when can we expect to close this issue?

[2022-03-26 20:20] ma2b0043 commented on #1019
@ssardana08 when can we expect to close this issue?

[2022-03-26 20:21] ma2b0043 commented on #1018
@ssardana08 when can we expect to close this issue?

[2022-03-26 20:22] ma2b0043 commented on #1016
@Kishan-Dhakan @samtholiya when can we expect to close this issue?

[2022-03-26 20:32] ma2b0043 commented on #1011
@sriep when can we expect to close this issue?

[2022-03-26 20:33] ma2b0043 commented on #1002
@peterlimg when can we expect to close this issue?

[2022-03-26 20:33] ma2b0043 commented on #999
@cnlangzi when can we expect to close this issue?

[2022-03-26 20:35] ma2b0043 commented on #998
@MurashovVen when can we expect to close this issue?

[2022-03-26 20:36] ma2b0043 commented on #997
@princeparmar when can we expect to close this issue?

[2022-03-26 20:38] ma2b0043 commented on #994
@peterlimg when can we expect to close this issue?

[2022-03-26 20:39] ma2b0043 commented on #982
@moldis when can we expect to close this issue?

[2022-03-26 20:41] ma2b0043 commented on #952
@amanjain97 when can we expect to close this issue?

[2022-03-26 20:48] ma2b0043 commented on #944
@peterlimg when can we expect to close this issue?

[2022-03-26 20:48] ma2b0043 commented on #949
@moldis when can we expect to close this issue?

[2022-03-26 21:02] ma2b0043 commented on #942
@peterlimg when can we expect to close this issue?

[2022-03-26 21:02] ma2b0043 commented on #941
@peterlimg when can we expect to close this issue?

[2022-03-26 21:06] ma2b0043 commented on #938
@sriep when can we expect to close this issue?

[2022-03-26 21:08] ma2b0043 commented on #934
@Sriep when can we expect to close this issue?

[2022-03-26 21:16] ma2b0043 commented on #933
@ssardana08 when can we expect to close this issue?

[2022-03-26 21:27] ma2b0043 commented on #926
@Sriep when can we expect to close this issue?

[2022-03-26 21:29] ma2b0043 commented on #921
@chauchausoup when can we expect to close this issue?

[2022-03-26 21:29] Kishan-Dhakan commented on #1016
@ma2b0043 I am not working on this issue, I had created this issue as a requisite for https://github.com/0chain/system_test/issues/107. You can check with Yury or Peter for a better idea on the timeline.

[2022-03-26 21:31] ma2b0043 commented on #912
@Sriep when can we expect to close this issue?

[2022-03-26 21:31] ma2b0043 commented on #911
@shaktals when can we expect to close this issue?

[2022-03-26 21:32] ma2b0043 commented on #910
@Sriep @samtholiya when can we expect to close this issue?

[2022-03-26 21:32] ma2b0043 commented on #909
@sriep when can we expect to close this issue?

[2022-03-26 21:34] ma2b0043 commented on #907
@Sriep when can we expect to close this issue?

[2022-03-26 21:34] ma2b0043 commented on #905
@Sriep when can we expect to close this issue?

[2022-03-26 21:46] ma2b0043 commented on #904
@chauchausoup when can we expect to close this issue?

[2022-03-26 21:47] ma2b0043 commented on #903
@chauchausoup when can we expect to close this issue?

[2022-03-26 21:49] ma2b0043 commented on #902
@peterlimg when can we expect to close this issue?

[2022-03-26 21:50] ma2b0043 commented on #901
@samtholiya when can we expect to close this issue?

[2022-03-26 21:53] ma2b0043 commented on #900
@ssardana08 when can we expect to close this issue?

[2022-03-26 21:58] ma2b0043 commented on #897
@samtholiya when can we expect to close this issue?

[2022-03-26 21:59] ma2b0043 commented on #894
@dhruv0000 when can we expect to close this issue?

[2022-03-26 21:59] ma2b0043 commented on #892
@Sriep @ssardana08 when can we expect to close this issue?

[2022-03-26 22:05] ma2b0043 commented on #879
@ssardana08 when can we expect to close this issue?

[2022-03-26 22:05] ma2b0043 commented on #870
@peterlimg when can we expect to close this issue?

[2022-03-26 22:05] ma2b0043 commented on #859
@ssardana08 when can we expect to close this issue?

[2022-03-26 22:07] ma2b0043 commented on #857
@Sriep if its a necessary of the mainnet, can you add "post-mainnet" label to this issue?

[2022-03-26 22:09] ma2b0043 commented on #838
@Dmdv when can we expect to close this issue?

[2022-03-26 22:09] ma2b0043 commented on #833
@Sriep @samtholiya @kushthedude when can we expect to close this issue?

[2022-03-26 22:09] ma2b0043 commented on #831
@Sriep when can we expect to close this issue?

[2022-03-26 22:10] ma2b0043 commented on #830
@Sriep when can we expect to close this issue?

[2022-03-26 22:17] ma2b0043 commented on #829
@Sriep when can we expect to close this issue?

[2022-03-26 22:18] ma2b0043 commented on #828
@Sriep when can we expect to close this issue?

[2022-03-26 22:18] ma2b0043 commented on #827
@Sriep @ssardana08 when can we expect to close this issue?

[2022-03-26 22:22] ma2b0043 commented on #810
@peterlimg when can we expect to close this issue?

[2022-03-26 22:22] ma2b0043 commented on #807
@peterlimg when can we expect to close this issue?

[2022-03-26 22:24] ma2b0043 commented on #806
@peterlimg when can we expect to close this issue?

[2022-03-26 22:25] ma2b0043 commented on #805
@peterlimg when can we expect to close this issue?

[2022-03-26 22:25] ma2b0043 commented on #804
@peterlimg when can we expect to close this issue?

[2022-03-26 22:25] ma2b0043 commented on #803
@peterlimg when can we expect to close this issue?

[2022-03-26 22:32] ma2b0043 commented on #802
@peterlimg when can we expect to close this issue?

[2022-03-26 22:34] ma2b0043 commented on #796
@Sriep when can we expect to close this issue?

[2022-03-26 22:35] ma2b0043 commented on #795
@shaktals @Sriep @ssardana08 when can we expect to close this issue?

[2022-03-26 22:36] ma2b0043 commented on #794
@dabasov @peterlimg when can we expect to close this issue?

[2022-03-26 22:39] ma2b0043 commented on #793
@Sriep @ssardana08 when can we expect to close this issue?

[2022-03-26 22:47] ma2b0043 commented on #791
@Sriep when can we expect to close this issue?

[2022-03-26 22:48] ma2b0043 commented on #781
@Sriep when can we expect to close this issue?

[2022-03-26 22:48] ma2b0043 commented on #778
@Sriep @ssardana08 when can we expect to close this issue?

[2022-03-26 22:50] ma2b0043 commented on #777
@Sriep when can we expect to close this issue?

[2022-03-26 22:50] ma2b0043 commented on #773
@sriep when can we expect to close this issue?

[2022-03-26 22:53] ma2b0043 commented on #769
@Sriep when can we expect to close this issue?

[2022-03-26 22:56] ma2b0043 commented on #765
@dabasov when can we expect to close this issue?

[2022-03-26 23:25] ma2b0043 commented on #763
@sriep when can we expect to close this issue?

[2022-03-26 23:26] ma2b0043 commented on #761
@sriep when can we expect to close this issue?

[2022-03-26 23:26] ma2b0043 commented on #760
@Sriep when can we expect to close this issue?

[2022-03-26 23:26] ma2b0043 commented on #756
@Sriep when can we expect to close this issue?

[2022-03-27 06:11] mohsenno1 commented on #1029
@ma2b0043 I'm working on it. Hopefully next few days we will have a PR, before the weekend. I'm also working on [Security level for settings](https://github.com/0chain/0chain/issues/736). I'm trying to solve both issue together.

[2022-03-27 08:08] jkrus commented on #738
Added unit tests
https://github.com/0chain/0chain/pull/1082

[2022-03-27 09:42] krishnemd commented on #903
@ma2b0043 the requirement depends on 3 new endpoints. For a particular blobbers we do need the above mentioned stats. For when to expect I think @Sriep can enlighten on it.

[2022-03-27 09:46] krishnemd commented on #921
@ma2b0043 it depends on the above mentioned issue.

[2022-03-27 11:43] ma2b0043 commented on #753
@Sriep when can we expect to close this issue?

[2022-03-27 13:47] ma2b0043 commented on #756
@Sriep when can we expect to close this issue?

[2022-03-27 13:53] ma2b0043 commented on #749
@peterlimg when can we expect to close this issue?

[2022-03-27 13:54] ma2b0043 commented on #748
@peterlimg when can we expect to close this issue?

[2022-03-27 13:54] ma2b0043 commented on #747
@peterlimg when can we expect to close this issue?

[2022-03-27 13:54] ma2b0043 commented on #741
@Sriep when can we expect to close this issue?

[2022-03-27 14:01] ma2b0043 commented on #739
@moldis when can we expect to close this issue?

[2022-03-27 14:01] ma2b0043 commented on #737
@peterlimg when can we expect to close this issue?

[2022-03-27 14:15] ma2b0043 commented on #736
@Sriep when can we expect to close this issue?

[2022-03-27 16:45] dabasov commented on #765
@ma2b0043  in a week

[2022-03-27 16:53] ma2b0043 commented on #734
@Sriep when can we expect to close this issue?

[2022-03-27 16:55] ma2b0043 commented on #733
@Sriep when can we expect to close this issue?

[2022-03-27 19:10] shaktals commented on #911
@ma2b0043 is the feature ready?

[2022-03-27 19:39] ma2b0043 commented on #730
@anish-squareops @Sriep when can we expect to close this issue?

[2022-03-27 19:39] ma2b0043 commented on #687
@Sriep when can we expect to close this issue?

[2022-03-27 19:54] ma2b0043 commented on #681
@moldis @Sriep when can we expect to close this issue?

[2022-03-27 19:55] ma2b0043 commented on #670
@peterlimg when can we expect to close this issue?

[2022-03-27 20:01] ma2b0043 commented on #668
@Sriep when can we expect to close this issue?

[2022-03-27 20:05] ma2b0043 commented on #657
@Sriep when can we expect to close this issue?

[2022-03-27 20:18] ma2b0043 commented on #651
@dabasov there is no one assigned to this issue.

[2022-03-27 20:22] ma2b0043 commented on #647
@dhruv0000 when can we expect to close this issue?

[2022-03-27 20:27] ma2b0043 commented on #646
@Sriep when can we expect to close this issue?

[2022-03-27 20:43] ma2b0043 commented on #645
@Sriep when can we expect to close this issue?

[2022-03-27 20:44] ma2b0043 commented on #629
@dabasov when can we expect to close this issue?

[2022-03-27 20:44] ma2b0043 commented on #608
@moldis when can we expect to close this issue?

[2022-03-27 20:44] ma2b0043 commented on #592
@shaktals when can we expect to close this issue?

[2022-03-27 20:45] ma2b0043 commented on #587
@Sriep when can we expect to close this issue?

[2022-03-27 20:48] ma2b0043 commented on #572
@Sriep when can we expect to close this issue?

[2022-03-27 20:49] ma2b0043 commented on #568
@Sriep when can we expect to close this issue?

[2022-03-27 21:00] ma2b0043 commented on #534
@Sriep when can we expect to close this issue?

[2022-03-27 21:00] ma2b0043 commented on #522
@Sriep when can we expect to close this issue?

[2022-03-27 21:02] ma2b0043 commented on #502
@Sriep when can we expect to close this issue?

[2022-03-27 21:06] ma2b0043 commented on #468
@cnlangzi when can we expect to close this issue?

[2022-03-27 21:11] ma2b0043 commented on #467
@cnlangzi when can we expect to close this issue?

[2022-03-27 21:17] ma2b0043 commented on #466
@dabasov can we close this issue if its complete?

[2022-03-27 21:17] ma2b0043 commented on #465
@dabasov can we close this issue?

[2022-03-27 21:18] ma2b0043 commented on #459
@cnlangzi when can we expect to close this issue?

[2022-03-27 21:18] ma2b0043 commented on #424
@stewartie4 when can we expect to close this issue?

[2022-03-27 21:21] ma2b0043 commented on #417
@cnlangzi when can we expect to close this issue?

[2022-03-27 21:23] ma2b0043 commented on #415
@shaktals when can we expect to close this issue?

[2022-03-27 21:23] ma2b0043 commented on #382
@Sriep @m-s-a-c when can we expect to close this issue?

[2022-03-27 21:24] ma2b0043 commented on #381
@rrrooommmaaa can we close this issue?

[2022-03-27 21:24] ma2b0043 commented on #372
@rrrooommmaaa when can we expect to close this issue?

[2022-03-27 21:25] ma2b0043 commented on #362
@MurashovVen when can we expect to close this issue?

[2022-03-27 21:27] ma2b0043 commented on #343
@TheTeaParty @Sriep when can we expect to close this issue?

[2022-03-27 21:27] ma2b0043 commented on #341
@iamkhalidbashir when can we expect to close this issue?

[2022-03-27 21:28] ma2b0043 commented on #319
@dabasov who should we assign this task too?

[2022-03-27 21:31] ma2b0043 commented on #287
@cnlangzi when can we expect to close this issue?

[2022-03-27 21:36] ma2b0043 commented on #233
@Sriep @mohsenno1 when can we expect to close this issue?

[2022-03-27 21:42] ma2b0043 commented on #202
@peterlimg @Sriep when can we expect to close this issue?

[2022-03-27 22:23] dabasov commented on #466
no

[2022-03-27 22:23] dabasov commented on #465
no, it's not completed

[2022-03-27 22:29] dabasov commented on #319
we'll see, who will be free next

[2022-03-27 22:31] shaktals commented on #592
@ma2b0043 I have no idea if this has been fixed.

@Sriep @moldis do you?

[2022-03-27 22:32] shaktals commented on #415
@ma2b0043 can you help me with #531?

[2022-03-28 04:57] iamkhalidbashir commented on #341
@ma2b0043 I am no longer working on this repo

[2022-03-28 07:46] #1060 closed, assigned to Kishan-Dhakan

[2022-03-28 09:10] Sriep commented on #687
https://github.com/0chain/0chain/issues/905

[2022-03-28 09:10] Sriep commented on #736
ref https://github.com/0chain/0chain/issues/905

[2022-03-28 09:10] Sriep commented on #773
ref https://github.com/0chain/0chain/issues/905

[2022-03-28 09:10] Sriep commented on #827
ref https://github.com/0chain/0chain/issues/905

[2022-03-28 11:36] peterlimg commented on #1073
Closed by #1075

[2022-03-28 11:36] #1073 closed, assigned to peterlimg

[2022-03-28 23:42] peterlimg opened #1085 "Limit the`string` field length on MPT object and the MPT object size"
We don't have the size limitation for single object on MPT, which can be used by malicious nodes to attack the MPT.

For example, the blobber `StorageNode` struct  looks like this:
[code]

Basically, the blobber can put as much data as it want in the `BaseURL` field, similar issue happens on all the MPT data structs.

So we need to:
a) Check the object size before it goes into MPT, limit the lengt

[2022-03-28 23:59] peterlimg commented on #1011
@Sriep isn't the validators number of challenge is calculated base on the data shards number and blobber numbers?

[2022-03-29 10:31] peterlimg commented on #921
Closed by #1083

[2022-03-29 10:31] #921 closed, assigned to moldis, Sriep

[2022-03-29 13:41] mateocepele opened #1096 "Create NFT Page"

[2022-03-29 13:45] mateocepele opened #1097 "Select Contract Type - NFT Create Page"

[2022-03-29 13:48] mateocepele opened #1098 "My NFTs Page"

[2022-03-29 13:49] mateocepele opened #1099 "NFT Details Page"

[2022-03-29 14:19] mateocepele opened #1100 "Filter Section - My NFTs Page"

[2022-03-29 14:19] mateocepele opened #1101 "NFT List Item - My NFTs Page"

[2022-03-29 14:19] mateocepele opened #1102 "NFT List Container - My NFTs Page"

[2022-03-29 14:24] mateocepele opened #1103 "NFT Description Section - NFT Details Page"

[2022-03-29 14:24] mateocepele opened #1104 "NFT Details Section - NFT Details Page"

[2022-03-29 14:24] mateocepele opened #1105 "NFT Item Title Section - NFT Details Page"

[2022-03-29 14:24] mateocepele opened #1106 "NFT Item Activity Section - NFT Details Page"

[2022-03-29 14:24] mateocepele opened #1107 "NFT Image Section - NFT Details Page"

[2022-03-29 14:49] mateocepele opened #1108 "NFT Management Page"

[2022-03-29 14:49] mateocepele opened #1109 "Metadata Mutation Filter - NFT Management Page"

[2022-03-29 14:49] mateocepele opened #1110 "Metadata Upload Section - NFT Management Page"

[2022-03-29 15:02] #1096 closed, assigned to nobody

[2022-03-29 15:02] #1097 closed, assigned to nobody

[2022-03-29 15:02] #1098 closed, assigned to nobody

[2022-03-29 15:02] #1099 closed, assigned to nobody

[2022-03-29 15:06] #1100 closed, assigned to nobody

[2022-03-29 15:06] #1110 closed, assigned to nobody

[2022-03-29 15:07] #1109 closed, assigned to nobody

[2022-03-29 15:07] #1108 closed, assigned to nobody

[2022-03-29 15:07] #1107 closed, assigned to nobody

[2022-03-29 15:07] #1106 closed, assigned to nobody

[2022-03-29 15:07] #1105 closed, assigned to nobody

[2022-03-29 15:07] #1104 closed, assigned to nobody

[2022-03-29 15:07] #1103 closed, assigned to nobody

[2022-03-29 15:07] #1102 closed, assigned to nobody

[2022-03-29 15:07] #1101 closed, assigned to nobody

[2022-03-30 07:53] #827 closed, assigned to ssardana96

[2022-03-30 14:29] Sriep commented on #733
Split into multiple issues that are mostly done. Closing.

[2022-03-30 14:29] #733 closed, assigned to nobody

[2022-03-30 14:31] Sriep commented on #756
To replace with an integrated plan for coordinating the events database.

[2022-03-30 14:31] #756 closed, assigned to nobody

[2022-03-30 14:34] Sriep commented on #760
This will need to be coordinated with the change t read and write pools https://github.com/0chain/0chain/issues/1064 and https://github.com/0chain/0chain/issues/1062.

[2022-03-30 14:43] Sriep commented on #760
Replaced with https://github.com/0chain/0chain/issues/1062 and https://github.com/0chain/0chain/issues/1064

[2022-03-30 14:43] #760 closed, assigned to samtholiya

[2022-03-30 14:49] Sriep commented on #1041
This depends on 0chian issues https://github.com/0chain/0chain/issues/1040, we should wait until these issues are being addressed.

[2022-03-30 14:53] Sriep commented on #938
Added to blobbers in https://github.com/0chain/0chain/pull/1083, we now want to move to event database. Plus add for miners, shaders, validators and authorisers.

[2022-03-30 14:57] Sriep commented on #778
Need to resolve https://github.com/0chain/0chain/issues/933

[2022-03-30 15:08] Sriep commented on #904
Looks like  repent of https://github.com/0chain/0chain/issues/791

[2022-03-30 15:11] Sriep commented on #791
From https://github.com/0chain/0chain/issues/904
[code]

[2022-03-30 15:27] Sriep commented on #857
Move backwards compatibility to a separate discussion.

[2022-03-30 15:27] #857 closed, assigned to nobody

[2022-03-30 15:34] Sriep commented on #796
This will likely be done as part of https://github.com/0chain/0chain/issues/926.

[2022-03-30 15:37] Sriep commented on #796
Close for the moment in favour of https://github.com/0chain/0chain/issues/926

[2022-03-30 15:37] #796 closed, assigned to nobody

[2022-03-30 20:01] #1011 closed, assigned to avanaur

[2022-03-31 01:14] cnlangzi commented on #502
I think it is fixed now.

[2022-03-31 01:14] #502 closed

[2022-03-31 02:27] cnlangzi opened #1112 "non-thread-safe on blobberHealthCheck"
`blobberHealthCheck` is a high concurrency api if there are a lot of blobbers. but it is non thread-safe now. blobber.LastHealthCheck should save on isolated node on cassandra or eventdb's postgres instead of global node with ALL_BLOBBERS_KEY.
That is why some blobbers are lost sometimes on `./zbox ls-blobbers`.
It also may cause `Not enough blobbers to honor the allocation` error even we have eno

[2022-03-31 12:40] ssardana96 opened #1114 "Optimise StorageAllocation"
Try to understand the use of storage allocation and optimise it's corresponding smartcontracts.

[code]

[2022-03-31 12:45] Sriep commented on #1011
@peterlimg Yes what you said was to be how it worked. The decision was then made to make validators a fixed number.

[2022-03-31 14:07] #459 closed

[2022-03-31 14:31] ssardana96 opened #1115 "Remove ALL_BLOBBER_KEY"
- ALL_BLOBBER_KEY should be removed as any MPT key acces
- Blobbers data should be accessed by individual blobber only
- if needed, by partition logic

[2022-03-31 22:25] ma2b0043 commented on #341
@Sriep @dabasov can we assign to someone else?

[2022-03-31 22:33] ma2b0043 commented on #592
@Sriep ?

[2022-03-31 22:39] ma2b0043 commented on #415
isnt it closed @shaktals ?

[2022-04-01 14:51] shaktals commented on #415
It's closed because I wasn't able to finish the PR.
The web frontend team needed lots of attention, so I have done basically nothing on the backend yet.
Feel free to pick that PR and finish it.

[2022-04-01 16:16] #753 closed, assigned to ssardana96

[2022-04-02 10:34] #1074 closed, assigned to peterlimg

[2022-04-02 13:01] lpoli opened #1121 "Requirements of Add/Replace blobber in an allocation"
First thing first
A client can add parity blobber but not data blobber. So for an allocation number of data-blobbers is fixed.
A client can replace any blobber.

A client wants to add blobber when they want to make their data more secure from being lost.

Here are the situations when the client wants to replace blobber:
 1. Client could not write to the blobber.
 2. Too many `context_deadline` iss

[2022-04-03 06:26] peterlimg commented on #994
Closed via #1065

[2022-04-03 06:26] #994 closed, assigned to peterlimg

[2022-04-03 07:29] peterlimg opened #1122 "Add CHANGELOG.md"
Add CHANGELOG.md in the project root to collect the changes and fixes between releases, it could be used when we do a new release

[2022-04-03 08:39] Sriep commented on #1121
1. `A client can add parity blobber but not data blobber. So for an allocation number of data-blobbers is fixed.` [Already done, model.go.](https://github.com/0chain/0chain/blob/update-blobbers/code/go/0chain.net/smartcontract/storagesc/models.go#L816)
2. `A client can replace any blobber.`. Any blobber used for the allocation.
3. `Here are the situations when the client wants to replace blobber:`

[2022-04-03 21:22] samtholiya commented on #897
@ma2b0043 this can be completed only after #864 is merged

[2022-04-03 21:24] samtholiya commented on #1077
@ma2b0043 I had raised the pr everything was working but due to some new changes, it is breaking. I am basically trying to debug staging now :(

[2022-04-03 21:26] samtholiya commented on #1051
This was resolved.

[2022-04-03 21:26] #1051 closed, assigned to samtholiya

[2022-04-04 05:22] peterlimg commented on #974
Close via #1006

[2022-04-04 09:56] #999 closed, assigned to Kishan-Dhakan

[2022-04-04 11:44] #997 closed, assigned to nobody

[2022-04-04 12:42] peterlimg commented on #1063
Closed via #1076

[2022-04-04 12:42] #1063 closed, assigned to iamrz1

[2022-04-04 15:39] ssardana96 opened #1128 "To discuss on verifyChallenge pass + partial success"
As commented: https://github.com/0chain/0chain/pull/1055#discussion_r841141984

Code snippet: https://github.com/0chain/0chain/blob/7db8c3a5f7e42a48e2aeeae2e24e336800af2648/code/go/0chain.net/smartcontract/storagesc/challenge.go#L462

Discuss on the pass calculation and the following partial success reward.
(cc: @peterlimg )

[2022-04-05 10:09] #1038 closed, assigned to rrrooommmaaa

[2022-04-05 11:16] #741 closed, assigned to dabasov, Sriep, ssardana96

[2022-04-05 15:01] #1036 closed, assigned to Sriep

[2022-04-05 15:01] #1037 closed, assigned to Sriep

[2022-04-06 09:09] cnlangzi opened #1130 "panicking issue on WriteMarker"
writemarker/writemarker.go:17	[recover] redeemWriteMarker	{"err": "runtime error: invalid memory address or nil pointer dereference"}
github.com/0chain/blobber/code/go/0chain.net/blobbercore/writemarker.redeemWriteMarker.func1
	/Users/geax/code/geax/github.com/0chain/blobber/code/go/0chain.net/blobbercore/writemarker/writemarker.go:17
runtime.gopanic
	/usr/local/go/src/runtime/panic.go:838
runtime

[2022-04-06 13:26] #1077 closed, assigned to samtholiya

[2022-04-07 08:35] cnlangzi commented on #1130
it is a blobber issue. moved it to https://github.com/0chain/blobber/issues/624

[2022-04-07 08:35] #1130 closed, assigned to cnlangzi

[2022-04-07 09:59] #1114 closed, assigned to nobody

[2022-04-08 21:15] samtholiya commented on #933
done in commit on the branch
should we close this?

[2022-04-09 17:12] iamrz1 commented on #793
Closed by [ #1124](https://github.com/0chain/0chain/pull/1124)

[2022-04-09 17:12] #793 closed, assigned to iamrz1

[2022-04-09 17:40] #933 closed, assigned to samtholiya

[2022-04-09 17:40] samtholiya commented on #778
@Sriep #969 is already merged in the same pr

[2022-04-11 05:21] peterlimg opened #1142 "Partitions package refactoring required"
There are a few problems about the partitions package, which I suggested to fix it before in PR #963 [here](https://github.com/0chain/0chain/pull/963#pullrequestreview-880957636), anyway the main issues are summarized as below:
- It is an intrusive design for adding new partition types, which means each time when we need to add a new partition type, we will have to change the partitions code [here

[2022-04-11 20:50] dabasov opened #1147 "Take postgress settings from env"
Use variables POSTGRES_HOST and POSTGRES_PORT from [env] for postgress settings.

I think, the best way to implement it is to use default viper mechanics for property overriding, just need to add name conversion internally

[2022-04-13 14:43] ssardana96 opened #1167 "Generate Challenge - randomness"
- While populating BlobberChallenge partition, we should also store - data it's actively storing.
- To increase randomness, select n blobberChallenge partition and 1 blobber from each of partition.
- from selected n blobber, weight based on data stored in Bi
- select the blobber with maximum weight and continue the existing algorithm from there

The intent of this change should be:
- blobbers stor

[2022-04-13 18:40] #763 closed, assigned to iamrz1

[2022-04-13 21:54] iamrz1 opened #1169 "collect-reward command fails on sharder"
collect-reward command is not working anymore.
Seems to fail due to error in transaction-confirmation [here](https://github.com/0chain/0chain/blob/2573fbdfb3f2e188227e5b9485d06fcd3c47fd8f/code/go/0chain.net/sharder/transaction.go#L39).

Need to find out why that happens, and how to fix it.

[2022-04-15 15:11] iamrz1 commented on #1169
`collect-reward` command seems to be working in miner-reward [PR](https://github.com/0chain/0chain/pull/1025). So hopefully fixed when the PR is merged.

[2022-04-17 02:04] peterlimg commented on #1142
Closed via #1143

[2022-04-17 02:04] #1142 closed, assigned to nobody

[2022-04-17 02:15] peterlimg opened #1178 "Challenges number increase infinitely without being removed"
How to reproduce it:
- Run system tests `TestBlobberChallenge`
- Checking the openchallenges endpoint of `v1/screst/6dba10422e368813802877a85039d3985d96760ed844092319743fb3a76712d7/openchallenges?blobber=xxxxx` on sharders, we will see the open challenges increases gradually, and some of them will never be removed.

[2022-04-17 04:39] peterlimg opened #1179 "SC endpoint /getUserPools returns nothing"
While [/nodeState](https://alpha.devnet-0chain.net/sharder01/v1/screst/6dba10422e368813802877a85039d3985d96760ed844092319743fb3a76712d9/nodeStat?id=50d56e2707cbebd38b8f447670a906b61f32f8e3c837599952d793582988c608) gives the info that a miner node has 10 delegates, but calling [/getUserPools](https://alpha.devnet-0chain.net/sharder01/v1/screst/6dba10422e368813802877a85039d3985d96760ed844092319743fb

[2022-04-17 09:20] #1122 closed, assigned to nobody

[2022-04-17 20:28] guruhubb commented on #1121
Client can use repair to add data to new blobber and the blobber can remove data when they see their contract is expired. @lpoli @Sriep

[2022-04-18 07:03] rrrooommmaaa opened #1180 "Action CONDUCTOR-STANDARD-TESTS falsely returns success"
as in https://github.com/0chain/0chain/runs/6052262819
"Standard Tests for Miners" resulted in a failure of one test.
"Standard Tests for Sharders" succeeded.

Overall result is shown as success, should be failure

[2022-04-18 19:42] m-s-a-c commented on #1180
I have created the gitactions to execute the script files that were already created by you. Example: ./docker.local/bin/start.conductor.sh miners
So, in case if any command in script is failing, it should also result in complete failure. As it is failing in the next step [CONDUCTOR-VIEW-CHANGE-TESTS](https://github.com/0chain/0chain/runs/6052945008?check_suite_focus=true#logs)
According to me it s

[2022-04-19 06:51] peterlimg opened #1182 "Check miner block pruning process, which may have bug that used all the disk space"
Logs on miners that has no disk space:
[code]

[2022-04-19 13:38] ssardana08 opened #1184 "challenge partition update on remove blobber (storageAllocation)"
- Blobbers removed from Allocation should be updated from blobberChallengeNode as well [here](https://github.com/0chain/0chain/blob/d559d33e634ea4b5da5f53d50e6c7cbb4ca7a9aa/code/go/0chain.net/smartcontract/storagesc/models.go#L832)

[2022-04-19 21:23] dabasov opened #1187 "Remove errors for context cancel"
Context cancel can happen during generating and verifying the block, if notarization is received before these actions are finished. Now interrupted actions (transaction calculation, block generation, verification etc) logs errors, it can be confusing for admins of miners/sharders

[2022-04-19 21:25] iamrz1 commented on #1169
We need a system-test to cover this pr.

[2022-04-20 00:43] peterlimg commented on #1187
We can change it to `DEBUG` logs as we'll need to know what happened when issue happens

[2022-04-20 00:56] peterlimg opened #1188 "Update `/nodePoolStat` endpoint to return all (or pagniation) if param `pool_id` is not provided"
Currently, this API requires users to provide node id and a pool id to return a specified node pool. There's no way to list all the stake pools a node has, so we need to change the API to return all stake pools a node have or do it with pagination when the `pool_id` param is not provided, otherwise return the specified node pool.

Check the discussion here: https://0chain.slack.com/archives/C03788

[2022-04-20 01:09] peterlimg commented on #1179
duplicate #1188

[2022-04-20 01:09] #1179 closed, assigned to nobody

[2022-04-21 11:36] dabasov commented on #1187
Yeah, under "remove" I meant sort them out and log with DEBUG level

[2022-04-21 13:01] iamrz1 commented on #1169
Closed by https://github.com/0chain/0chain/pull/1186

[2022-04-21 13:01] #1169 closed, assigned to iamrz1

[2022-04-21 13:34] peterlimg commented on #802
Already done on conductor tests

[2022-04-21 13:34] #802 closed, assigned to nobody

[2022-04-23 00:22] guruhubb commented on #1032
Check https://github.com/0chain/0chain/pull/1191#issuecomment-1106784333

But we need an automated way to report capacity on the chain when a disk is added to the server.
@cnlangzi @realrisman and @lpoli

[2022-04-23 05:59] #1184 closed, assigned to nobody

[2022-04-23 12:03] iamrz1 commented on #1188
Closed by https://github.com/0chain/0chain/pull/1192

[2022-04-23 12:03] #1188 closed, assigned to iamrz1

[2022-04-23 12:56] service-0chain opened #1195 "Testnet gitactions revision for 99 miners 25 sharders."
- [ ] Update the gitactions for testnet to launch 99 miners & 25 sharders.

- [ ] Update the blobber staking in gitactions with new staking method i.e. script.

[2022-04-23 13:08] service-0chain opened #1196 "Sharder postgres hostname from zchain.yaml to env."
In order to connect to postgres from sharder hostname is being picked up from zchain.yaml. In 0chain helmchart values.yaml is modified to have an ease to change/add new values to zchain.yaml & sc.yaml.

So, now hostname for postgres need to supplied from env variable in deployment files.

Slack issue link --> https://0chain.slack.com/archives/C0276HLCN5S/p1648741348242569
0chain issue link --> htt

[2022-04-23 16:52] #1196 closed, assigned to m-s-a-c

[2022-04-23 17:03] service-0chain opened #1197 "Alert on slack if 0chain.yaml or sc.yaml are modified."
Create a notification alert on devops channel if any changes are being pushed to 0chain.yaml & sc.yaml.

Notification message should contains the below details:
- File changed i.e. either zchain.yaml or sc.yaml

[2022-04-23 17:08] service-0chain commented on #1197
Link to PR --> https://github.com/0chain/0chain/pull/1145

[2022-04-23 17:08] #1197 closed, assigned to vinayakgautamops

[2022-04-23 17:17] service-0chain opened #1198 "0chain conductor tests."
These tests will be written/modified by Roman or Dabasov Yuri.

- [x] Configure a separate server as a github runner.

- [x] Create its github actions to run these whenever required.

- [x] Run these github actions automatically on daily basis.

[2022-04-23 17:20] service-0chain opened #1199 "OOM Alerts for miner/sharder pods"
If any miner/sharder is restarting due to OOM, alert should be sent to devops channel.
Alert should has a description with the followings:
- Network url.
- Miner/shader pod.

Slack link --> https://0chain.slack.com/archives/C028ZCJT6LU/p1650385236366399?thread_ts=1649959178.661349&cid=C028ZCJT6LU

[2022-04-24 06:53] peterlimg opened #1200 "Got lots of context timeout for endpoint `/v1/transaction/get/confirmation` on loadtest"
@dabasov :

were you going to optimize it somehow with events db? (edited)

https://0chain.slack.com/archives/C02QDMYFQJG/p1650313653025119

[2022-04-24 07:01] peterlimg opened #1201 "Remove unused field from MPT object"
As per https://github.com/0chain/0chain/pull/1120#issuecomment-1101893081

@sum-it08 Let's remove the [[]Blobbers](https://github.com/0chain/0chain/blob/2573fbdfb3f2e188227e5b9485d06fcd3c47fd8f/code/go/0chain.net/smartcontract/storagesc/models.go#L735) from the `StorageAllocation` and create a new data struct that embed `StorageAllocation` with the `[]Blobbers` for API use only.

[2022-04-24 22:56] Dmdv commented on #777
@ma2b0043 closed

[2022-04-24 22:56] #777 closed, assigned to Dmdv

[2022-04-25 09:10] cnlangzi commented on #1032
@realrisman  I will take over this issue, please asks new issue from @dabasov , thanks.

[2022-04-25 11:52] cnlangzi commented on #1112
blocked by https://github.com/0chain/0chain/issues/1115

[2022-04-26 02:20] cnlangzi commented on #1032
blocked by https://github.com/0chain/0chain/issues/1115

[2022-04-26 05:03] peterlimg opened #1206 "Return list of delegate pools instead of map for `nodePoolStat`"
Please also update gosdk, zwallet, and related API document about the API changes.

[2022-04-26 08:57] Sriep commented on #1206
I am reworking this code and the matching system test as part of https://github.com/0chain/0chain/pull/1025, so any changes here might be immediately redone.  So it might be best to wait until https://github.com/0chain/system_test/pull/211 is finished.

[2022-04-26 17:23] iamrz1 commented on #952
Closed. First added in https://github.com/0chain/0chain/pull/976, later integrated to staging as part of https://github.com/0chain/0chain/pull/1054

[2022-04-26 17:23] #952 closed, assigned to iamrz1

[2022-04-27 01:35] peterlimg commented on #319
I agree with @Dmdv that we should use https://github.com/shopspring/decimal, float could cause unexpected result. It's a common pattern to use integer/unsigned integer instead of float in crypto.

[2022-04-27 01:44] peterlimg commented on #1200
@dabasov :

[2022-04-27 01:44] #1200 closed, assigned to nobody

[2022-04-27 14:11] dabasov opened #1210 "Slow MPT iterating"
This problem happens after hightps-2 worked more than a week, causing it to stuck
[code]

[2022-04-27 14:24] PratikDhanave commented on #901
@ma2b0043 I like to work on this

[2022-04-27 19:39] #791 closed, assigned to samtholiya

[2022-04-28 03:10] rizary commented on #879
This need https://github.com/0chain/0chain/issues/1064 to be fixed first.

[2022-04-28 12:15] #1147 closed, assigned to dabasov

[2022-04-29 08:41] Sriep opened #1215 "Remove interestpoolsc"
We need to remove interestpoolsc and all gosdk/zwalletcli related commands.

[2022-04-29 13:38] ssardana08 opened #1216 "Unit test for change blobber"
The unit tests we need to cover including:
- Blobber not found, assert error
- Blobber has no allocation, assert error
- Blobber has one allocation, and then removed, assert related partitions and MPT nodes are all removed or updated appropriately.
- Blobber has more than one allocation, assert that the blobber allocation partition is update, all others remain untouched.

[2022-04-30 17:08] dabasov opened #1218 "Check delegate wallets"
Add check that operational wallet and delegate wallet differs. If they are the same for providers, reject this provider during the registration. Related to all provider types: miner, sharder, blobber, authorizer, validator.

[2022-04-30 19:59] guruhubb commented on #1198
@m-s-a-c @rrrooommmaaa separate the conductor jobs and title them differently because faultTolerance, byzantine, and view-change are different tests, and can have them run them on different machines in parallel as they are independent.

[2022-05-01 07:54] #1167 closed, assigned to ssardana08

[2022-05-01 22:24] Dmdv opened #1221 "Error decoding json"
Error decoding json when execution transaction
For reference: https://github.com/0chain/token_bridge_authserver/blob/7958bf946a574831710b85765b0289e87f0b4644/code/go/0chain.net/authorizer/main.go#L145

[code]

How transaction is created:

[code]

[2022-05-02 06:22] peterlimg commented on #1210
The iteration will always timeout when the database become large, we need to have a better way to detect missing states.

[2022-05-02 08:33] Sriep opened #1225 "Rate limits for providers - protect against DoDS."
To prevent against DDoS attacks we need to investigate rate limits for the event database, and providers.

[2022-05-02 08:34] Sriep commented on #1225
For event databse we have some [settings](https://github.com/0chain/0chain/blob/staging/docker.local/config/0chain.yaml#L130)
[code]
We can change these, do we need anything else to protect REST API endpoints?

[2022-05-02 08:35] Sriep commented on #1225
For providers' smartcontracts we have fees which should make DDos more difficult. Is this enough?

[2022-05-02 12:49] Hassaan008 opened #1227 "TEST ISSUE"
This issue is being created just to test the automation with airtable

[2022-05-02 12:53] #1227 closed, assigned to nobody

[2022-05-02 12:54] Hassaan008 opened #1228 "TEST ISSUE 123"
This is a test issue for testing of an automation with airtable

[2022-05-02 12:54] #1228 closed, assigned to nobody

[2022-05-02 13:50] peterlimg commented on #1225
@Sriep smart contracts should be fine, we need to adjust the rate limit for none smart contracts APIs.

[2022-05-02 13:59] peterlimg opened #1230 "Use Max challenge completition time from gloabl config"
We set the max challenge completion time with the value get from the new allocation request, see code [here](https://github.com/0chain/0chain/blob/516789d037bf4c54636d703fdb7151267eca9876/code/go/0chain.net/smartcontract/storagesc/allocation.go#L321). This will complicate the challenge expiration implementation, and does not make sense. We should treat all the challenges the same that with the sam

[2022-05-02 19:47] guruhubb commented on #1230
I agree we should simplify and have a fixed CCT in global config for all blobbers across the network

[2022-05-02 19:51] guruhubb commented on #1225
We also have rate limits for miners and sharders, which needs to be there for other providers (blobber, authorizer, validator)
[code]

[2022-05-03 12:31] avanaur commented on #829
@Sriep said that best to merge miner/sharder and blobber block reward configs into one. Currently they are separated on its own config. It is unknown yet where to put it as there's no common smart contract config.

Piers also suggested to wait for https://github.com/0chain/0chain/pull/1025 to be done first for this.
Reason being is the reward payments will change on that ticket.

Putting this tick

[2022-05-03 12:32] avanaur commented on #830
Looked into doing this together with #829. Cannot progress yet as #829 is best done after #1025

[2022-05-03 12:34] avanaur commented on #859
Added a [draft PR](https://github.com/0chain/0chain/pull/1220) for the two missing foreign keys.
Still blocked by #778 for FK to the User table.

[2022-05-03 13:18] avanaur commented on #833
@Sriep can you clarify what are the `event db` endpoints? Are these referring to all endpoints under `/v1/screst/*` therefore all smart contract endpoints? Then if the endpoint is accessed through miner, should expect the 404 error?

[2022-05-03 13:23] Sriep commented on #833
This should be fixed as part of swagger documentation https://github.com/0chain/0chain/pull/1134.

[2022-05-03 13:23] #833 closed, assigned to avanaur

[2022-05-04 08:17] Sriep commented on #1040
make sure that inactive providers are NOT getting rewards. e.g.
1. inactive miners won’t generate, so its ok.
2. inactive sharders should not get rewards
3. inactive blobbers and validators should not get selected for allocation or validation
4. the validators get paid based on the challenge response ticket inclusion by blobber. So blobber waits for a second (chain configured) after receiving majo

[2022-05-04 08:28] #1042 closed, assigned to Kishan-Dhakan

[2022-05-05 00:46] #900 closed, assigned to avanaur

[2022-05-05 04:29] peterlimg opened #1238 "ZCNSC global config not saved in MPT"
The config is not saved in MPT, the cost map is empty. See [config](https://dev.0chain.net/miner01/v1/screst/6dba10422e368813802877a85039d3985d96760ed844092319743fb3a76712e0/getGlobalConfig).

This will cause zcn SCs fail due to error 'can't get cost'.

[2022-05-05 15:34] ssardana08 opened #1241 "Randomness to select blobbers providing less storage also be challenged"
Issue
====
Currently in generateChallenge selection n-1 least weight blobbers in a bucket have no chance of getting challenged where n = min(bucket_size, 5)
We should be allowing them also to be challenged.

Solution
======
We should be bringing randomness in selection between:
- select blobber with randomness based on weight
- select blobber randomly (without any weight logic)
And the process aft

[2022-05-05 23:42] peterlimg commented on #687
Initialize config to MPT in genesis block can be a separate task, this is needed for mainnnet but spliting the config files is not a must for mainnet ATM.

[2022-05-06 00:03] #1201 closed, assigned to ssardana08

[2022-05-06 00:59] cnlangzi opened #1243 "fix security issues suggested by code-scanning"
see detail https://github.com/0chain/0chain/security

[2022-05-06 03:55] #1241 closed, assigned to nobody

[2022-05-06 08:44] Sriep commented on #1112
Not sure this applies. The data for ls-blobbers comes from the event database now not the blockchain.

[2022-05-06 09:18] cnlangzi commented on #1112
@Sriep if so, the code still have thread-safe issue on https://github.com/0chain/0chain/blob/27e417dad41c6fd1484a66b16d5bb491cd72f976/code/go/0chain.net/smartcontract/storagesc/blobber.go#L306. It should also be fixed. I don't think this issue is fixed now.

[2022-05-06 09:21] cnlangzi commented on #1112
and `newallocation` doesn't work like you mentioned . see https://github.com/0chain/0chain/blob/27e417dad41c6fd1484a66b16d5bb491cd72f976/code/go/0chain.net/smartcontract/storagesc/allocation.go#L297

so this is a thread-safe issue for related blobber reading/writing.

[2022-05-06 14:08] service-0chain commented on #1198
Completed here --> https://github.com/0chain/0chain/pull/1244

[2022-05-07 01:57] #1178 closed, assigned to ssardana08

[2022-05-07 05:10] peterlimg opened #1246 "Add round number to transaction input field to avoid duplicate transactions generated"
The `blobber_block_rewards`  transaction has empty `input` data,  which could lead to duplicate transactions being generated.

[2022-05-07 08:36] Dmdv commented on #1238
Fixed in https://github.com/0chain/0chain/pull/1232

[2022-05-07 08:36] #1238 closed, assigned to Dmdv

[2022-05-07 12:06] #1216 closed, assigned to ssardana08

[2022-05-07 15:06] dabasov opened #1249 "cleanup tx_pool after block is finalized"
Now transactions are deleted from the pool only after TOLERANCE_TIME, but if transaction is finalized it can't be executed in other block again. Add hook to block finalization that triggers async tx_pool cleanup

[2022-05-07 17:31] ssardana08 commented on #1050
Currently partition shuffling logic might be needed at following places, but those are well handled with current implementation:
- generate_challenge: in generate_challenge the partitions are static, but the selection process is highly random, so we should not need shuffling.
- block rewards: block rewards partitions are dynamic. meaning they are created in n rounds, used in n+1th round only once

[2022-05-07 17:31] #1050 closed, assigned to MurashovVen

[2022-05-08 07:59] #1246 closed, assigned to peterlimg

[2022-05-08 13:19] rrrooommmaaa opened #1252 "run a list of conductor tests by file mask"
Need to update conductor code to be able to run a group of scripts by mask,
e.g. `view-change.fault-tolerance.*`

_Originally posted by @rrrooommmaaa in https://github.com/0chain/0chain/pull/1251#discussion_r867484111_

[2022-05-09 06:42] peterlimg opened #1255 "Tokens burn unexpectedly due to type casting"
Type casting in [DistributeReward](https://github.com/0chain/0chain/blob/ecc4c2fc7ad1ed95249e10d505aabf342c03e1fe/code/go/0chain.net/smartcontract/stakepool/stakepool.go#L183) cause burn tokens. Fix it and check if it is possible to add sanity checking for each transaction that the input tokens must be the same as the output tokens.

[2022-05-09 20:22] dabasov opened #1259 "create tx_pool diagnostic page"
Since we are moving to much longer TTL of transactions (30 secs now -> 10 minutes at least). It will be useful to know what transactions are in the pool and why (old nonce, invalid or just waiting). It should be short tx info similar to what we have now for txs in the block, but for tx_pool

[2022-05-09 22:24] #765 closed, assigned to dabasov

[2022-05-10 11:04] Sriep opened #1260 "Optional transfer and mint table"
We want a new event database table to hold every [mint](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/chaincore/state/mint.go#L12) and [transfer](https://github.com/0chain/0chain/blob/staging/code/go/0chain.net/chaincore/state/transfer.go#L15). This will help with system tests, and also provide a way to make a detailed investigation of token flow if, needed. However some users m

[2022-05-10 21:50] dabasov opened #1261 "gossip transactions"
Transactions will be usually distributed among small portion of miners and can be delayed for execution, especially when they are chained. To avoid this imbalance lower ranked blocks can be used to gossip transactions among all miners.
When receiving new block for validation, miner can include its transactions to own pool no matter of the rank of the block, if these transactions are missing.

[2022-05-11 06:22] peterlimg opened #1262 "Add gitactions to run benchmark tests"
Setup a github action to run benchmark tests for new PRs, new changes should not break the benchmark code.

[2022-05-11 10:42] #362 closed

[2022-05-11 10:43] dabasov commented on #362
won't reproduce

[2022-05-11 10:51] dabasov commented on #233
agree with @shravanshetty1 this process better left for developers

[2022-05-11 10:51] #233 closed

[2022-05-11 10:58] dabasov commented on #417
@cnlangzi is it correct repo for this issue?

[2022-05-11 11:04] dabasov commented on #629
it's now in

[code]

[2022-05-11 11:04] dabasov commented on #629
we should synchronize access to chain data fields

[2022-05-11 11:07] dabasov commented on #670
@peterlimg this should be fixed after I tx_pool is cleaned on block finalization and finalized transactions are deleted, we can mark it as duplicated I think

[2022-05-11 11:12] peterlimg commented on #670
I'll have a test to check if this still exist.

[2022-05-11 11:12] #738 closed, assigned to jkrus

[2022-05-11 11:13] dabasov commented on #738
closed in https://github.com/0chain/0chain/pull/1082

[2022-05-11 11:27] dabasov commented on #1112
@cnlangzi why smart contract issue can be threadsafe? all data is stored in MPT which is thread safe and there are no concurrent execution of transactions atm

[2022-05-11 18:54] ssardana08 commented on #319
@peterlimg with decimal package @dabasov had a point:
[code]
why can't we just use uint64?

[2022-05-11 23:32] peterlimg commented on #202
Fixed via #1065

[2022-05-11 23:32] #202 closed

[2022-05-11 23:37] peterlimg commented on #670
This issue seems is mainly caused by the transaction generators, so clean tx_pool on block finalization may not able to fix the problem.

[2022-05-12 00:03] peterlimg commented on #319
@sum-it08 tokens will be saved in MPT all in uint64, but APIs/CLI may provide string float values, and we need to convert it to uint64 to participant the tokens calculation. Also we need to limit the decimal numbers, it should be `10` for us.

[2022-05-12 02:23] peterlimg opened #1269 "Do pagination for ALL event db APIs to avoid unlimited size of data returned"
APIs such as the `/openchallenges` will return all the open challenges for a blobber in 30m, which will drag down the performance of sharders. We need to check other APIs that may return large resources list as well and do pagination.

[2022-05-12 05:46] peterlimg opened #1270 "Check if there are tokens burned after each transaction"
We need to check if transactions have tokens burned unexpectedly due to any reason, need to check code to confirm how this constraint checking could be implemented and applied.

Related issue #1255

TODOs:
- [x] For `send` transaction, verify that the sum of the original balances of `from` and `to` is equal to the sum of their updated balances after executing the transaction, including the fee.
-

[2022-05-12 07:13] ssardana08 commented on #319
Didn't get this - if we're keeping tokens in MPT as uint64 and doing all calculation in uint64, where would decimal be coming?

[2022-05-12 10:58] iamrz1 commented on #912
Closed by https://github.com/0chain/0chain/pull/1175

[2022-05-12 10:58] #912 closed, assigned to iamrz1

[2022-05-12 12:50] peterlimg commented on #1085
@Dmdv  we only need to limit the MPT object size at the moment, checking the string length could be done `post-mainnet`, as we may need to do through msgp tag validation instead of checking all manually.

[2022-05-12 13:49] peterlimg opened #1276 "VerifyChallenge should check if the tickets are from selected validators"
When a challenge is generated, we will select validators base on seed randomly, however, in the [verifyChallenge](https://github.com/0chain/0chain/blob/91cf7ed35ebdd9d83855a9c56e6885f0f3f7baf8/code/go/0chain.net/smartcontract/storagesc/challenge.go#L428-L442) process, we only verify if the tickets are signed correctly, whether they are from selected validators was not checked. To fix this issue we

[2022-05-12 15:24] Dmdv commented on #1085
@peterlimg I agree, tag validation is more generic, it's no use in checking it imperatively in the code but declaratively

[2022-05-12 15:25] Dmdv commented on #1085
@peterlimg Regarding MPT object size, what would be an idea?
I guess, on every saving or when transaction is submitted with every insert?

[2022-05-12 21:59] #769 closed, assigned to ssardana08

[2022-05-13 02:14] peterlimg commented on #1085
@Dmdv the object size need to be checked with every insert, check here https://github.com/0chain/0chain/blob/a8f045c6d96a9f3c021a8126e5476236618024f7/code/go/0chain.net/core/util/merkle_patricia_trie.go#L133-L136

[2022-05-14 08:26] ssardana08 commented on #319
from @peterlimg

Re fixing the rounding errors, there are mainly two things we need to fix:
- Fixing the rounding error, apparently
- Add constraint checking to ensure no token is burned after each transaction. If every transaction could pass this validation, we basically don’t need the event db to record mint and transfer records. As this will soon fill up the database. Also, the transactions con

[2022-05-14 10:25] rrrooommmaaa commented on #1252
fixed by PR #1254

[2022-05-14 10:25] #1252 closed, assigned to rrrooommmaaa

[2022-05-15 14:11] #1221 closed, assigned to Dmdv

[2022-05-16 03:02] #417 closed

[2022-05-16 04:35] peterlimg commented on #739
Since redis is mainly used as in-memory cache on nodes, and data may not be persistent between restarts. Consider to use rocksdb, we are using it for storing blockchain data, so we can use it for infinite disk extension easily.

[2022-05-16 04:35] #739 closed

[2022-05-16 10:37] Sriep commented on #1064
## Suggestion

Write pools are used to pay for uploads and min-lock-demand. uploads are paid only if the blobber passes challenges and min-lock-demand is paid only if rewards from uploads is insufficient.

Currently payment are paid from write pools at the moment they are needed. So on upload tokens are moved from linked write pools to the challenge pool, and moved back to the owner if challenges

[2022-05-17 15:59] Sriep commented on #1112
[PR1245](https://github.com/0chain/0chain/blob/5a389c820b773b9a9648bf9b2e0de8003a9c9672/code/go/0chain.net/smartcontract/storagesc/provider.go#L9) redoes the blobberHealthCheck code. But I don't see the therad safe issue.

[2022-05-18 00:32] #1112 closed, assigned to cnlangzi

[2022-05-18 09:15] Sriep commented on #757
Reopened - This has not been fixed yet.

Events should be ordered and there should be a hash stored in the MPT for the events for a block.

The event database is always in a processing round N state. If it receives a finished round N event it moves to a processing round N+1 state. (Or it could check an event_block_hash, and only proceed when the event_block_hash in the MPT equals the one calculate

[2022-05-18 14:51] ssardana08 opened #1284 "Challenge error"
[code]

[2022-05-18 19:21] ssardana08 commented on #1255
Closing this as it's duplicate of #319

[2022-05-18 19:21] #1255 closed, assigned to nobody

[2022-05-19 02:14] cnlangzi opened #1285 "challenge should not be generated if no any valid validator"
It is impossible to pass challenge if there is no any valid validator.  so challenge should not be generated if there is no any available validator.
<img width="2074" alt="Screen Shot 2022-05-19 at 10 10 51" src="https://user-images.githubusercontent.com/347651/169188856-cfd3f13b-9764-401c-b3a1-10a1282c0c99.png">

[2022-05-19 04:12] service-0chain commented on #1198
@dabasov
@rrrooommmaaa had created the 0chain conductor tests & @m-s-a-c have created gitactions for performing standard & complex scenarios conductor test. But conductor tests are failing due to some chain stuck issue as reported by @rrrooommmaaa.

gh actions --> https://github.com/0chain/0chain/actions/workflows/conductor-complex-scenarios-tests.yml
gh actions --> https://github.com/0chain/0chai

[2022-05-20 13:15] #1115 closed, assigned to dabasov

[2022-05-24 11:27] cnlangzi opened #1293 "fix mockery installation issue"
`24 May 22 11:26 UTC WRN Using go install to download mockery will likely break after June 1, 2022. Please view PR #456 for details. dry-run=false version=v2.12.2`

[code]

[2022-05-24 11:46] cnlangzi opened #1294 "the duplicated/deprecated code with EventDb should be removed."
https://0chain.slack.com/archives/G01FYNN6DK4/p1653360494498589?thread_ts=1653358843.171289&cid=G01FYNN6DK4

[2022-05-24 13:49] Sriep commented on #1064
# Suggestion II

### Currnet

The existing write pools
[code]
has a potentially unlimited number of allocation pools. This needs to change.

[code]
There is no need to split allocation pools into blobber pools.

### Changes

1. Remove write pools and blobber pools and related code.
2. Use allocation pools, index by pool id. we already have a list of an allocation's allocation pools.
3. Have a maxi

[2022-05-24 16:40] #657 closed, assigned to nobody

[2022-05-24 16:40] #926 closed, assigned to Sriep

[2022-05-25 00:14] cnlangzi opened #1296 "install postgres for unit-tests on github action `unit-tests/build`"
many unit tests are skipped on https://github.com/0chain/0chain/blob/staging/.github/workflows/unit-test.yml. Because postgres is not running .
if postgres is required on unit-test, it is better to install postgres in the github action.
check blobber [intergration-tests](https://github.com/0chain/blobber/blob/da3feebad661a56daffbaa17fc79554ed6d2d325/.github/workflows/tests.yml#L84) as an example

[2022-05-25 01:04] shaktals opened #1297 "New API for Average Storage Cost (TB/day) across all blobbers"
To be used on the new explorer, as per slack [thread](https://0chain.slack.com/archives/C02QDMYFQJG/p1653439010807139).

ping @Sriep @cnlangzi

[2022-05-25 02:30] cnlangzi opened #1299 "transaction should be fixed on ememorystore"
[code]

<img width="1187" alt="Screen Shot 2022-05-25 at 10 26 42" src="https://user-images.githubusercontent.com/347651/170166853-dec3ed3b-cd9d-4256-8bbb-e9dfddfad7cd.png">

[2022-05-25 02:44] cnlangzi opened #1300 "panicking issue on getBlobbers"
<img width="1399" alt="Screen Shot 2022-05-25 at 10 44 13" src="https://user-images.githubusercontent.com/347651/170168731-edeeb58a-6985-43b3-8266-70901ea45032.png">

[code]

[2022-05-25 08:10] Sriep opened #1303 "Add swagger documentation auto-generation to CI"
Add swagger documentation auto-generation to CI. New github action to run
[code]
Then generate a markdown file https://goswagger.io/usage/markdown.html, put in `0china/docs`.

[2022-05-25 10:49] #1300 closed, assigned to cnlangzi